<div class="pageText" id="pageText">
<p>Used to indicate whether the element can have the focus. By setting this to 'ignore', you can disable focusing the element, which means that the user will not be able to activate the element. The element will be skipped in the tab sequence. A similar property 'user-focus' has been proposed for CSS3.</p>
<dl>
<dt><code>ignore</code></dt> <dd>The element does not accept the keyboard focus and will be skipped in the tab order.</dd> <dt><code>normal</code></dt> <dd>The element can accept the keyboard focus.</dd>
</dl>
<div class="note">
<strong>Note:</strong> This property doesn't work for XUL 
<code><a rel="custom" href="https://developer.mozilla.org/en/XUL/textbox">textbox</a></code> elements, because the <code>textbox</code> itself never takes focus. Instead, XBL creates an anonymous HTML 
<code><a rel="custom" href="https://developer.mozilla.org/en/HTML/Element/input">&lt;input&gt;</a></code> element inside the <code>textbox</code>, and that element is what receives focus. You can stop the <code>textbox</code> from taking keyboard focus by setting its tab index to -1, and from taking mouse focus by preventing the default action of <code>mousedown</code> events.</div>
</div>