<div class="pageText" id="pageText">
<p><span class="lang lang-en"><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span>  « <a title="en/CSS_Reference/Mozilla_Extensions" rel="internal" href="https://developer.mozilla.org/en/CSS_Reference/Mozilla_Extensions">CSS Reference:Mozilla Extensions</a></span></p>
<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p><code>-moz-padding-start</code> specifies the logical start padding for an element. The computed value of the element's <code>direction</code> property then determines how the padding is translated to a physical padding. If the computed direction is left-to-right ("ltr") then <code>-moz-padding-start</code> sets the left padding; otherwise it sets the right padding.</p>
<p>See also 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/-moz-padding-end">-moz-padding-end</a></code></p>
<ul>
<li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/initial_value" title="en/CSS/initial_value">Initial value</a>
</span>: 0</li> <li>Applies to: all elements except table-row-group, table-header-group, table-footer-group, table-row, table-column-group and table-column</li> <li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/inheritance" title="en/CSS/inheritance">Inherited</a>
</span>: no</li> <li>Percentages: refer to 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/width">width</a></code> of closest block-level ancestor</li> <li>Media: <span class="lang lang-en">
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/Media/Visual">visual</a></code> </span>
</li> <li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/computed_value" title="en/CSS/computed_value">Computed value</a>
</span>: the percentage as specified or the absolute length</li>
</ul>
</div>
<div id="section_2">
<span id="Syntax"></span><h3 class="editable">Syntax</h3>
<pre class="eval">
-moz-padding-start: 

<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/length">&lt;length&gt;</a></code> | <span class="lang lang-en">
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/percentage">&lt;percentage&gt;</a></code></span> | 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/inherit">inherit</a></code> | 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/auto">auto</a></code>;
</pre>
</div>
<div id="section_3">
<span id="Values"></span><h3 class="editable">Values</h3>
<dl>
<dt>

<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/length">&lt;length&gt;</a></code>
</dt> <dd>Specifies a fixed width.</dd> <dt><span class="lang lang-en">
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/percentage">&lt;percentage&gt;</a></code></span></dt> <dd>A percentage with respect to the width of the containing block.</dd>
</dl>
</div>
<div id="section_4">
<span id="Examples"></span><h3 class="editable">Examples</h3>
<p>
<a rel="custom" href="http://developer.mozilla.org/samples/cssref/-moz-padding-start.html">View Live Examples</a></p>
<pre>
  .content {
    -moz-padding-start: 5%;
  }

  .sidebox {
    -moz-padding-start: 10px;
  } 
</pre>
</div>
<div id="section_5">
<span id="Notes"></span><h3 class="editable">Notes</h3>
</div>
<div id="section_6">
<span id="Specifications"></span><h3 class="editable">Specifications</h3>
<p>Not yet candidate for Specifications</p>
<p><a class=" external" title="http://www.w3.org/TR/css3-writing-modes/" rel="external" href="http://www.w3.org/TR/css3-writing-modes/" target="_blank">CSS 3 Writing Modes</a></p>
</div>
<div id="section_7">
<span id="See_also"></span><span id="Browser_Compatibility"></span><h3 class="editable">Browser Compatibility</h3>
<table class="standard-table"><tbody>
<tr>
<th>Browser</th> <th>Lowest version</th> </tr>
<tr>
<td>Internet Explorer</td> <td>--</td> </tr>
<tr>
<td>Firefox (Gecko)</td> <td> Firefox 3 (1.9) <span style="font-size: x-small; ">(-moz-padding-start)</span>
</td> </tr>
<tr>
<td>Opera</td> <td>--</td> </tr>
<tr>
<td> <p>Safari | Chrome | WebKit</p> </td> <td> <p>3 | 2 | 528.17 <span style="font-size: x-small; ">(-webkit-padding-start)</span></p> </td> </tr>
</tbody></table>
</div>
<div id="section_8">
<span id="See_also"></span><h3 class="editable">See also</h3>
<p>

<span class="lang lang-*">
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/padding">padding</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/padding-top">padding-top</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/padding-right">padding-right</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/padding-bottom">padding-bottom</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/padding-left">padding-left</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/-moz-padding-start">-moz-padding-start</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/-moz-padding-end">-moz-padding-end</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/border">border</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/margin">margin</a></code></span></p>
<p></p>
</div>
</div>