<div class="pageText" id="pageText">
<p> <span class="lang lang-en"><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span>  « <a title="en/CSS_Reference/Mozilla_Extensions" rel="internal" href="https://developer.mozilla.org/en/CSS_Reference/Mozilla_Extensions">CSS Reference:Mozilla Extensions</a></span>
</p>
<div id="section_1">
<span id="Summary"></span><h3 class="editable"> Summary </h3>
<p>In Mozilla applications, <code>-moz-outline-radius-topleft</code> sets the rounding of the top-left corner of the outline.
</p>
<p>See the <a rel="internal" href="https://developer.mozilla.org/en/CSS/-moz-outline-radius" title="en/CSS/-moz-outline-radius">-moz-outline-radius</a> property for more information.
</p>
</div>
</div>