<div class="pageText" id="pageText">
<p><span class="lang lang-en"><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span>  « <a title="en/CSS_Reference/Mozilla_Extensions" rel="internal" href="https://developer.mozilla.org/en/CSS_Reference/Mozilla_Extensions">CSS Reference:Mozilla Extensions</a></span></p>
<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p>In Mozilla applications like Firefox,<code> -moz-border-bottom-colors </code>sets a list of colors for the bottom border.</p>
<p>See the 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/-moz-border-top-colors">-moz-border-top-colors</a></code> property for more information.</p>
<p></p>
</div>
</div>