<div class="pageText" id="pageText">
<p><span class="lang lang-en"><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span>  « <a title="en/CSS_Reference/Mozilla_Extensions" rel="internal" href="https://developer.mozilla.org/en/CSS_Reference/Mozilla_Extensions">CSS Reference:Mozilla Extensions</a></span></p>
<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p>The<code> -moz-binding </code>CSS property is used by Mozilla-based applications to attach an <a title="en/XBL" rel="internal" href="https://developer.mozilla.org/en/XBL">XBL</a> binding to a DOM element.</p>
<ul>
<li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/initial_value" title="en/CSS/initial_value">Initial value</a>
</span>: 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/none">none</a></code>
</li> <li>Applies to: all elements (not generated content or pseudo-elements)</li> <li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/inheritance" title="en/CSS/inheritance">Inherited</a>
</span>: no</li> <li>Media: <span class="lang lang-en">
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/Media/Visual">visual</a></code> </span>
</li> <li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/computed_value" title="en/CSS/computed_value">Computed value</a>
</span>: as specified</li>
</ul>
</div>
<div id="section_2">
<span id="Syntax"></span><h3 class="editable">Syntax</h3>
<p><code> -moz-binding:  <span class="lang lang-en">
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/uri">&lt;uri&gt;</a></code></span>| none</code></p>
</div>
<div id="section_3">
<span id="Values"></span><h3 class="editable">Values</h3>
<dl>
<dt>&lt;uri&gt;</dt> <dd>The URI for the XBL binding (including the fragment identifier).</dd> <dt><code>none</code></dt> <dd>No XBL binding is applied to the element.</dd>
</dl>
</div>
<div id="section_4">
<span id="Examples"></span><h3 class="editable">Examples</h3>
<pre>
.exampleone {
    -moz-binding: url("<span class="plain">http://www.example.org/xbl/htmlBindings.xml#checkbox</span>");
}</pre>
</div>
<div id="section_5">
<span id="See_also"></span><h3 class="editable">See also</h3>
<ul>
<li><a title="en/XBL/XBL_1.0_Reference/Binding_Attachment_and_Detachment" rel="internal" href="https://developer.mozilla.org/en/XBL/XBL_1.0_Reference/Binding_Attachment_and_Detachment">XBL Reference: Binding Attachment and Detachment</a></li> <li><a title="en/XUL_Tutorial/Introduction_to_XBL" rel="internal" href="https://developer.mozilla.org/en/XUL_Tutorial/Introduction_to_XBL">XUL Tutorial: Introduction to XBL</a></li>
</ul>
<p></p>
</div>
</div>