<div class="pageText" id="pageText">
<p><span class="lang lang-en"><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span>  « <a title="en/CSS_Reference/Mozilla_Extensions" rel="internal" href="https://developer.mozilla.org/en/CSS_Reference/Mozilla_Extensions">CSS Reference:Mozilla Extensions</a></span></p>
<p>In Mozilla products like Firefox, the<code> -moz-grab </code>CSS cursor indicates that an element or an object can be grabbed to be moved, to be repositioned in drag-and-drop DHTML snippet.</p>
<p>The<code> -moz-grab </code>cursor looks like a hand with its 5 fingers extended.<br>
On Windows, it looks like this: <img alt="-moz_grab.png" src="https://developer.mozilla.org/@api/deki/files/3440/=grab.gif"></p>
<p>The natural complementary cursor value for<code> -moz-grab </code>is<code> -moz-grabbing</code>. Together, these 2 cursor values are graphically very intuitive.</p>
<ul>
<li>This cursor value is a <strong>Mozilla CSS Extension</strong>.</li> <li>There is no CSS standard for this cursor.</li> <li>Support since Gecko 1.8/ Firefox 1.5.</li> <li>This cursor is not recommended for use on public web pages. <a href="../../../../en/Using_URL_values_for_the_cursor_property" rel="internal" class="internal">Custom image cursors</a> may provide better cross browser compatibility.</li>
</ul>
<p><strong>See also:</strong>  
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/cursor">cursor</a></code>,  
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/-moz-grabbing">-moz-grabbing</a></code></p>
<p></p>
</div>