<div class="pageText" id="pageText">
<p><span class="lang lang-en"><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span>  « <a title="en/CSS_Reference/Mozilla_Extensions" rel="internal" href="https://developer.mozilla.org/en/CSS_Reference/Mozilla_Extensions">CSS Reference:Mozilla Extensions</a></span></p>
<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p>In left to right (LTR) situations the<code> -moz-margin-start </code>CSS property specifies the left margin and is synonymous with 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/margin-left">margin-left</a></code>. In RTL cases it sets the right margin (same as 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/margin-right">margin-right</a></code>).</p>
<p>In Right to Left (RTL) situations<code> -moz-margin-start </code>flips the elements margin without having to specify absolute left or right.</p>
<ul>
<li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/initial_value" title="en/CSS/initial_value">Initial value</a>
</span>: 0</li> <li>Applies to: all elements except those with table display types other than <code>table-caption</code>, <code>table</code>, and <code>inline-table</code>
</li> <li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/inheritance" title="en/CSS/inheritance">Inherited</a>
</span>: no</li> <li>Percentages: refer to 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/width">width</a></code> of closest block-level ancestor</li> <li>Media: <span class="lang lang-en">
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/Media/Visual">visual</a></code> </span>
</li> <li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/computed_value" title="en/CSS/computed_value">Computed value</a>
</span>: the percentage as specified or the absolute length</li>
</ul>
</div>
<div id="section_2">
<span id="Syntax"></span><h3 class="editable">Syntax</h3>
<pre class="eval">
-moz-margin-start:  

<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/length">&lt;length&gt;</a></code>| <span class="lang lang-en">
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/percentage">&lt;percentage&gt;</a></code></span>| 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/inherit">inherit</a></code>| 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/auto">auto</a></code>
</pre>
</div>
<div id="section_3">
<span id="Values"></span><h3 class="editable">Values</h3>
<dl>
<dt>&lt;length&gt;</dt> <dd> Specifies a fixed width. </dd> <dt>&lt;percentage&gt;</dt> <dd> a percentage with respect to the width of the containing block. </dd>
</dl>
</div>
<div id="section_4">
<span id="Examples"></span><h3 class="editable">Examples</h3>
<p style="-moz-margin-start:33%; -webkit-margin-start:33%; border:double"><code>-moz-margin-start:33%; -webkit-margin-start:33%;</code></p>
<p style="direction:rtl; -moz-margin-start:33%; -webkit-margin-start:33%; border:double"><code style="direction:ltr; unicode-bidi:embed">direction:rtl; -moz-margin-start:33%; -webkit-margin-start:33%;</code></p>
</div>
<div id="section_5">
<span id="Specifications"></span><h3 class="editable">Specifications</h3>
<p>Not (yet) candidate for specifications.</p>
<ul>
<li>
<a class="external" title="http://www.w3.org/TR/css3-box/#margins" rel="external" href="http://www.w3.org/TR/css3-box/#margins" target="_blank">CSS 3 Box model #margins</a> Working draft</li>
</ul>
</div>
<div id="section_6">
<span id="Browser_compatibility"></span><h3 class="editable">Browser compatibility</h3>
<table class="standard-table"><tbody>
<tr>
<th>Browser</th> <th>Lowest Version</th> <th>Support of</th> </tr>
<tr>
<td>Internet Explorer</td> <td>---</td> <td>---</td> </tr>
<tr>
<td>Firefox (Gecko)</td> <td>1.0 (1.7)</td> <td><code>-moz-margin-start</code></td> </tr>
<tr>
<td>Opera</td> <td>---</td> <td>---</td> </tr>
<tr>
<td rowspan="2">Safari (WebKit)</td> <td>2.0 (412)</td> <td><code>-khtml-margin-start</code></td> </tr>
<tr>
<td>3.0 (522)</td> <td><code>-khtml-margin-start | -webkit-margin-start</code></td> </tr>
</tbody></table>
</div>
<div id="section_7">
<span id="See_also"></span><h3 class="editable">See also</h3>
<p>

<span class="lang lang-*">
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/margin">margin</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/margin-top">margin-top</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/margin-right">margin-right</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/margin-bottom">margin-bottom</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/margin-left">margin-left</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/-moz-margin-start">-moz-margin-start</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/-moz-margin-end">-moz-margin-end</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/border">border</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/padding">padding</a></code></span></p>
<p></p>
</div>
</div>