<div class="pageText" id="pageText">
<p><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span> </p>
<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p>The CSS <code>box-flex</code> property specifies how a box grows to fill the box that contains it, in the direction of the containing box's layout.</p>
<ul>
<li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/initial_value" title="en/CSS/initial_value">Initial value</a>
</span>: 0</li> <li>Applies to: elements that are direct children of an element with a CSS 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/display">display</a></code> value of 
<code><a rel="internal" href="https://developer.mozilla.org/en/CSS/box" class="new">box</a></code> or 
<code><a rel="internal" href="https://developer.mozilla.org/en/CSS/inline-box" class="new">inline-box</a></code>
</li> <li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/inheritance" title="en/CSS/inheritance">Inherited</a>
</span>: no</li> <li>Percentages: n/a</li> <li>Media: <span class="lang lang-en">
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/Media/Visual">visual</a></code> </span>
</li> <li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/computed_value" title="en/CSS/computed_value">Computed value</a>
</span>: as specified</li>
</ul>
</div>
<div id="section_2">
<span id="Syntax"></span><h3 class="editable">Syntax</h3>
<pre class="eval">box-flex: <em>number</em>           /* As specified */
-moz-box-flex: <em>number</em>      /* Mozilla */
-webkit-box-flex: <em>number</em>   /* WebKit */
</pre>
</div>
<div id="section_3">
<span id="Values"></span><h3 class="editable">Values</h3>
<dl>
<dt>0</dt> <dd>The box does not grow.</dd> <dt>&gt; 0</dt> <dd>The box grows to fill a proportion of the available space.</dd>
</dl>
</div>
<div id="section_4">
<span id="Examples"></span><h3 class="editable">Examples</h3>

          <pre name="code" class="xml">&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;head&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;style&gt;
      div.example {
        display: box;
        display: -moz-box;
        display: -webkit-box;                
      }
      div.example &gt; p:nth-child(1) {
        box-flex: 1;            /* As specified */
        -moz-box-flex: 1;       /* Mozilla */
        -webkit-box-flex: 1;    /* WebKit */
      }
      div.example &gt; p:nth-child(2) {
        box-flex: 0;            /* As specified */
        -moz-box-flex: 0;       /* Mozilla */
        -webkit-box-flex: 0;    /* WebKit */
      }
    &lt;/style&gt;
    &lt;div class="example"&gt;
      &lt;p&gt;I will expand to fill extra space&lt;/p&gt;
      &lt;p&gt;I will not expand&lt;/p&gt;
    &lt;/div&gt;
  &lt;/body&gt;
&lt;/html&gt;</pre>
        
</div>
<div id="section_5">
<span id="Notes"></span><h3 class="editable">Notes</h3>
<p>The containing box allocates the available extra space in proportion to the flex value of each of the content elements.</p>
<p>Content elements that have zero flex do not grow.</p>
<p>If only one content element has nonzero flex, then it grows to fill the available space.</p>
<p>Content elements that have the same flex grow by the same absolute amounts.</p>
<p>If the flex value is set using the element's <code>flex</code> attribute, then the style is ignored.</p>
<p>To make XUL elements in a containing box the same size, set the containing box's <code>equalsize</code> attribute to the value <code>always</code>. This attribute does not have a corresponding CSS property.</p>
<p>A trick to make all content elements in a containing box the same size, is to give them all a fixed size (e.g. <code>height: 0</code>), and the same box-flex value greater than zero (e.g. <code>box-flex: 1</code>).</p>
</div>
<div id="section_6">
<span id="Specifications"></span><h3 class="editable">Specifications</h3>
<p><a class="external" rel="external" href="http://www.w3.org/TR/css3-flexbox/" title="http://www.w3.org/TR/css3-flexbox/" target="_blank">Flexible Box Layout Module (W3C Working Draft)</a></p>
<p></p>
<div class="note">
<strong>Note:</strong> The current state of this specification does not reflect Mozilla's or WebKit's implementation.</div>

<p><a class="external" rel="external" href="http://www.w3.org/TR/2009/WD-css3-flexbox-20090723/" title="http://www.w3.org/TR/2009/WD-css3-flexbox-20090723/" target="_blank">Old Flexible Box Layout Module</a></p>
<p></p>
<div class="note">
<strong>Note:</strong> WebKit and Mozilla's implementations reflect this version of the specification</div>

</div>
<div id="section_7">
<span id="See_Also"></span><span id="See_also"></span><h3 class="editable">See also</h3>
<p>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/-moz-box-orient">-moz-box-orient</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/box-pack">box-pack</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/-moz-box-direction">-moz-box-direction</a></code></p>
<p> </p>
<p></p>
</div>
</div>