<div class="pageText" id="pageText">
<p>Controls the appearance (only) of selection.  This does not have any affect on actual selection operation. This doesn't have any effect on content loaded as chrome, except in textboxes.</p>
<dl>
<dt>none</dt> <dd>The text of the element and sub-elements will appear as if they cannot be selected. Any use of <a title="En/DOM/Selection" class="internal" rel="internal" href="https://developer.mozilla.org/en/DOM/Selection">Selection</a> however will contain these elements. </dd> <dt>text</dt> <dd>The text can be selected by the user.</dd> <dt>-moz-none</dt> <dd>The text of the element and sub-elements cannot be selected, but selection can be enabled on sub-elements using<code> -moz-user-select:text </code>.</dd> <dt>all</dt> <dd>In HTML editor, if double-click or context-click occurred in sub-elements, the highest ancestor with this value will be selected.</dd>
</dl>
<div id="section_1">
<span id="See_also"></span><h3 class="editable">See also</h3>
<p><a class="internal" title="En/CSS/::selection" rel="internal" href="https://developer.mozilla.org/En/CSS/%3A%3Aselection"><code>::-moz-selection</code></a>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/%3A%3Aselection">::selection</a></code></p>
<p></p>
</div>
</div>