<article><h1>CSS property: <code>-webkit-perspective-origin</code>
</h1>

    <section><h1>Description</h1>
        <p>Sets the origin of the -webkit-perspective property.</p>
<p>Sets the origin of the <a href="/property/-webkit-perspective" class="property" data-description="Gives depth to a scene, causing elements farther away from the viewer to appear smaller.">-webkit-perspective</a> property described in <a href="http://developer.apple.com/safari/library/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/doc/uid/TP30001266-_webkit_perspective">"-webkit-perspective."</a></p>
<p>This property effectively sets the x and y position at which the viewer appears to be looking at the children of the element. The default value is <code>50%</code> for both x and y coordinates.</p>


    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-perspective-origin: &lt;posx&gt; &lt;posy&gt;;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>&lt;posx&gt;</dt>
<dd>
<p>The x-origin as a percentage or value.</p>
<table>
<tr>
<td class="value default">50% (by default)</td>
<td class="description">The default value is <code>50%</code>.</td>
</tr>
<tr>
<td class="value">center</td>
<td class="description">Sets the x or y origin to the center of the element’s border box. If this constant appears before <a href="/property/left" class="property" data-description="Absolute position from the left edge of the containing block">left</a> or <a href="/property/right" class="property" data-description="Absolute position from the right edge of the containing block">right</a>, specifies the y-origin. If it appears after <a href="/property/top" class="property" data-description="Absolute position from the top edge of the containing block">top</a> or <a href="/property/bottom" class="property" data-description="Absolute position from the bottom edge of the containing block">bottom</a>, specifies the x-origin. If appears alone, centers both the x and y origin.</td>
</tr>
<tr>
<td class="value">left</td>
<td class="description">Sets the x-origin to the left side of the border box.</td>
</tr>
<tr>
<td class="value">right</td>
<td class="description">Sets the x-origin to the right side of the border box.</td>
</tr>
</table>
</dd>
<dt>&lt;posy&gt;</dt>
<dd>
<p>The y-origin as a percentage or value.</p>
<table>
<tr>
<td class="value default">50% (by default)</td>
<td class="description">The default value is <code>50%</code>.</td>
</tr>
<tr>
<td class="value">center</td>
<td class="description">Sets the x or y origin to the center of the element’s border box. If this constant appears before <a href="/property/left" class="property" data-description="Absolute position from the left edge of the containing block">left</a> or <a href="/property/right" class="property" data-description="Absolute position from the right edge of the containing block">right</a>, specifies the y-origin. If it appears after <a href="/property/top" class="property" data-description="Absolute position from the top edge of the containing block">top</a> or <a href="/property/bottom" class="property" data-description="Absolute position from the bottom edge of the containing block">bottom</a>, specifies the x-origin. If appears alone, centers both the x and y origin.</td>
</tr>
<tr>
<td class="value">top</td>
<td class="description">Sets the y-origin to the top of the element’s border box.</td>
</tr>
<tr>
<td class="value">bottom</td>
<td class="description">Sets the y-origin to the bottom of the element’s border box.</td>
</tr>
</table>
</dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-perspective-origin">iOS 2.0</a></li>        </ul></section></article>