<article><h1>CSS property: <code>-webkit-animation-iteration-count</code>
</h1>

    <section><h1>Description</h1>
        <p>Specifies the number of times an animation iterates.</p>
<p>This property is often used with a <a href="/property/-webkit-animation-direction" class="property" data-description="Determines whether the animation should play in reverse on alternate iterations.">-webkit-animation-direction</a> property set to alternate, which causes the animation to play in reverse on alternate iterations.</p>

    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-animation-iteration-count: &lt;number&gt; [, …];</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>&lt;number&gt;</dt>
<dd>
<p>The number of iterations. If <code>1</code>, the animation plays from beginning to end once. A value of <code>infinite</code> causes the animation to repeat forever. Noninteger values cause the animation to end partway through an interation. Negative values are invalid.</p>
<table>
<tr>
<td class="value default">1 (by default)</td>
<td class="description">The default value is <code>1</code>.</td>
</tr>
<tr>
<td class="value">infinite</td>
<td class="description">Repeats the animation forever.</td>
</tr>
</table>
</dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-animation-iteration-count">Safari 4.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-animation-iteration-count">iOS 2.0</a></li>        </ul></section></article>