<article><h1>CSS property: <code>-webkit-box-pack</code>
</h1>

    <section><h1>Description</h1>
        <p>Specifies alignment of child elements within the current element in the direction of orientation.</p>
<p>For elements whose children are aligned horizontally, a packing value of <code>start</code> indicates left alignment with extra space towards the right side, a value of <code>end</code> indicates right alignment with extra space to the left, a value of <code>center</code> indicates center alignment with extra space split evenly on either side, and a value of <code>justify</code> indicates that the outer elements should be aligned on the left and right, with space added evenly between the elements.</p>
<p>Similarly, for elements whose children are aligned vertically, a value of <code>start</code> indicates that the elements should be aligned to the top, a value of end indicates that the elements should be aligned to the bottom, and so on.</p>
<p>This property is similar to <a href="/property/-webkit-box-align" class="property" data-description="Specifies the alignment of nested elements within an outer flexible box element.">-webkit-box-align</a>, which specifies alignment in the opposite direction from the direction of orientation.</p>
<p>This property applies only to flexible box layouts. For more information about flexible boxes, see <a href="http://www.w3.org/TR/css3-layout/">http://www.w3.org/TR/css3-layout/</a>.</p>

    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-box-pack: &lt;alignment&gt;;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>&lt;alignment&gt;</dt>
<dd>
<p>The alignment of child elements.</p>
<table>
<tr>
<td class="value">center</td>
<td class="description">Child elements are aligned to the center of the element.</td>
</tr>
<tr>
<td class="value">end</td>
<td class="description">Child elements are aligned to the end of the element.</td>
</tr>
<tr>
<td class="value">justify</td>
<td class="description">Child elements are justified with both the start and end of the element.</td>
</tr>
<tr>
<td class="value">start</td>
<td class="description">Child elements are aligned to the start of the element.</td>
</tr>
</table>
</dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-box-pack">Safari 3.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-box-pack">iOS 1.0</a></li>        </ul></section></article>