<article><h1>CSS property: <code>-webkit-columns</code>
</h1>

    <section><h1>Description</h1>
        <p>A composite property that specifies the width and number of columns in a multicolumn flow layout.</p>
<p>See <a href="/property/-webkit-column-count" class="property" data-description="Specifies the number of columns desired in a multicolumn flow.">-webkit-column-count</a> and <a href="/property/-webkit-column-width" class="property" data-description="Specifies the width of the column in a multicolumn flow.">-webkit-column-width</a>.</p>


    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-columns: &lt;width&gt; &lt;count&gt;;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>&lt;width&gt;</dt>
<dd><p>The width of each column.</p></dd>
<dt>&lt;count&gt;</dt>
<dd><p>The number of columns.</p></dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-columns">Safari 3.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-columns">iOS 2.0</a></li>        </ul></section></article>