<article><h1>CSS property: <code>-webkit-animation-name</code>
</h1>

    <section><h1>Description</h1>
        <p>Specifies the name of an animation.</p>    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-animation-name: &lt;name&gt; [, …];</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>&lt;name&gt;</dt>
<dd>
<p>The name of the animation.</p>
                        <p>The name is used to select the <code>-webkit-keyframe</code> at-rule that provides the keyframes and property values for the animation. If the name does not match any <code>-webkit-keyframe</code> at-rule, there are no properties to be animated and the animation is not executed. See <a href="http://developer.apple.com/safari/library/documentation/AppleApplications/Reference/SafariCSSRef/Articles/OtherStandardCSS3Features.html#//apple_ref/doc/uid/TP40007601-SW4">@-webkit-keyframes</a> for a description of this rule.</p>
                        <p>If <code>"none"</code>, no animation is executed even if there is a <code>-webkit-keyframe</code> at-rule with that name. Setting this property to <code>"none"</code> explicitly disables animations.</p>
<table><tr>
<td class="value">""</td>
<td class="description">The default value is <code>""</code>.</td>
</tr></table>
</dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-animation-name">Safari 4.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-animation-name">iOS 2.0</a></li>        </ul></section></article>