<article><h1>CSS property: <code>-webkit-animation-play-state</code>
</h1>

    <section><h1>Description</h1>
        <p>Determines whether the animation is running or paused.</p>
<p>A running animation can be paused by setting this property to <code>paused</code>. Set this property to <code>running</code> to continue running a paused animation. A paused animation continues to display the current value of the animation in a static state. When a paused animation is resumed, it restarts from the current value, not from the beginning of the animation.</p>
    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-animation-play-state: &lt;play_state&gt; [, ...];</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>&lt;play_state&gt;</dt>
<dd>
<p>The state of an animation.</p>
<table>
<tr>
<td class="value default">running (by default)</td>
<td class="description">Plays the animation.</td>
</tr>
<tr>
<td class="value">paused</td>
<td class="description">Pauses the animation.</td>
</tr>
</table>
</dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-animation-play-state">Safari 4.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-animation-play-state">iOS 2.0</a></li>        </ul></section></article>