<article><h1>CSS property: <code>-webkit-margin-collapse</code>
</h1>

    <section><h1>Description</h1>
        <p>Specifies the behavior of an element’s vertical margins if it is adjacent to an element with a margin. Elements can maintain their respective margins or share a single margin between them.</p>
<p>This property allows you to emulate the behavior of some browsers in quirks mode where table cell margins are collapsed into the borders of vertically adjacent cells.</p>
<p>See <a href="/property/-webkit-margin-bottom-collapse" class="property" data-description="Specifies the behavior of an element’s bottom margin if it is adjacent to an element with a margin. Elements can maintain their respective margins or share a single margin between them.">-webkit-margin-bottom-collapse</a> and <a href="/property/-webkit-margin-top-collapse" class="property" data-description="Specifies the behavior of an element’s top margin if it is adjacent to an element with a margin. Elements can maintain their respective margins or share a single margin between them.">-webkit-margin-top-collapse</a>.</p>


    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-margin-collapse: &lt;collapse_behavior&gt;;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>&lt;collapse_behavior&gt;</dt>
<dd><p>The behavior of the vertical margins.</p></dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-margin-collapse">Safari 3.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-margin-collapse">iOS 1.0</a></li>        </ul></section></article>