<article><h1>CSS property: <code>-webkit-column-rule</code>
</h1>

    <section><h1>Description</h1>
        <p>Specifies the color, style, and width of the column rule.</p>
<p>The column rule appears in the middle of the column gap in a multicolumn flow layout.</p>
<p>See <a href="/property/-webkit-column-rule-color" class="property" data-description="Specifies the color of the column rule.">-webkit-column-rule-color</a>, <a href="/property/-webkit-column-rule-style" class="property" data-description="Specifies the style of the column rule.">-webkit-column-rule-style</a> and <a href="/property/-webkit-column-rule-width" class="property" data-description="Specifies the width of the column rule.">-webkit-column-rule-width</a>.</p>
    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-column-rule: &lt;width&gt; &lt;style&gt; &lt;color&gt;;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>&lt;width&gt;</dt>
<dd><p>The width of the column rule.</p></dd>
<dt>&lt;style&gt;</dt>
<dd><p>The style of the column rule.</p></dd>
<dt>&lt;color&gt;</dt>
<dd><p>The color of the column rule.</p></dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-column-rule">Safari 3.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-column-rule">iOS 2.0</a></li>        </ul></section></article>