<article><h1>CSS property: <code>-webkit-box-flex-group</code>
</h1>

    <section><h1>Description</h1>
        <p>Specifies groups of dynamically resizing elements that are adjusted to be the same size.</p>
<p>During size adjustment of flex boxes, any boxes with the same group number are adjusted to be the same size.</p>
<p>This property applies only to flexible box layouts. For more information about flexible boxes, see <a href="http://www.w3.org/TR/css3-layout/">http://www.w3.org/TR/css3-layout/</a>.</p>
    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-box-flex-group: &lt;group_number&gt;;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>&lt;group_number&gt;</dt>
<dd><p>The group number of the flexible element. Integer, nonnegative value.</p></dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-box-flex-group">Safari 3.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-box-flex-group">iOS 1.0</a></li>        </ul></section></article>