<article><h1>CSS property: <code>-webkit-mask-clip</code>
</h1>

    <section><h1>Description</h1>
        <p>Specifies whether the mask should extend into the border of a box.</p>    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-mask-clip: &lt;behavior&gt;;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>&lt;behavior&gt;</dt>
<dd><p>The clipping behavior of the mask.</p></dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-mask-clip">Safari 4.0</a></li>        </ul></section></article>