<article><h1>CSS property: <code>-webkit-tap-highlight-color</code>
</h1>

    <section><h1>Description</h1>
        <p>Overrides the highlight color shown when the user taps a link or a JavaScript clickable element in Safari on iPhone.</p>
<p>This property obeys the alpha value, if specified. If you don’t specify an alpha value, Safari on iPhone applies a default alpha value to the color. To disable tap highlighting, set the alpha value to <code>0</code> (invisible). If you set the alpha value to <code>1.0</code> (opaque), the element is not visible when tapped.</p>
    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-tap-highlight-color: &lt;color&gt;;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>&lt;color&gt;</dt>
<dd><p>The tapped link color.</p></dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-tap-highlight-color">iOS 1.1.1</a></li>        </ul></section></article>