<article><h1>CSS property: <code>-webkit-dashboard-region</code>
</h1>

    <section><h1>Description</h1>
        <p>Specifies the behavior of regions in a Dashboard widget.</p>
<p>This property is described in more detail in <a href="http://developer.apple.com/safari/library/documentation/AppleApplications/Conceptual/Dashboard_ProgTopics/Articles/ControlRegions.html#//apple_ref/doc/uid/TP40003045">“Declaring Control Regions”</a> in <a href="http://developer.apple.com/safari/library/documentation/AppleApplications/Conceptual/Dashboard_ProgTopics/Introduction/Introduction.html#//apple_ref/doc/uid/TP40002837">Dashboard Programming Topics</a>.</p>


    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-dashboard-region: none | dashboard-region(...) [...];</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>none</dt>
<dd><p>No behavior is specified.</p></dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-dashboard-region">Safari 3.0</a></li>        </ul></section></article>