<article><h1>CSS property: <code>-webkit-column-rule-style</code>
</h1>

    <section><h1>Description</h1>
        <p>Specifies the style of the column rule.</p>    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-column-rule-style: &lt;style&gt;;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>&lt;style&gt;</dt>
<dd>
<p>The style of the column rule.</p>
<table>
<tr>
<td class="value">dashed</td>
<td class="description">The column rule has a dashed line style.</td>
</tr>
<tr>
<td class="value">dotted</td>
<td class="description">The column rule has a dotted line style.</td>
</tr>
<tr>
<td class="value">double</td>
<td class="description">The column rule has a double solid line style.</td>
</tr>
<tr>
<td class="value">groove</td>
<td class="description">The column rule has a grooved style.</td>
</tr>
<tr>
<td class="value">hidden</td>
<td class="description">The column rule is hidden.</td>
</tr>
<tr>
<td class="value">inset</td>
<td class="description">The column rule has an inset style.</td>
</tr>
<tr>
<td class="value default">none (by default)</td>
<td class="description">The column rule has no style.</td>
</tr>
<tr>
<td class="value">outset</td>
<td class="description">The column rule has an outset style.</td>
</tr>
<tr>
<td class="value">ridge</td>
<td class="description">The column rule has a ridged style.</td>
</tr>
<tr>
<td class="value">solid</td>
<td class="description">The column rule has a solid line style.</td>
</tr>
</table>
</dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-column-rule-style">Safari 3.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-column-rule-style">iOS 2.0</a></li>        </ul></section></article>