<article><h1>CSS property: <code>-webkit-background-composite</code>
</h1>

    <section><h1>Description</h1>
        <p>Sets a compositing style for background images and colors.</p>    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-background-composite: &lt;compositing_style&gt;;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>&lt;compositing_style&gt;</dt>
<dd>
<p>The compositing style of the background.</p>
<table>
<tr>
<td class="value">border</td>
<td class="description">The background extends into the border area</td>
</tr>
<tr>
<td class="value">padding</td>
<td class="description">The background extends only into the padding area enclosed by the border</td>
</tr>
</table>
</dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-background-composite">Safari 3.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-background-composite">iOS 1.0</a></li>        </ul></section></article>