<article><h1>CSS property: <code>-webkit-transform-origin</code>
</h1>

    <section><h1>Description</h1>
        <p>Sets the origin for the <a href="/property/-webkit-transform" class="property" data-description="Specifies transformations to be applied to an element.">-webkit-transform</a> property.</p>
<p>The <a href="/property/-webkit-transform-origin" class="property" data-description="Sets the origin for the &lt;code&gt;-webkit-transform&lt;/code&gt; property.">-webkit-transform-origin</a> property establishes the origin for transforms applied to an element with respect to its border box.</p>
<p>The values may be expressed either as a CSS length unit or as a percentage of the element’s size. For example, a value of <code>50% 50%</code> causes transformations to occur around the element’s center. Changing the origin to <code>100% 0%</code> causes transformation to occur around the top-right corner of the element. The default value is <code>50% 50%</code>.</p>
<p>If only one argument is provided, it is interpreted as the horizontal position.</p>

    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-transform-origin: posx;</code></p>
<p><code>-webkit-transform-origin: posx posy;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>&lt;posx&gt;</dt>
<dd><p>The x origin as a percentage or value.</p></dd>
<dt>&lt;posy&gt;</dt>
<dd><p>The y origin as a percentage or value.</p></dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-transform-origin">Safari 3.1</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-transform-origin">iOS 2.0</a></li>        </ul></section></article>