<article><h1>CSS property: <code>-webkit-animation-timing-function</code>
</h1>

    <section><h1>Description</h1>
        <p>Defines how an animation progresses between keyframes.</p>
<p>
    The timing function is specified using a cubic Bezier curve.
    Use the constants to specify preset points of the curve or
    the <code>cubic-bezier</code> function to specify your own points.
    See <a href="http://developer.apple.com/safari/library/documentation/AppleApplications/Reference/SafariCSSRef/Articles/Functions.html#//apple_ref/css/func/cubic-bezier">cubic-bezier</a>
    for a description of the parameters for this function.
    See <a href="http://developer.apple.com/safari/library/documentation/AppleApplications/Reference/SafariCSSRef/Articles/Functions.html#//apple_ref/doc/uid/TP40007955-SW24">"Visual Effects Timing Functions"</a>
    for additional information about timing functions.
</p>
<p>
    This property applies between keyframes, not over the entire animation.
    For example, for an <code>ease-in-out</code> timing function, an animation eases
    in at the start of the keyframe and eases out at the end of the keyframe.
    A <a href="/property/-webkit-animation-timing-function" class="property" data-description="Defines how an animation progresses between keyframes.">-webkit-animation-timing-function</a> defined within a keyframe block
    applies to that keyframe; otherwise, the timing function specified for the animation is used.
</p>


    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-animation-timing-function: &lt;function&gt; [, …];</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>&lt;function&gt;</dt>
<dd>
<p>The function to apply between keyframes.</p>
<table>
<tr>
<td class="value">ease</td>
<td class="description">Equivalent to <code>cubic-bezier(0.25, 0.1, 0.25, 1.0)</code>.</td>
</tr>
<tr>
<td class="value">linear</td>
<td class="description">Equivalent to <code>cubic-bezier(0.0, 0.0, 1.0, 1.0)</code>.</td>
</tr>
<tr>
<td class="value">ease-in</td>
<td class="description">Equivalent to <code>cubic-bezier(0.42, 0, 1.0, 1.0)</code>.</td>
</tr>
<tr>
<td class="value">ease-out</td>
<td class="description">Equivalent to <code>cubic-bezier(0, 0, 0.58, 1.0)</code>.</td>
</tr>
<tr>
<td class="value">ease-in-out</td>
<td class="description">Equivalent to <code>cubic-bezier(0.42, 0, 0.58, 1.0)</code>.</td>
</tr>
</table>
</dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-animation-timing-function">Safari 4.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-animation-timing-function">iOS 2.0</a></li>        </ul></section></article>