<article><h1>CSS property: <code>-webkit-animation-direction</code>
</h1>

    <section><h1>Description</h1>
        <p>Determines whether the animation should play in reverse on alternate iterations.</p>    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-animation-direction: &lt;direction&gt; [, …];</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>&lt;direction&gt;</dt>
<dd>
<p>The direction to play.</p>
<table>
<tr>
<td class="value default">normal (by default)</td>
<td class="description">Play each iteration of the animation in the forward direction.</td>
</tr>
<tr>
<td class="value">alternate</td>
<td class="description">
<p>Play even-numbered iterations of the animation in the forward direction and odd-numbered iterations in the reverse direction.</p>
                            <p>When an animation is played in reverse, the timing functions are also reversed. For example, when played in reverse, an ease-in animation appears as an ease-out animation.</p>
</td>
</tr>
</table>
</dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-animation-direction">Safari 4.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-animation-direction">iOS 2.0</a></li>        </ul></section></article>