<article><h1>CSS property: <code>-webkit-border-top-right-radius</code>
</h1>

    <section><h1>Description</h1>
        <p>Specifies that the top-right corner of a box be rounded with the specified radius.</p>    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-border-top-right-radius: &lt;radius&gt;;</code></p>
<p><code>-webkit-border-top-right-radius: &lt;horizontal_radius&gt; &lt;vertical_radius&gt;;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>&lt;radius&gt;</dt>
<dd><p>The radius of the rounded corner.</p></dd>
<dt>&lt;horizontal_radius&gt;</dt>
<dd><p>The horizontal radius of the rounded corner.</p></dd>
<dt>&lt;vertical_radius&gt;</dt>
<dd><p>The vertical radius of the rounded corner.</p></dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-border-top-right-radius">Safari 3.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-border-top-right-radius">iOS 1.0</a></li>        </ul></section></article>