<article><h1>CSS property: <code>-webkit-transition</code>
</h1>

    <section><h1>Description</h1>
        <p>Combines <a href="/property/-webkit-transition-delay" class="property" data-description="Defines when the transition starts.">-webkit-transition-delay</a>, <a href="/property/-webkit-transition-duration" class="property" data-description="Defines how long the transition from the old value to the new value should take.">-webkit-transition-duration</a>, <a href="/property/-webkit-transition-property" class="property" data-description="Specifies the name of the CSS property to which the transition is applied.">-webkit-transition-property</a>, and <a href="/property/-webkit-transition-timing-function" class="property" data-description="Specifies how the intermediate values used during a transition are calculated.">-webkit-transition-timing-function</a> into a single property.</p>    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-transition: &lt;property&gt; &lt;duration&gt; &lt;timing_function&gt; &lt;delay&gt; [, ...];</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>&lt;property&gt;</dt>
<dd><p>Specifies the name of the CSS property to which the transition is applied. See <a href="/property/-webkit-transition-property" class="property" data-description="Specifies the name of the CSS property to which the transition is applied.">-webkit-transition-property</a>.</p></dd>
<dt>&lt;duration&gt;</dt>
<dd><p>Defines how long the transition from the old value to the new value should take. See <a href="/property/-webkit-transition-duration" class="property" data-description="Defines how long the transition from the old value to the new value should take.">-webkit-transition-duration</a>.</p></dd>
<dt>&lt;timing_function&gt;</dt>
<dd><p>Specifies how the intermediate values used during a transition are calculated. See <a href="/property/-webkit-transition-timing-function" class="property" data-description="Specifies how the intermediate values used during a transition are calculated.">-webkit-transition-timing-function</a>.</p></dd>
<dt>&lt;delay&gt;</dt>
<dd><p>Defines when the transition starts. See <a href="/property/-webkit-transition-delay" class="property" data-description="Defines when the transition starts.">-webkit-transition-delay</a>.</p></dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-transition">Safari 3.1</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-transition">iOS 2.0</a></li>        </ul></section></article>