<article><h1>CSS property: <code>-webkit-box-orient</code>
</h1>

    <section><h1>Description</h1>
        <p>Specifies the layout of elements nested within a flexible box element.</p>
<p>This property applies only to flexible box layouts. For more information about flexible boxes, see <a href="http://www.w3.org/TR/css3-layout/">http://www.w3.org/TR/css3-layout/</a>.</p>
    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-box-orient: &lt;orientation&gt;;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>&lt;orientation&gt;</dt>
<dd>
<p>The orientation of elements nested in the flexible box.</p>
<table>
<tr>
<td class="value">block-axis</td>
<td class="description">Elements are oriented along the box's axis.</td>
</tr>
<tr>
<td class="value">horizontal</td>
<td class="description">Elements are oriented horizontally.</td>
</tr>
<tr>
<td class="value">inline-axis</td>
<td class="description">Elements are oriented along the inline axis.</td>
</tr>
<tr>
<td class="value">vertical</td>
<td class="description">Elements are oriented vertically.</td>
</tr>
</table>
</dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-box-orient">Safari 3.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-box-orient">iOS 1.0</a></li>        </ul></section></article>