<article><h1>CSS property: <code>-webkit-perspective</code>
</h1>

    <section><h1>Description</h1>
        <p>Gives depth to a scene, causing elements farther away from the viewer to appear smaller.</p>
<p>The <a href="/property/-webkit-perspective" class="property" data-description="Gives depth to a scene, causing elements farther away from the viewer to appear smaller.">-webkit-perspective</a> property applies the same transform as the <code>perspective(&lt;number&gt;)</code> transform function, except that it applies only to the children of the element, not to the transform on the element itself.</p>
<p>The use of this property with any value other than <code>none</code> establishes a stacking context. It also establishes a containing block (somewhat similar to <code>position:relative</code>), just as the <a href="/property/-webkit-transform" class="property" data-description="Specifies transformations to be applied to an element.">-webkit-transform</a> property does.</p>
<p>This transform alters the effect of other transforms. In the absence of additional transforms, this transform has no effect.</p>


    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-perspective: none | &lt;distance&gt;;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt class="default">none (by default)</dt>
<dd><p>No perspective transform is applied.</p></dd>
<dt>&lt;distance&gt;</dt>
<dd><p>Length in pixel. The distance in pixels from the viewer’s position to the z=<code>0</code> plane.</p></dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-perspective">iOS 2.0</a></li>        </ul></section></article>