<article><h1>CSS property: <code>-webkit-user-select</code>
</h1>

    <section><h1>Description</h1>
        <p>Determines whether a user can select the content of an element.</p>    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-user-select: auto | none | text;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>auto</dt>
<dd><p>The user can select content in the element.</p></dd>
<dt>none</dt>
<dd><p>The user cannot select any content.</p></dd>
<dt>text</dt>
<dd><p>The user can select text in the element.</p></dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-user-select">Safari 3.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-user-select">iOS 3.0</a></li>        </ul></section><section class="examples"><h1>Examples</h1>
        <p>The user can select content in the element:</p>
<pre class="code">p {
    -webkit-user-select: auto;
}
</pre>

<p>The user cannot select any content:</p>
<pre class="code">p {
    -webkit-user-select: none;
}
</pre>

<p>The user can select text in the element:</p>
<pre class="code">p {
    -webkit-user-select: text;
}
</pre>
    </section></article>