<article><h1>CSS property: <code>-webkit-border-horizontal-spacing</code>
</h1>

    <section><h1>Description</h1>
        <p>Defines the spacing between the horizontal portion of an element’s border and the content within.</p>
<p>Equivalent to the horizontal portion of the <a href="/property/border-spacing" class="property" data-description="The distance that separates adjoining cell borders">border-spacing</a> property. Changes to this property can be animated.</p>

    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-border-horizontal-spacing: &lt;spacing&gt;;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>&lt;spacing&gt;</dt>
<dd><p>The amount of horizontal spacing.</p></dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-border-horizontal-spacing">Safari 3.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-border-horizontal-spacing">iOS 1.0</a></li>        </ul></section></article>