<article><h1>CSS property: <code>-webkit-marquee</code>
</h1>

    <section><h1>Description</h1>
        <p>Defines properties for showing content as though displayed on an electronic marquee sign.</p>
<p>See <a href="/property/-webkit-marquee-direction" class="property" data-description="Specifies the direction of motion for a marquee box.">-webkit-marquee-direction</a>, <a href="/property/-webkit-marquee-increment" class="property" data-description="Defines the distance the marquee moves in each increment.">-webkit-marquee-increment</a>, <a href="/property/-webkit-marquee-repetition" class="property" data-description="Specifies the number of times a marquee box repeats (or infinite).">-webkit-marquee-repetition</a>, <a href="/property/-webkit-marquee-speed" class="property" data-description="Defines the scroll or slide speed of a marquee box.">-webkit-marquee-speed</a> and <a href="/property/-webkit-marquee-style" class="property" data-description="Specifies the style of marquee motion.">-webkit-marquee-style</a>.</p>
    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-marquee: &lt;direction&gt; &lt;increment&gt; &lt;repetition&gt; &lt;style&gt; &lt;speed&gt;;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>&lt;direction&gt;</dt>
<dd><p>The direction of the marquee.</p></dd>
<dt>&lt;increment&gt;</dt>
<dd><p>The distance the marquee moves in each increment.</p></dd>
<dt>&lt;repetition&gt;</dt>
<dd><p>The number of times the marquee repeats.</p></dd>
<dt>&lt;style&gt;</dt>
<dd><p>The style of the marquee’s motion.</p></dd>
<dt>&lt;speed&gt;</dt>
<dd><p>The scroll or slide speed of the marquee.</p></dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-marquee">Safari 3.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-marquee">iOS 1.0</a></li>        </ul></section></article>