<article><h1>CSS property: <code>-webkit-text-stroke-width</code>
</h1>

    <section><h1>Description</h1>
        <p>Specifies the width for the text outline.</p>
<p>This property is significant only in combination with <a href="/property/-webkit-text-stroke-color" class="property" data-description="Specifies the color of the outline (stroke) of text.">-webkit-text-stroke-color</a>.</p>


    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-text-stroke-width: medium | thick | thin | &lt;width&gt;;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>medium</dt>
<dd><p>A medium stroke.</p></dd>
<dt>thick</dt>
<dd><p>A thick stroke.</p></dd>
<dt>thin</dt>
<dd><p>A thin stroke.</p></dd>
<dt>&lt;width&gt;</dt>
<dd><p>Length unit. The width of the stroke.</p></dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-text-stroke-width">Safari 3.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-text-stroke-width">iOS 2.0</a></li>        </ul></section></article>