<article><h1>CSS property: <code>-webkit-animation-fill-mode</code>
</h1>

    <section><h1>Description</h1>
        <p>Specifies whether the effects of an animation are apparent before the animation starts and after it ends.</p>
<p>By default, an animation starts as soon as the style that describes the animation is applied to an element; however, the <a href="/property/-webkit-animation-delay" class="property" data-description="Defines when an animation starts.">-webkit-animation-delay</a> property can delay the start of an animation. Specifying a value of backwards or both for this property overrides the <a href="/property/-webkit-animation-delay" class="property" data-description="Defines when an animation starts.">-webkit-animation-delay</a> property and tells the animation to start as soon as the style is applied.</p>    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-animation-fill-mode: &lt;mode&gt; [, ...];</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>&lt;mode&gt;</dt>
<dd>
<p>The animation's fill mode. Can be <code>none</code>, <code>forwards</code>, <code>backwards</code>, or <code>both</code>.</p>
<table>
<tr>
<td class="value">none</td>
<td class="description">The effects of the animation are apparent only during the defined duration of the animation.</td>
</tr>
<tr>
<td class="value">forwards</td>
<td class="description">The animation’s final keyframe continues to apply after the final iteration of the animation completes.</td>
</tr>
<tr>
<td class="value">backwards</td>
<td class="description">The animation’s initial keyframe is applied as soon as the animation style is applied to an element. This only affects animations that have a nonzero value for <a href="/property/-webkit-animation-delay" class="property" data-description="Defines when an animation starts.">-webkit-animation-delay</a>.</td>
</tr>
<tr>
<td class="value">both</td>
<td class="description">The animation’s initial keyframe is applied as soon as the animation style is applied to an element, and the animation’s final keyframe continues to apply after the final iteration of the animation completes. The initial keyframe only affects animations that have a nonzero value for <a href="/property/-webkit-animation-delay" class="property" data-description="Defines when an animation starts.">-webkit-animation-delay</a>.</td>
</tr>
</table>
</dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-animation-fill-mode">Safari 5.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-animation-fill-mode">iOS 4.0</a></li>        </ul></section></article>