<article><h1>CSS property: <code>-webkit-transition-delay</code>
</h1>

    <section><h1>Description</h1>
        <p>Defines when the transition starts.</p>    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-transition-delay: now | &lt;time&gt; [, ...];</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>now</dt>
<dd><p>The transition begins immediately. Available in iPhone OS 2.0 and later.</p></dd>
<dt>&lt;time&gt;</dt>
<dd><p>The time to begin executing a transition after it is applied. If <code>0</code>, the transition executes as soon as the property changes. Otherwise, the value specifies an offset from the moment the property changes, and the transition delays execution by that offset. If the value is negative, the transition executes the moment the property changes but appears to begin at the specified negative offset—that is, begins part-way through the transition. Nonzero values must specify a unit: <code>s</code> for seconds, <code>ms</code> for milliseconds. Negative values are invalid. The default value is <code>0</code>.</p></dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-transition-delay">Safari 4.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-transition-delay">iOS 2.0</a></li>        </ul></section></article>