<article><h1>CSS property: <code>-webkit-nbsp-mode</code>
</h1>

    <section><h1>Description</h1>
        <p>Defines the behavior of nonbreaking spaces within text.</p>    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-nbsp-mode: normal | space;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt class="default">normal (by default)</dt>
<dd><p>Nonbreaking spaces are treated as usual.</p></dd>
<dt>space</dt>
<dd><p>Nonbreaking spaces are treated like standard spaces.</p></dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-nbsp-mode">Safari 3.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-nbsp-mode">iOS 1.0</a></li>        </ul></section></article>