<article><h1>CSS property: <code>-webkit-mask-repeat</code>
</h1>

    <section><h1>Description</h1>
        <p>Defines the repeating qualities of a mask.</p>
<p>This property controls whether tiling of an element's mask should occur in the x direction, the y direction, both, or neither.</p>
    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-mask-repeat: &lt;behavior&gt;;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>&lt;behavior&gt;</dt>
<dd><p>The repeating behavior of the mask.</p></dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-mask-repeat">Safari 4.0</a></li>        </ul></section></article>