<article><h1>CSS property: <code>-webkit-appearance</code>
</h1>

    <section><h1>Description</h1>
        <p>Changes the appearance of buttons and other controls to resemble native controls.</p>    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-appearance: &lt;appearance&gt;;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>&lt;appearance&gt;</dt>
<dd>
<p>The appearance of the control.</p>
<table>
<tr>
<td class="value">caps-lock-indicator</td>
<td class="description">The indicator that appears in a password field when Caps Lock is active. Available in Safari 4.0 and later. Available in iOS 2.0 and later.</td>
</tr>
<tr>
<td class="value">button</td>
<td class="description"></td>
</tr>
<tr>
<td class="value">button-bevel</td>
<td class="description"></td>
</tr>
<tr>
<td class="value">caret</td>
<td class="description"></td>
</tr>
<tr>
<td class="value">checkbox</td>
<td class="description"></td>
</tr>
<tr>
<td class="value">default-button</td>
<td class="description"></td>
</tr>
<tr>
<td class="value">listbox</td>
<td class="description"></td>
</tr>
<tr>
<td class="value">listitem</td>
<td class="description"></td>
</tr>
<tr>
<td class="value">media-fullscreen-button</td>
<td class="description"></td>
</tr>
<tr>
<td class="value">media-mute-button</td>
<td class="description"></td>
</tr>
<tr>
<td class="value">media-play-button</td>
<td class="description"></td>
</tr>
<tr>
<td class="value">media-seek-back-button</td>
<td class="description"></td>
</tr>
<tr>
<td class="value">media-seek-forward-button</td>
<td class="description"></td>
</tr>
<tr>
<td class="value">media-slider</td>
<td class="description"></td>
</tr>
<tr>
<td class="value">media-sliderthumb</td>
<td class="description"></td>
</tr>
<tr>
<td class="value">menulist</td>
<td class="description"></td>
</tr>
<tr>
<td class="value">menulist-button</td>
<td class="description"></td>
</tr>
<tr>
<td class="value">menulist-text</td>
<td class="description"></td>
</tr>
<tr>
<td class="value">menulist-textfield</td>
<td class="description"></td>
</tr>
<tr>
<td class="value">none</td>
<td class="description"></td>
</tr>
<tr>
<td class="value">push-button</td>
<td class="description"></td>
</tr>
<tr>
<td class="value">radio</td>
<td class="description"></td>
</tr>
<tr>
<td class="value">searchfield</td>
<td class="description"></td>
</tr>
<tr>
<td class="value">searchfield-cancel-button</td>
<td class="description"></td>
</tr>
<tr>
<td class="value">searchfield-decoration</td>
<td class="description"></td>
</tr>
<tr>
<td class="value">searchfield-results-button</td>
<td class="description"></td>
</tr>
<tr>
<td class="value">searchfield-results-decoration</td>
<td class="description"></td>
</tr>
<tr>
<td class="value">slider-horizontal, slider-vertical</td>
<td class="description"></td>
</tr>
<tr>
<td class="value">sliderthumb-horizontal</td>
<td class="description"></td>
</tr>
<tr>
<td class="value">sliderthumb-vertical</td>
<td class="description"></td>
</tr>
<tr>
<td class="value">square-button</td>
<td class="description"></td>
</tr>
<tr>
<td class="value">textarea</td>
<td class="description"></td>
</tr>
<tr>
<td class="value">textfield</td>
<td class="description"></td>
</tr>
<tr>
<td class="value">scrollbarbutton-down</td>
<td class="description">Unsupported in Safari 4.0</td>
</tr>
<tr>
<td class="value">scrollbarbutton-left</td>
<td class="description">Unsupported in Safari 4.0</td>
</tr>
<tr>
<td class="value">scrollbarbutton-right</td>
<td class="description">Unsupported in Safari 4.0</td>
</tr>
<tr>
<td class="value">scrollbarbutton-up</td>
<td class="description">Unsupported in Safari 4.0</td>
</tr>
<tr>
<td class="value">scrollbargripper-horizontal</td>
<td class="description">Unsupported in Safari 4.0</td>
</tr>
<tr>
<td class="value">scrollbargripper-vertical</td>
<td class="description">Unsupported in Safari 4.0</td>
</tr>
<tr>
<td class="value">scrollbarthumb-horizontal</td>
<td class="description">Unsupported in Safari 4.0</td>
</tr>
<tr>
<td class="value">scrollbarthumb-vertical</td>
<td class="description">Unsupported in Safari 4.0</td>
</tr>
<tr>
<td class="value">scrollbartrack-horizontal</td>
<td class="description">Unsupported in Safari 4.0</td>
</tr>
<tr>
<td class="value">scrollbartrack-vertical</td>
<td class="description">Unsupported in Safari 4.0</td>
</tr>
</table>
</dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-appearance">Safari 3.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-appearance">iOS 1.0</a></li>        </ul></section></article>