<article><h1>CSS property: <code>-webkit-column-rule-color</code>
</h1>

    <section><h1>Description</h1>
        <p>Specifies the color of the column rule.</p>
<p>Changes to this property can be animated.</p>

    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-column-rule-color: &lt;color&gt;;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>&lt;color&gt;</dt>
<dd>
<p>The color of the column rule.</p>
<table>
<tr>
<td class="value">currentcolor</td>
<td class="description">The value of the element's color property.</td>
</tr>
<tr>
<td class="value">-webkit-activelink</td>
<td class="description">The default color of a hyperlink that is being clicked.</td>
</tr>
<tr>
<td class="value">-webkit-focus-ring-color</td>
<td class="description">The color that surrounds a UI element, such as a text field, that has focus.</td>
</tr>
<tr>
<td class="value">-webkit-link</td>
<td class="description">The default color of a hyperlink that has been visited.</td>
</tr>
<tr>
<td class="value">-webkit-text</td>
<td class="description">The default text color.</td>
</tr>
</table>
</dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-column-rule-color">Safari 3.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-column-rule-color">iOS 2.0</a></li>        </ul></section></article>