<article><h1>CSS property: <code>-webkit-animation-duration</code>
</h1>

    <section><h1>Description</h1>
        <p>Specifies the length of time that an animation takes to complete one iteration.</p>    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-animation-duration: &lt;time&gt; [, ...];</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>&lt;time&gt;</dt>
<dd>
<p>The duration of an animation. If <code>0</code>, the animation iteration is immediate (there is no animation). A negative value is treated as <code>0</code>.</p>
<table><tr>
<td class="value default">0 (by default)</td>
<td class="description">The default value is <code>0</code>.</td>
</tr></table>
</dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-animation-duration">Safari 4.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-animation-duration">iOS 2.0</a></li>        </ul></section></article>