<article><h1>CSS property: <code>-webkit-column-break-inside</code>
</h1>

    <section><h1>Description</h1>
        <p>Determines whether a column break should be avoided within the bounds of an element in a multicolumn flow layout.</p>    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-column-break-inside: &lt;policy&gt;;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>&lt;policy&gt;</dt>
<dd>
<p>The column break policy.</p>
<table>
<tr>
<td class="value default">auto (by default)</td>
<td class="description">A right column break is inserted within the element where appropriate.</td>
</tr>
<tr>
<td class="value">avoid</td>
<td class="description">Column breaks are avoided within the element.</td>
</tr>
</table>
</dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-column-break-inside">Safari 3.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-column-break-inside">iOS 2.0</a></li>        </ul></section></article>