<article><h1>CSS property: <code>-webkit-box-direction</code>
</h1>

    <section><h1>Description</h1>
        <p>Specifies the direction in which child elements of a flexible box element are laid out.</p>
<p>This applies only to flexible box layouts. For more information about flexible boxes, see <a href="http://www.w3.org/TR/css3-layout/">http://www.w3.org/TR/css3-layout/</a>.</p>
    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-box-direction: normal | reverse;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt class="default">normal (by default)</dt>
<dd><p>Elements are laid out in the default direction.</p></dd>
<dt>reverse</dt>
<dd><p>Elements are laid out in the reverse direction.</p></dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-box-direction">Safari 3.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-box-direction">iOS 1.0</a></li>        </ul></section></article>