<article><h1>CSS property: <code>-webkit-margin-top-collapse</code>
</h1>

    <section><h1>Description</h1>
        <p>Specifies the behavior of an element’s top margin if it is adjacent to an element with a margin. Elements can maintain their respective margins or share a single margin between them.</p>
<p>This property allows you to emulate the behavior of some browsers in quirks mode where table cell margins are collapsed into the borders of vertically adjacent cells.</p>
    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-margin-top-collapse: collapse | discard | separate;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>collapse</dt>
<dd><p>Two adjacent margins are collapsed into a single margin.</p></dd>
<dt>discard</dt>
<dd><p>The element’s margin is discarded if it is adjacent to another element with a margin.</p></dd>
<dt>separate</dt>
<dd><p>Two adjacent margins remain separate.</p></dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-margin-top-collapse">Safari 3.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-margin-top-collapse">iOS 1.0</a></li>        </ul></section></article>