<article><h1>CSS property: <code>-webkit-box-align</code>
</h1>

    <section><h1>Description</h1>
        <p>Specifies the alignment of nested elements within an outer flexible box element.</p>
<p>This property specifies the horizontal alignment if the box direction is vertical, and vice versa. This property applies only to flexible box layouts. For more information about flexible boxes, see <a href="http://www.w3.org/TR/css3-layout/">http://www.w3.org/TR/css3-layout/</a>.</p>

    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-box-align: baseline | center | end | start | stretch;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>baseline</dt>
<dd><p>Elements are aligned with the baseline of the box.</p></dd>
<dt>center</dt>
<dd><p>Elements are aligned with the center of the box.</p></dd>
<dt>end</dt>
<dd><p>Elements are aligned with the end of the box.</p></dd>
<dt>start</dt>
<dd><p>Elements are aligned with the start of the box.</p></dd>
<dt>stretch</dt>
<dd><p>Elements are stretched to fill the box.</p></dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-box-align">Safari 3.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-box-align">iOS 1.0</a></li>        </ul></section></article>