<article><h1>CSS property: <code>-webkit-rtl-ordering</code>
</h1>

    <section><h1>Description</h1>
        <p>Overrides ordering defaults for right-to-left content.</p>
<p>The distinction between these two character orders is normally handled automatically as a side effect of character set. This property allows you to override whether the browser should treat the content as being in logical or visual order.</p>

    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-rtl-ordering: logical | visual;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>logical</dt>
<dd><p>Raw content is in mixed order (requiring a bidirectional renderer).</p></dd>
<dt>visual</dt>
<dd><p>Right-to-left content is encoded in reverse order so an entire line of text can be rendered from left to right in a unidirectional fashion.</p></dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-rtl-ordering">Safari 3.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-rtl-ordering">iOS 2.0</a></li>        </ul></section></article>