<article><h1>CSS property: <code>-webkit-background-clip</code>
</h1>

    <section><h1>Description</h1>
        <p>Specifies the clipping behavior of the background of a box.</p>    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-background-clip: &lt;behavior&gt;;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>&lt;behavior&gt;</dt>
<dd>
<p>The clipping behavior of the background.</p>
<table>
<tr>
<td class="value">border</td>
<td class="description">The background clips to the border of the box.</td>
</tr>
<tr>
<td class="value">content</td>
<td class="description">The background clips to the content of the box.</td>
</tr>
<tr>
<td class="value">padding</td>
<td class="description">The background clips to the padding of the box.</td>
</tr>
<tr>
<td class="value">text</td>
<td class="description">The background clips to the text of the box. Available in Safari 4.0 and later.</td>
</tr>
</table>
</dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-background-clip">Safari 3.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-background-clip">iOS 1.0</a></li>        </ul></section></article>