<article><h1>CSS property: <code>-webkit-padding-start</code>
</h1>

    <section><h1>Description</h1>
        <p>Provides the width of the starting padding.</p>
<p>If the writing direction is left-to-right, this value overrides <a href="/property/padding-left" class="property" data-description="">padding-left</a>. If the writing direction is right-to-left, this value overrides <a href="/property/padding-right" class="property" data-description="">padding-right</a>.</p>
    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-padding-start: &lt;width&gt;;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>&lt;width&gt;</dt>
<dd><p>The width of the starting padding.</p></dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-padding-start">Safari 3.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-padding-start">iOS 1.0</a></li>        </ul></section></article>