<article><h1>CSS property: <code>-webkit-column-width</code>
</h1>

    <section><h1>Description</h1>
        <p>Specifies the width of the column in a multicolumn flow.</p>
<p>Changes to this property can be animated.</p>

    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-column-width: &lt;width&gt;;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt class="default">auto (by default)</dt>
<dd><p>Columns in the element are of normal width.</p></dd>
<dt>&lt;width&gt;</dt>
<dd><p>The width of the column. Length unit.</p></dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-column-width">Safari 3.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-column-width">iOS 2.0</a></li>        </ul></section></article>