<article><h1>CSS property: <code>-webkit-box-lines</code>
</h1>

    <section><h1>Description</h1>
        <p>Specifies whether a flexible box should contain multiple lines of content.</p>
<p>This property applies only to flexible box layouts. For more information about flexible boxes, see <a href="http://www.w3.org/TR/css3-layout/">http://www.w3.org/TR/css3-layout/</a>.</p>

    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-box-lines: &lt;behavior&gt;;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>&lt;behavior&gt;</dt>
<dd>
<p>If <code>multiple</code>, the flexible box can contain multiple lines of content; if <code>single</code>, only one line is allowed.</p>
<table>
<tr>
<td class="value">multiple</td>
<td class="description">The box can contain multiple lines of content.</td>
</tr>
<tr>
<td class="value">single</td>
<td class="description">The box can contain only one line of content.</td>
</tr>
</table>
</dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-box-lines">Safari 3.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-box-lines">iOS 1.0</a></li>        </ul></section></article>