<article><h1>CSS property: <code>-webkit-marquee-increment</code>
</h1>

    <section><h1>Description</h1>
        <p>Defines the distance the marquee moves in each increment.</p>    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-marquee-increment: large | medium | small | &lt;distance&gt;;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>large</dt>
<dd><p>The marquee moves a large amount in each increment.</p></dd>
<dt>medium</dt>
<dd><p>The marquee moves a medium amount in each increment.</p></dd>
<dt>small</dt>
<dd><p>The marquee moves a small amount in each increment.</p></dd>
<dt>&lt;distance&gt;</dt>
<dd><p>Number as a percentage, length unit.</p></dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-marquee-increment">Safari 3.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-marquee-increment">iOS 1.0</a></li>        </ul></section></article>