<article><h1>CSS property: <code>-webkit-mask-size</code>
</h1>

    <section><h1>Description</h1>
        <p>Overrides the size of a mask.</p>
<p>Changes to this property can be animated in Safari 4.0 and later.</p>
    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-mask-size: &lt;length&gt;;</code></p>
<p><code>-webkit-mask-size: &lt;length_x&gt; &lt;length_y&gt;;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>&lt;length&gt;</dt>
<dd><p>The width and height of the mask.</p></dd>
<dt>&lt;length_x&gt;</dt>
<dd><p>The width of the mask.</p></dd>
<dt>&lt;length_y&gt;</dt>
<dd><p>The height of the mask.</p></dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-mask-size">Safari 4.0</a></li>        </ul></section></article>