<article><h1>CSS property: <code>-webkit-box-shadow</code>
</h1>

    <section><h1>Description</h1>
        <p>Applies a drop shadow effect to the border box of an object.</p>
<p>This property takes four parameters. The first two are horizontal and vertical offsets—down for horizontal, and to the right for vertical. The third value is a blur radius. The fourth value is the color of the shadow. Changes to this property can be animated.</p>
    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-box-shadow: none;</code></p>
<p><code>-webkit-box-shadow: &lt;hoff&gt; &lt;voff&gt; &lt;blur&gt; &lt;color&gt;;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt class="default">none (by default)</dt>
<dd><p>The box has no shadow.</p></dd>
<dt>&lt;hoff&gt;</dt>
<dd><p>The horizontal offset of the shadow.</p></dd>
<dt>&lt;voff&gt;</dt>
<dd><p>The vertical offset of the shadow.</p></dd>
<dt>&lt;blur&gt;</dt>
<dd><p>The blur radius of the shadow.</p></dd>
<dt>&lt;color&gt;</dt>
<dd><p>The color of the shadow.</p></dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-box-shadow">Safari 3.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-box-shadow">iOS 2.0</a></li>        </ul></section></article>