<article><h1>CSS property: <code>-webkit-mask</code>
</h1>

    <section><h1>Description</h1>
        <p>Defines a variety of mask properties within one declaration.</p>
<p>As with most composite properties, all arguments are optional.</p>
    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-mask: &lt;attachment&gt;, &lt;clip&gt;, &lt;origin&gt;, &lt;image&gt;, &lt;repeat&gt;, &lt;composite&gt;, &lt;box_image&gt;;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>&lt;attachment&gt;</dt>
<dd><p>Defines the scrolling or fixed nature of the image mask. See <a href="/property/-webkit-mask-attachment" class="property" data-description="Defines the scrolling or fixed nature of the image mask.">-webkit-mask-attachment</a>.</p></dd>
<dt>&lt;clip&gt;</dt>
<dd><p>Specifies whether the mask should extend into the border of a box. See <a href="/property/-webkit-mask-clip" class="property" data-description="Specifies whether the mask should extend into the border of a box.">-webkit-mask-clip</a>.</p></dd>
<dt>&lt;origin&gt;</dt>
<dd><p>Determines where the <a href="/property/-webkit-mask-position" class="property" data-description="Defines the position of a mask.">-webkit-mask-position</a> property is anchored. See <a href="/property/-webkit-mask-origin" class="property" data-description="Determines where the -webkit-mask-position property is anchored.">-webkit-mask-origin</a>.</p></dd>
<dt>&lt;image&gt;</dt>
<dd><p>Defines an image to be used as a mask for an element. See <a href="/property/-webkit-mask-image" class="property" data-description="Defines an image to be used as a mask for an element.">-webkit-mask-image</a>.</p></dd>
<dt>&lt;repeat&gt;</dt>
<dd><p>Defines the repeating qualities of a mask. See <a href="/property/-webkit-mask-repeat" class="property" data-description="Defines the repeating qualities of a mask.">-webkit-mask-repeat</a>.</p></dd>
<dt>&lt;composite&gt;</dt>
<dd><p>Sets a compositing style for a mask. See <a href="/property/-webkit-mask-composite" class="property" data-description="Sets a compositing style for a mask.">-webkit-mask-composite</a>.</p></dd>
<dt>&lt;box_image&gt;</dt>
<dd><p>See <a href="/property/-webkit-mask-box-image" class="property" data-description="Defines an image to be used as a mask for a border box.">-webkit-mask-box-image</a> for details.</p></dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-mask">Safari 4.0</a></li>        </ul></section></article>