<article><h1>CSS property: <code>-webkit-line-break</code>
</h1>

    <section><h1>Description</h1>
        <p>Specifies line-breaking rules for CJK (Chinese, Japanese, and Korean) text.</p>    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-line-break: after-white-space | normal;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>after-white-space</dt>
<dd><p>The line breaks after white space.</p></dd>
<dt class="default">normal (by default)</dt>
<dd><p>A standard line-breaking rule</p></dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-line-break">Safari 3.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-line-break">iOS 1.0</a></li>        </ul></section></article>