<article><h1>CSS property: <code>-webkit-mask-position</code>
</h1>

    <section><h1>Description</h1>
        <p>Defines the position of a mask.</p>
<p>Position can be specified in terms of pixels or percentages of the viewport width or using the keywords <a href="/property/top" class="property" data-description="Absolute position from the top edge of the containing block">top</a>, <a href="/property/left" class="property" data-description="Absolute position from the left edge of the containing block">left</a>, <code>center</code>, <a href="/property/right" class="property" data-description="Absolute position from the right edge of the containing block">right</a>, or <a href="/property/bottom" class="property" data-description="Absolute position from the bottom edge of the containing block">bottom</a>.</p>
<p>Changes to this property can be animated in Safari 4.0 and later.</p>


    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-mask-position: &lt;xpos&gt;;</code></p>
<p><code>-webkit-mask-position: &lt;xpos&gt; &lt;ypos&gt;;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>&lt;xpos&gt;</dt>
<dd><p>The x-coordinate of the position of the mask.</p></dd>
<dt>&lt;ypos&gt;</dt>
<dd><p>The y-coordinate of the position of the mask.</p></dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-mask-position">Safari 4.0</a></li>        </ul></section></article>