<article><h1>CSS property: <code>-webkit-text-security</code>
</h1>

    <section><h1>Description</h1>
        <p>Specifies the shape to use in place of letters in a password input field.</p>    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-text-security: circle | disc | none | square;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>circle</dt>
<dd><p>A circle shape.</p></dd>
<dt>disc</dt>
<dd><p>A disc shape.</p></dd>
<dt>none</dt>
<dd><p>No shape is used.</p></dd>
<dt>square</dt>
<dd><p>A square shape.</p></dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-text-security">Safari 3.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-text-security">iOS 1.0</a></li>        </ul></section></article>