<article><h1>CSS property: <code>-webkit-user-modify</code>
</h1>

    <section><h1>Description</h1>
        <p>Determines whether a user can edit the content of an element.</p>
<p>This is closely related to the <code>contentEditable</code> attribute.</p>
    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-user-modify: read-only | read-write | read-write-plaintext-only;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>read-only</dt>
<dd><p>The content is read-only.</p></dd>
<dt>read-write</dt>
<dd><p>The content can be read and written.</p></dd>
<dt>read-write-plaintext-only</dt>
<dd><p>The content can be read and written, but any rich formatting of pasted text is lost.</p></dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-user-modify">Safari 3.0</a></li>        </ul></section></article>