<article><h1>CSS property: <code>-webkit-marquee-repetition</code>
</h1>

    <section><h1>Description</h1>
        <p>Specifies the number of times a marquee box repeats (or infinite).</p>    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-marquee-repetition: infinite | &lt;iterations&gt;;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt class="default">infinite (by default)</dt>
<dd><p>The marquee repeats infinitely.</p></dd>
<dt>&lt;iterations&gt;</dt>
<dd><p>The number of times the marquee repeats. Integer, nonnegative value.</p></dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-marquee-repetition">Safari 3.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-marquee-repetition">iOS 1.0</a></li>        </ul></section></article>