<article><h1>CSS property: <code>-webkit-text-size-adjust</code>
</h1>

    <section><h1>Description</h1>
        <p>Specifies a size adjustment for displaying text content in Safari on iPhone.</p>    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-text-size-adjust: none | auto | &lt;percentage&gt;;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>none</dt>
<dd><p>The text size is not adjusted.</p></dd>
<dt>auto</dt>
<dd><p>The text size is automatically adjusted for Safari on iPhone.</p></dd>
<dt>&lt;percentage&gt;</dt>
<dd><p>The size in percentage at which to display text in Safari on iPhone.</p></dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-text-size-adjust">iOS 1.0</a></li>        </ul></section><section class="examples"><h1>Examples</h1>
        <p>The text size is automatically adjusted for Safari on iPhone:</p>
<pre class="code">p {
    -webkit-text-size-adjust: auto;
}
</pre>

<p>The text size is not adjusted:</p>
<pre class="code">p {
    -webkit-text-size-adjust: none;
}
</pre>

<p>The text size is adjusted at 60%:</p>
<pre class="code">p {
    -webkit-text-size-adjust: 60%;
}
</pre>
    </section></article>