<article><h1>CSS property: <code>-webkit-margin-start</code>
</h1>

    <section><h1>Description</h1>
        <p>Provides the width of the starting margin.</p>
<p>If the writing direction is left-to-right, this value overrides <a href="/property/margin-left" class="property" data-description="">margin-left</a>. If the writing direction is right-to-left, this value overrides <a href="/property/margin-right" class="property" data-description="">margin-right</a>.</p>

    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-margin-start: &lt;width&gt;;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt class="default">auto (by default)</dt>
<dd><p>The margin is automatically determined.</p></dd>
<dt>&lt;width&gt;</dt>
<dd><p>The width of the starting margin. Number as a percentage, length unit.</p></dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-margin-start">Safari 3.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-margin-start">iOS 1.0</a></li>        </ul></section></article>