<article><h1>CSS property: <code>-webkit-text-stroke</code>
</h1>

    <section><h1>Description</h1>
        <p>Specifies the width and color of the outline (stroke) of text.</p>
<p>This property is commonly used in combination with <a href="/property/-webkit-text-fill-color" class="property" data-description="Specifies a fill color for text.">-webkit-text-fill-color</a>.</p>
<p>See <a href="/property/-webkit-text-stroke-color" class="property" data-description="Specifies the color of the outline (stroke) of text.">-webkit-text-stroke-color</a> and <a href="/property/-webkit-text-stroke-width" class="property" data-description="Specifies the width for the text outline.">-webkit-text-stroke-width</a>.</p>
    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-text-stroke: &lt;width&gt; &lt;color&gt;;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>&lt;width&gt;</dt>
<dd><p>The width of the stroke.</p></dd>
<dt>&lt;color&gt;</dt>
<dd><p>TThe color of the stroke.</p></dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-text-stroke">Safari 3.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-text-stroke">iOS 2.0</a></li>        </ul></section></article>