<article><h1>CSS property: <code>-webkit-marquee-style</code>
</h1>

    <section><h1>Description</h1>
        <p>Specifies the style of marquee motion.</p>
<p>The values <code>scroll</code> and <code>slide</code> both cause the content to start outside the box and move into the box, but if the value <code>scroll</code> is specified, the content stops moving once the last content is visible. The value <code>alternate</code> causes the content to shift back and forth within the box in the specified direction.</p>
    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-marquee-style: alternate | none | scroll | slide;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>alternate</dt>
<dd><p>The marquee shifts back and forth.</p></dd>
<dt>none</dt>
<dd><p>The marquee does not move.</p></dd>
<dt>scroll</dt>
<dd><p>The marquee loops in its specified direction.</p></dd>
<dt>slide</dt>
<dd><p>The marquee moves in its specified direction, but stops either when the entirety of its content has been displayed or the content reaches the opposite border of its box, whichever comes second.</p></dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-marquee-style">Safari 3.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-marquee-style">iOS 1.0</a></li>        </ul></section></article>