<article><h1>CSS property: <code>-webkit-marquee-speed</code>
</h1>

    <section><h1>Description</h1>
        <p>Defines the scroll or slide speed of a marquee box.</p>
<p>This property can either take one speed parameter (<code>slow</code>, for example) or a measure of distance and a measure of time separated by a slash (<code>/</code>).</p>

    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-marquee-speed: fast | normal | slow;</code></p>
<p><code>-webkit-marquee-speed: &lt;distance&gt; / &lt;time&gt;;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>fast</dt>
<dd><p>The marquee moves at a fast speed.</p></dd>
<dt class="default">normal (by default)</dt>
<dd><p>The marquee moves at a normal speed.</p></dd>
<dt>slow</dt>
<dd><p>The marquee moves at a slow speed.</p></dd>
<dt>&lt;distance&gt;</dt>
<dd><p>Integer, nonnegative value.</p></dd>
<dt>&lt;time&gt;</dt>
<dd><p>Time unit, nonnegative value.</p></dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-marquee-speed">Safari 3.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-marquee-speed">iOS 1.0</a></li>        </ul></section></article>