<article><h1>CSS property: <code>-webkit-transition-duration</code>
</h1>

    <section><h1>Description</h1>
        <p>Defines how long the transition from the old value to the new value should take.</p>    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-transition-duration: &lt;time&gt; [, ...];</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>&lt;time&gt;</dt>
<dd><p>If <code>0</code>, the transition is immediate (there is no animation). A negative value is treated as <code>0</code>. Nonzero values must specify a unit: <code>s</code> for seconds, <code>ms</code> for milliseconds. Negative values are invalid. The default value is <code>0</code>.</p></dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-transition-duration">Safari 3.1</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-transition-duration">iOS 2.0</a></li>        </ul></section></article>