<article><h1>CSS property: <code>-webkit-box-flex</code>
</h1>

    <section><h1>Description</h1>
        <p>Specifies an element’s flexibility.</p>
<p>Flexible elements can stretch or shrink to fit the size of the bounding box of their parent element. The amount of stretching or shrinkage of an element is determined by its flex value relative to the flex values of other elements within the same parent element.</p>
<p>This property applies only to flexible box layouts. For more information about flexible boxes, see <a href="http://www.w3.org/TR/css3-layout/">http://www.w3.org/TR/css3-layout/</a></p>


    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-box-flex: &lt;flex_value&gt;;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>&lt;flex_value&gt;</dt>
<dd><p>Floating-point number. The flexibility of the element.</p></dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-box-flex">Safari 3.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-box-flex">iOS 1.0</a></li>        </ul></section></article>