<article><h1>CSS property: <code>-webkit-column-rule-width</code>
</h1>

    <section><h1>Description</h1>
        <p>Specifies the width of the column rule.</p>
<p>Changes to this property can be animated.</p>
    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-column-rule-width: medium  | thick  | thin | &lt;width&gt;;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>medium</dt>
<dd><p>The column rule has a medium width.</p></dd>
<dt>thick</dt>
<dd><p>The column rule has a thick width.</p></dd>
<dt>thin</dt>
<dd><p>The column rule has a thin width.</p></dd>
<dt>&lt;width&gt;</dt>
<dd><p>The width of the column rule. Length unit.</p></dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-column-rule-width">Safari 3.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-column-rule-width">iOS 2.0</a></li>        </ul></section></article>