<article><h1>CSS property: <code>-webkit-animation-delay</code>
</h1>

    <section><h1>Description</h1>
        <p>Defines when an animation starts.</p>
<p>This property allows an animation to begin execution some time after it is applied.</p>    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-animation-delay: &lt;time&gt; [, ...];</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>&lt;time&gt;</dt>
<dd>
<p>The time to begin executing an animation after it is applied. If <code>0</code>, the animation executes as soon as it is applied. If positive, it specifies an offset from the moment the animation is applied, and the animation delays execution by that offset. If negative, the animation executes the moment the property changes but appears to begin at the specified negative offset—that is, begins part-way through the animation. Nonzero values must specify a unit: <code>s</code> for seconds, <code>ms</code> for milliseconds.</p>
<table>
<tr>
<td class="value default">0 (by default)</td>
<td class="description">The default value is <code>0</code>.</td>
</tr>
<tr>
<td class="value">now</td>
<td class="description">The animation begins immediately. Available in iOS 2.0 and later.</td>
</tr>
</table>
</dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-animation-delay">Safari 4.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-animation-delay">iOS 2.0</a></li>        </ul></section></article>