<article><h1>CSS property: <code>-webkit-background-origin</code>
</h1>

    <section><h1>Description</h1>
        <p>Determines where the background-position property is anchored.</p>
<p>The background position can be anchored at the upper-left corner of the border, the upper-left corner of the padding area inside the border, or the upper-left corner of the content inside the padding area.</p>

    </section><section class="syntax"><h1>Syntax</h1>
        <p><code>-webkit-background-origin: &lt;origin&gt;;</code></p>    </section><section class="values"><h1>Values</h1>
        <dl>
<dt>&lt;origin&gt;</dt>
<dd><p>The origin of the background position.</p></dd>
</dl></section><section class="versions"><h1>Versions</h1>
        <ul>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-background-origin">Safari 3.0</a></li>
<li><a href="http://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariCSSRef/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-background-origin">iOS 1.0</a></li>        </ul></section></article>