
<p><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span> </p>
<div id="section_1">
<span id="Specifications"></span><h3 class="editable"><span>Specifications</span></h3>
<ul>
<li><a href="http://www.w3.org/TR/css3-selectors/#enableddisabled" target="_blank" rel="external nofollow" title="http://www.w3.org/TR/css3-selectors/#enableddisabled" class="external">CSS3 Selectors enabled disabled</a></li> <li><a href="http://www.whatwg.org/specs/web-forms/current-work/#relation" target="_blank" rel="external nofollow" title="http://www.whatwg.org/specs/web-forms/current-work/#relation" class="external">WHATWG web-forms</a></li>
</ul>
</div>
<div id="section_2">
<span id="Browser_compatibility"></span><h3 class="editable">Browser compatibility</h3>
<table class="standard-table"><tbody>
<tr>
<th>Browser</th> <th>Lowest Version</th> </tr>
<tr>
<td>Internet Explorer</td> <td>?</td> </tr>
<tr>
<td>Firefox</td> <td>?</td> </tr>
<tr>
<td>Opera</td> <td>?</td> </tr>
<tr>
<td>Safari</td> <td>?</td> </tr>
</tbody></table>
<p> </p>
<p> </p>
</div>