<div class="pageText" id="pageText">
<p><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span> </p>
<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p>The <code>:first</code> <a title="@page" rel="internal" href="https://developer.mozilla.org/en/CSS/@page">page</a> <a title="Pseudo-classes" rel="internal" href="https://developer.mozilla.org/en/CSS/Pseudo-classes">pseudo-class</a> describes the styling of the first page when printing a document.</p>
<div class="note">
<strong>Note:</strong> you can not change all CSS properties. You can only change the margins, orphans, widows, and page breaks of the document. All other CSS properties will be ignored.</div>
</div>
<div id="section_2">
<span id="Examples"></span><h3 class="editable">Examples</h3>
<pre>
@page :first {
  margin:2in 3in;
} 
</pre>
<div class="note">
<strong>Note:</strong> you may only use the absolute length units when defining the margin. Please see the page about <a title="https://developer.mozilla.org/en/CSS/length#Absolute_length_units" rel="internal" href="https://developer.mozilla.org/en/CSS/length#Absolute_length_units">length</a> for more information.</div>
</div>
<div id="section_3">
<span id="Specifications"></span><h3 class="editable">Specifications</h3>
<p><a title="http://www.w3.org/TR/CSS21/page.html#page-selectors" class=" external" rel="external" href="http://www.w3.org/TR/CSS21/page.html#page-selectors" target="_blank">CSS 2.1 Paged media #page-selectors</a></p>
</div>
<div id="section_4">
<span id="Browser_compatibility"></span><h3 class="editable">Browser compatibility</h3>
<table class="standard-table"><tbody>
<tr>
<th>Browser</th> <th>Lowest Version</th> </tr>
<tr>
<td rowspan="2">Internet Explorer</td> </tr>
<tr>
<td><strong>8.0</strong></td> </tr>
<tr>
<td>Firefox (Gecko)</td> <td><strong>---</strong></td> </tr>
<tr>
<td rowspan="2">Opera</td> </tr>
<tr>
<td><strong>9.2</strong></td> </tr>
<tr>
<td>Safari (WebKit)</td> <td><strong>---</strong></td> </tr>
</tbody></table>
</div>
<div id="section_5">
<span id="See_also"></span><h3 class="editable">See also</h3>
<ul>
<li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/@page">@page</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/%3Aleft">:left</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/%3Aright">:right</a></code>
</li>
</ul>
</div>
</div>