<div class="pageText" id="pageText">
<p><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span> </p>
<div id="section_1">
<span id="Specifications"></span><h3 class="editable"><span>Specifications</span></h3>
<ul>
<li><a href="http://www.w3.org/TR/CSS21/selector.html#dynamic-pseudo-classes" target="_blank" rel="external nofollow" title="http://www.w3.org/TR/CSS21/selector.html#dynamic-pseudo-classes" class="external">CSS 2.1 Selectors #dynamic-pseudo-classes</a></li> <li><a href="http://www.w3.org/TR/css3-selectors/#useraction-pseudos" target="_blank" rel="external nofollow" title="http://www.w3.org/TR/css3-selectors/#useraction-pseudos" class="external">CSS 3 Selectors #useraction-pseudos</a></li>
</ul>
</div>
<div id="section_2">
<span id="Browser_compatibility"></span><h3 class="editable">Browser compatibility</h3>
<table class="standard-table"><tbody>
<tr>
<th>Browser</th> <th>Lowest Version</th> </tr>
<tr>
<td>Internet Explorer</td> <td><strong>8.0</strong></td> </tr>
<tr>
<td>Firefox</td> <td><strong>1.0</strong></td> </tr>
<tr>
<td>Opera</td> <td><strong>7.0</strong></td> </tr>
<tr>
<td>Safari</td> <td>(1.0 ?)</td> </tr>
</tbody></table>
</div>
</div>