
<p><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span> <strong><br></strong></p>
<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p>The negation <a title="Pseudo-classes" rel="internal" href="https://developer.mozilla.org/en/CSS/Pseudo-classes">pseudo-class</a><code>, :not(X), </code>is a functional notation taking a simple selector <var>X</var> as an argument. It matches an element that is not represented by the argument. <var>X</var> must not contain another negation selector, or any <a title="Pseudo-elements" rel="internal" href="https://developer.mozilla.org/en/CSS/Pseudo-elements">pseudo-elements</a>.</p>
<p>The <a title="Specificity" rel="internal" href="https://developer.mozilla.org/en/CSS/Specificity">specificity</a> of the <code>:not</code> pseudo-class is the specificity of its argument. The <code>:not</code> pseudo-class does not add to the selector specificity, unlike other pseudo-classes.</p>
<div class="note">
<strong>Notes:</strong> <ul>
<li class="note">Useless selectors can be written using this pseudo-class. E.g. <code>:not(*)</code> matching any element which is not any element will never be applied.</li> <li class="note">It is possible to rewrite other rules. E.g. <code>foo:not(bar)</code>will match the same element than the simple <code>foo</code>. Nevertheless the <a title="Specificity" rel="internal" href="https://developer.mozilla.org/en/CSS/Specificity">specificity</a> of the first one is higher.</li> </ul>
</div>
</div>
<div id="section_2">
<span id="Syntax"></span><h3 class="editable">Syntax</h3>
<pre>
:not(selector) { <em>style properties</em> }</pre>
</div>
<div id="section_3">
<span id="Examples"></span><h3 class="editable">Examples</h3>
<div id="section_4">
<span id="Usage_Example"></span><h4 class="editable">Usage Example</h4>
<pre>
p:not(.classy) { color: red; }
:not(p) { color: green; }</pre>
<p>...where...</p>
<pre>
&lt;p&gt;Some text.&lt;/p&gt;
&lt;p class="classy"&gt;Some other text.&lt;/p&gt;
&lt;span&gt;One more text&lt;span&gt;
</pre>
<p>...should look like...</p>
<p style="color: red;">Some text.</p>
<p>Some other text.</p>
<p style="color: green;">One more text</p>
</div>
</div>
<div id="section_5">
<span id="Specifications"></span><h3 class="editable">Specifications</h3>
<ul>
<li>
<a title="http://www.w3.org/TR/css3-selectors/#negation" class="external" rel="external" href="http://www.w3.org/TR/css3-selectors/#negation" target="_blank">CSS 3 Selectors #negation</a><span style="display: none;" id="1226767954393S"> <br></span>
</li>
</ul>
</div>
<div id="section_6">
<span id="Browser_compatibility"></span><h3 class="editable">Browser compatibility</h3>
<table class="standard-table"><tbody>
<tr>
<th>Browser</th> <th>Lowest Version</th> </tr>
<tr>
<td>Internet Explorer</td> <td><strong>9.0</strong></td> </tr>
<tr>
<td>Firefox (Gecko)</td> <td>
<strong>1.0</strong> (1.0)</td> </tr>
<tr>
<td>Opera</td> <td><strong>9.5</strong></td> </tr>
<tr>
<td>Safari (WebKit)</td> <td>
<strong>1.0</strong> (85)</td> </tr>
</tbody></table>
</div>