<div class="pageText" id="pageText">
<p><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span> </p>
<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p>The <code>:optional</code> CSS <a title="Pseudo-classes" rel="internal" href="https://developer.mozilla.org/en/CSS/Pseudo-classes">pseudo-class</a> represents any 
<code><a rel="custom" href="https://developer.mozilla.org/en/HTML/Element/input">&lt;input&gt;</a></code> element that does not have the 

<code><a rel="custom" href="https://developer.mozilla.org/en/HTML/Element/input#attr-required">required</a></code>
 attribute set on it. This allows forms to easily indicate optional fields, and to style them accordingly.</p>
<p>To provide an appearance for required form fields, the 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/%3Arequired">:required</a></code> pseudo-class may be used.</p>
</div>
<div id="section_2">
<span id="Browser_compatibility"></span><h3 class="editable">Browser compatibility</h3>
<p>
<script type="text/javascript">/*<![CDATA[*/
        $(function() {
            $('.htab').append($('#compat-desktop'));
            $('.htab').append($('#compat-mobile'));
            var $items = $('.htab>ul>li');
            $items.click(function() {
                $items.removeClass('selected');
                $(this).addClass('selected');

                var index = $items.index($(this));
                $('.htab>div').hide().eq(index).show();
            }).eq(0).click();
        });
    /*]]>*/</script></p>
<div class="htab">
<a name="AutoCompatibilityTable"></a>
<ul>
<li class="selected">Desktop</li> <li>Mobile</li>
</ul>
</div>
<div id="compat-desktop"> <table class="compat-table"><tbody>
<tr>
<th>Feature</th> <th>Firefox</th> <th>Chrome</th> <th>Internet Explorer</th> <th>Safari</th> <th>Opera</th> </tr>
<tr>
<td>Basic support</td> <td>4</td> <td>8</td> <td><span style="color: rgb(255, 0, 0);" title="Not supported.">--</span></td> <td>5</td> <td>9.5</td> </tr>
</tbody></table>
</div>
</div>
<div id="section_3">
<span id="Specifications"></span><h3 class="editable">Specifications</h3>
<ul>
<li><a class="external" title="http://www.w3.org/TR/css3-ui/#pseudo-required-value" rel="external" href="http://www.w3.org/TR/css3-ui/#pseudo-required-value" target="_blank">CSS 3 Basic User Interface Module</a></li>
</ul>
</div>
<div id="section_4">
<span id="See_also"></span><h3 class="editable">See also</h3>
<ul>
<li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/%3Arequired">:required</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/%3Ainvalid">:invalid</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/%3Avalid">:valid</a></code>
</li>
</ul>
</div>
</div>