<p><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span> </p>
<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p>The <code>:valid</code> CSS <a title="Pseudo-classes" rel="internal" href="https://developer.mozilla.org/en/CSS/Pseudo-classes">pseudo-class</a> represents any 
<code><a rel="custom" href="https://developer.mozilla.org/en/HTML/Element/input">&lt;input&gt;</a></code> element whose content <a title="en/HTML/HTML5/Constraint_validation" rel="internal" href="https://developer.mozilla.org/en/HTML/HTML5/Constraint_validation">validates</a> correctly according to the input's type setting. This allows to easily make valid fields adopt an appearance that helps the user confirm that their data is formatted properly.</p>
</div>
<div id="section_2">
<span id="Examples"></span><h3 class="editable">Examples</h3>
<p>See 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/%3Ainvalid">:invalid</a></code> for an example.</p>
</div>
<div id="section_3">
<span id="Browser_compatibility"></span><h3 class="editable">Browser compatibility</h3>
<table class="standard-table"><tbody>
<tr>
<th>Browser</th> <th>Lowest version</th> </tr>
<tr>
<td>Internet Explorer</td> <td>---</td> </tr>
<tr>
<td>Firefox (Gecko)</td> <td>4.0 (2.0)</td> </tr>
<tr>
<td>Opera</td> <td>9.5</td> </tr>
<tr>
<td> <p>Safari | Chrome | WebKit</p> </td> <td> <p>5 | 8 | 534.10</p> </td> </tr>
</tbody></table>
</div>
<div id="section_4">
<span id="Specifications"></span><h3 class="editable">Specifications</h3>
<ul>
<li><a class="external" title="http://www.w3.org/TR/css3-ui/#pseudo-validity" rel="external" href="http://www.w3.org/TR/css3-ui/#pseudo-validity" target="_blank">CSS 3 Basic User Interface Module</a></li>
</ul>
</div>
<div id="section_5">
<span id="See_also"></span><h3 class="editable">See also</h3>
<ul>
<li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/%3Ainvalid">:invalid</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/%3Arequired">:required</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/%3Aoptional">:optional</a></code>
</li>
</ul>
</div>