<div class="pageText" id="pageText">
<p><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span> </p>
<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p>Signifies a value that is to be automatically computed by a useragent.  The specific effects of <em>auto </em>depend on the property to which it is applied as its value.</p>
</div>
<div id="section_2">
<span id="Used_in"></span><h3 class="editable">Used in</h3>
<ul>
<li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/overflow">overflow</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/cursor">cursor</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/width">width</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/marker-offset">marker-offset</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/margin">margin</a></code>
</li> <li>margin-* (left|bottom|top|right|start|end)</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/bottom">bottom</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/left">left</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/table-layout">table-layout</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/z-index">z-index</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/-moz-column-width">-moz-column-width</a></code>
</li>
</ul>
<p></p>
</div>
</div>