
<p><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span> </p>
<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p>If a 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/background-image">background-image</a></code> is specified, <code>background-attachment</code> determines whether that image's position is fixed within the viewport, or scrolls along with its containing block.</p>
<ul>
<li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/initial_value" title="en/CSS/initial_value">Initial value</a>
</span>: scroll</li> <li>Applies to: all elements</li> <li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/inheritance" title="en/CSS/inheritance">Inherited</a>
</span>: no</li> <li>Media: <span class="lang lang-en">
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/Media/Visual">visual</a></code> </span>
</li> <li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/computed_value" title="en/CSS/computed_value">Computed value</a>
</span>: as specified</li>
</ul>
</div>
<div id="section_2">
<span id="Syntax"></span><h3 class="editable">Syntax</h3>
<pre>
background-attachment:  &lt;attachment&gt;[, &lt;attachment&gt;]*
</pre>
<p>Where:</p>
<dl>
<dt>&lt;attachment&gt;</dt> <dd><code>scroll | fixed | local</code></dd>
</dl>
<p>

</p>
<div style="border: 0px none ; margin: 10px 0px; padding: 0px 10px; background-color: rgb(254, 244, 156); text-align: center;">
<p style="margin: 4px 0px; font-weight: bold;">Gecko 1.9.2 note</p>
<p style="margin: 4px 0px;">Gecko 1.9.2 introduced support for multiple background images; prior to 1.9.2, only one  value is supported.</p>
</div>
</div>
<div id="section_3">
<span id="Values"></span><h3 class="editable">Values</h3>
<dl>
<dt>scroll</dt> <dd>If <code>scroll</code> is specified, the background image will scroll within the viewport along with the block the image is contained within.</dd> <dt>fixed</dt> <dd>If <code>fixed</code> is specified, the background image will not scroll with its containing element, instead remaining stationary within the viewport.</dd> <dt>local</dt> <dd>
<span class="unimplementedInlineTemplate" style="border: 1px solid rgb(246, 111, 111); background-color: rgb(255, 153, 204); font-size: x-small; white-space: nowrap; padding: 2px;">Unimplemented</span>
 in Gecko (Firefox)</dd>
</dl>
</div>
<div id="section_4">
<span id="Examples"></span><h3 class="editable">Examples</h3>
<p>
<a rel="custom" href="http://developer.mozilla.org/samples/cssref/background-attachment.html">View Live Examples</a></p>
<pre>
body {
	background-image: url("images/cartooncat.png");
	background-attachment: fixed;
}
</pre>
<div id="section_5">
<span id="Multiple_background_image_support"></span><h4 class="editable">Multiple background image support</h4>
<p>Gecko 1.9.2 supports multiple background images. You can specify a different <code>&lt;attachment&gt;</code> for each background, separated by commas:</p>
<pre>
body {
  background-image: url("img1.png"), url("img2.png");
  background-attachment: scroll, fixed;
} 
</pre>
<p>Each image is matched with the corresponding attachment type, from first specified to last.</p>
</div>
</div>
<div id="section_6">
<span id="Browser_Compatibility"></span><h3 class="editable">Browser Compatibility</h3>
<p>
<script type="text/javascript">/*<![CDATA[*/
        $(function() {
            $('.htab').append($('#compat-desktop'));
            $('.htab').append($('#compat-mobile'));
            var $items = $('.htab>ul>li');
            $items.click(function() {
                $items.removeClass('selected');
                $(this).addClass('selected');

                var index = $items.index($(this));
                $('.htab>div').hide().eq(index).show();
            }).eq(0).click();
        });
    /*]]>*/</script></p>
<div class="htab">
<a name="AutoCompatibilityTable"></a>
<ul>
<li class="selected">Desktop</li> <li>Mobile</li>
</ul>
</div>
<div id="compat-desktop"> <table class="compat-table"><tbody>
<tr>
<th>Feature</th> <th>Chrome</th> <th>Firefox (Gecko)</th> <th>Internet Explorer</th> <th>Opera</th> <th>Safari</th> </tr>
<tr>
<td>Basic support</td> <td>1.0</td> <td>1.0 (1.7 or earlier)
</td> <td>4.0</td> <td>3.5</td> <td>1.0</td> </tr>
<tr>
<td>Multiple backgrounds</td> <td>1.0</td> <td>3.6 (1.9.2)
</td> <td>9.0</td> <td>10.5</td> <td>1.3</td> </tr>
<tr>
<td><code>local</code></td> <td>4.0</td> <td>
<span style="color: rgb(255, 0, 0);" title="Not supported.">--</span> <a class="link-https" title="https://bugzilla.mozilla.org/show_bug.cgi?id=483446" rel="external" href="https://bugzilla.mozilla.org/show_bug.cgi?id=483446" target="_blank">[1]</a>
</td> <td>9.0</td> <td>10.5</td> <td>5.0</td> </tr>
</tbody></table>
</div>
<div id="compat-mobile"> <table class="compat-table"><tbody>
<tr>
<th>Feature</th> <th>Android</th> <th>Firefox Mobile (Gecko)</th> <th>IE Phone</th> <th>Opera Mobile</th> <th>Safari Mobile</th> </tr>
<tr>
<td>Basic support</td> <td>2.1</td> <td>1.0 (1.9.2)
</td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> <td>10.0</td> <td>3.2</td> </tr>
<tr>
<td>Multiple backgrounds</td> <td>2.1</td> <td>1.0 (1.9.2)
</td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> <td>10.0</td> <td>3.2</td> </tr>
<tr>
<td><code>local</code></td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> <td>
<span style="color: rgb(255, 0, 0);" title="Not supported.">--</span> <a class="link-https" title="https://bugzilla.mozilla.org/show_bug.cgi?id=483446" rel="external" href="https://bugzilla.mozilla.org/show_bug.cgi?id=483446" target="_blank">[2]</a>
</td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> </tr>
</tbody></table>
</div>
</div>
<div id="section_7">
<span id="Specifications"></span><h3 class="editable">Specifications</h3>
<ul>
<li><a class="external" rel="external" href="http://www.w3.org/TR/CSS21/colors.html#propdef-background-attachment" title="http://www.w3.org/TR/CSS21/colors.html#propdef-background-attachment" target="_blank">CSS 2.1 Colors and Backgrounds #background-attachment</a></li> <li><a title="http://www.w3.org/TR/css3-background/#the-background-attachment" class="external" rel="external" href="http://www.w3.org/TR/css3-background/#the-background-attachment" target="_blank">CSS 3 Backgrounds and Borders #background-attachment </a></li>
</ul>
</div>
<div id="section_8">
<span id="See_also"></span><h3 class="editable">See also</h3>
<ul>
<li><span class="lang lang-*">
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/background">background</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/background-attachment">background-attachment</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/background-clip">background-clip</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/background-color">background-color</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/background-image">background-image</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/background-origin">background-origin</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/background-position">background-position</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/background-repeat">background-repeat</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/background-size">background-size</a></code></span></li> <li><a title="en/CSS/Multiple backgrounds" rel="internal" href="https://developer.mozilla.org/en/CSS/Multiple_backgrounds">Multiple backgrounds</a></li> <li><a title="http://www.quirksmode.org/css/background.html" class=" external" rel="external" href="http://www.quirksmode.org/css/background.html" target="_blank">Quirksmode background compatibility</a></li>
</ul>
<p></p>
</div>