<div class="pageText" id="pageText">
<p><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span> </p>
<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p><code>background-color</code> sets the background color of an element, either through a color value or the keyword <code>transparent</code>.</p>
<ul>
<li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/initial_value" title="en/CSS/initial_value">Initial value</a>
</span>: transparent</li> <li>Applies to: all elements</li> <li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/inheritance" title="en/CSS/inheritance">Inherited</a>
</span>: no</li> <li>Percentages: N/A</li> <li>Media: <span class="lang lang-en">
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/Media/Visual">visual</a></code> </span>
</li> <li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/computed_value" title="en/CSS/computed_value">Computed value</a>
</span>: as specified</li>
</ul>
</div>
<div id="section_2">
<span id="Syntax"></span><h3 class="editable">Syntax</h3>
<pre class="eval">
background-color: <em>color</em> | transparent | inherit
</pre>
</div>
<div id="section_3">
<span id="Values"></span><h3 class="editable">Values</h3>
<dl>
<dt>color </dt> <dd>The color can be specified as a hexadecimal RGB value, a regular RGB value, or by using one of the pre-defined color keywords.</dd> <dt>transparent </dt> <dd>The default value for <code>background-color</code> is <code>transparent</code> meaning the element has no color of its own, instead showing the color of the element behind it.</dd>
</dl>
</div>
<div id="section_4">
<span id="Examples"></span><h3 class="editable">Examples</h3>
<p>
<a rel="custom" href="http://developer.mozilla.org/samples/cssref/background-color.html">View Live Examples</a></p>
<pre>
.exampleOne {
	background-color: teal;
	color: white;
}

.exampleTwo {
	background-color: rgb(153,102,153);
	color: rgb(255,255,204);
}

.exampleThree {
	background-color: #666699;
	color: #FFFFFF;
}

</pre>
</div>
<div id="section_5">
<span id="Notes"></span><h3 class="editable">Notes</h3>
<p>Color reference: See <a title="en/CSS/color_value" rel="internal" href="https://developer.mozilla.org/en/CSS/color_value">color values</a>.</p>
</div>
<div id="section_6">
<span id="Browser_Compatibility"></span><span id="Browser_compatibility"></span><h3 class="editable">Browser compatibility</h3>
<p>
<script type="text/javascript">/*<![CDATA[*/
        $(function() {
            $('.htab').append($('#compat-desktop'));
            $('.htab').append($('#compat-mobile'));
            var $items = $('.htab>ul>li');
            $items.click(function() {
                $items.removeClass('selected');
                $(this).addClass('selected');

                var index = $items.index($(this));
                $('.htab>div').hide().eq(index).show();
            }).eq(0).click();
        });
    /*]]>*/</script></p>
<div class="htab">
<a name="AutoCompatibilityTable"></a>
<ul>
<li class="selected">Desktop</li> <li>Mobile</li>
</ul>
</div>
<div id="compat-desktop">
<table class="compat-table"><tbody>
<tr>
<th>Feature</th> <th>Firefox (Gecko)</th> <th>Chrome</th> <th>Internet Explorer</th> <th>Opera</th> <th>Safari (WebKit)</th> </tr>
<tr>
<td>Basic support</td> <td>1.0 (1.7 or earlier)
</td> <td>1.0</td> <td>4.0</td> <td>3.5</td> <td>1.0 (85)</td> </tr>
</tbody></table>
</div>
<div id="compat-mobile">
<table class="compat-table"><tbody>
<tr>
<th>Feature</th> <th>Firefox Mobile (Gecko)</th> <th>Android</th> <th>IE Phone</th> <th>Opera Mobile</th> <th>Safari Mobile</th> </tr>
<tr>
<td>Basic support</td> <td>1.0 (1.9.2)
</td> <td><span title="Please update this with the earliest version of support." style="color: #888">(Supported)</span></td> <td><span title="Please update this with the earliest version of support." style="color: #888">(Supported)</span></td> <td><span title="Please update this with the earliest version of support." style="color: #888">(Supported)</span></td> <td><span title="Please update this with the earliest version of support." style="color: #888">(Supported)</span></td> </tr>
</tbody></table>
</div>
</div>
<div id="section_7">
<span id="Specifications"></span><h3 class="editable">Specifications</h3>
<ul>
<li><a class="external" rel="external" href="http://www.w3.org/TR/CSS21/colors.html#propdef-background-color" title="http://www.w3.org/TR/CSS21/colors.html#propdef-background-color" target="_blank">CSS 2.1 Colors and Backgrounds</a></li> <li><a class="external" rel="external" href="http://www.w3.org/TR/css3-background/#background-color" title="http://www.w3.org/TR/css3-background/#background-color" target="_blank">CSS 3 Backgrounds &amp; Borders</a></li>
</ul>
</div>
<div id="section_8">
<span id="See_also"></span><h3 class="editable">See also</h3>
<ul>
<li><span class="lang lang-*">
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/background">background</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/background-attachment">background-attachment</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/background-clip">background-clip</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/background-color">background-color</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/background-image">background-image</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/background-origin">background-origin</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/background-position">background-position</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/background-repeat">background-repeat</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/background-size">background-size</a></code></span></li> <li><a title="en/CSS/Multiple backgrounds" rel="internal" href="https://developer.mozilla.org/en/CSS/Multiple_backgrounds">Multiple backgrounds</a></li>
</ul>
<p></p>
</div>
</div>