
<p><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span> </p>
<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p>The<code> border-bottom-color</code> CSS property sets the color of the bottom border of an element.</p>
<p>See 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/border-top-color">border-top-color</a></code> for more and detailed information.</p>
<p></p>
</div>