
<p><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span> </p>
<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p>The<code> border-width </code>CSS property sets the width of the border of a box. Using the shortcut property 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/border">border</a></code> is often more convenient.</p>
<ul>
<li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/initial_value" title="en/CSS/initial_value">Initial value</a>
</span>: 
<code><a rel="internal" href="https://developer.mozilla.org/en/CSS/medium" class="new">medium</a></code>
</li> <li>Applies to: all elements</li> <li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/inheritance" title="en/CSS/inheritance">Inherited</a>
</span>: no</li> <li>Percentages: N/A</li> <li>Media: <span class="lang lang-en">
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/Media/Visual">visual</a></code> </span>
</li> <li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/computed_value" title="en/CSS/computed_value">Computed value</a>
</span>: absolute length;<code> 0 </code>if the<code> border-style </code>is<code> none </code>or<code> hidden</code>
</li>
</ul>
</div>
<div id="section_2">
<span id="Syntax"></span><h3 class="editable">Syntax</h3>
<pre>
 border-width:  &lt;border-width&gt; {1,4}
</pre>
</div>
<div id="section_3">
<span id="Values"></span><h3 class="editable">Values</h3>
<p>Accepts one, two, three or four<code> &lt;border-width&gt; </code>values. These whitespace separated values set the width of the top, right, bottom, and left border of a box.</p>
<p>If<strong> one </strong>value is set, this width applies to<strong> all 4 sides</strong>.<br>
If<strong> two </strong>values are set, the<strong> first </strong>applies to <strong>top and bottom</strong>, the <strong>second</strong> applies to the <strong>right and left</strong> side.<br><strong>Three</strong> values apply to the top, right and bottom side. The left side takes the second value.<br><strong>Four</strong> values apply to the <strong>top, right, bottom, left</strong> side in that order.</p>
<dl>
<dt><strong>&lt;border-width&gt;</strong></dt> <dd>is one value or keyword of:   

<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/length">&lt;length&gt;</a></code><code> | thin | medium | thick </code>
</dd> <dt>thin</dt> <dd>Depends on the UA. Typically <strong>1px</strong> in desktop browsers like Firefox and IE 8.<strong> 2px </strong>in IE 4-7.</dd> <dt>medium</dt> <dd>Depends on the UA. Typically <strong>3px</strong> in desktop browsers like Firefox and IE 8.<strong> 4px </strong>in IE 4-7.</dd> <dt>thick</dt> <dd>Depends on the UA. Typically <strong>5px</strong> in desktop browsers like Firefox and IE 8.<strong> 6px </strong>in IE 4-7.</dd> <dt>&lt;length&gt;</dt> <dd>The border's thickness has an explicit value. Cannot be negative. See 

<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/length">&lt;length&gt;</a></code> for possible units.</dd>
</dl>
</div>
<div id="section_4">
<span id="Related_properties"></span><h3 class="editable">Related properties</h3>
<ul>
<li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/border-bottom-width">border-bottom-width</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/border-left-width">border-left-width</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/border-right-width">border-right-width</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/border-top-width">border-top-width</a></code> </li>
</ul>
</div>
<div id="section_5">
<span id="Examples"></span><h3 class="editable">Examples</h3>
<pre style="border:ridge #ccc; border-width:6px">
border: ridge #ccc;
border-width: 6px;  /* same as "<strong>border: ridge #ccc 6px</strong>";  6px wide border on all 4 sides */</pre>
<pre style="border:solid red; border-width:2px 10px">
border: solid red;
border-width: 2px 10px;  /* 2px wide top and bottom border, 10px right and left border */
</pre>
<pre style="border:dotted orange; border-width:0.3em 0">
border: dotted orange;
border-width: 0.3em 0;   /* 0.3em wide top and bottom border, no border right and left */
</pre>
<pre style="border:solid lightgreen; border-width:medium 0 1px thick">
border: solid lightgreen;
border-width: medium 0 1px thick;  /* three different width, no right border */
</pre>
</div>
<div id="section_6">
<span id="Specifications"></span><h3 class="editable">Specifications</h3>
<ul>
<li><a title="http://www.w3.org/TR/CSS21/box.html#border-width-properties" class="external" rel="external" href="http://www.w3.org/TR/CSS21/box.html#border-width-properties" target="_blank">CSS 2.1 Box #border-width</a></li> <li><a title="http://www.w3.org/TR/css3-background/#the-border-width" class="external" rel="external" href="http://www.w3.org/TR/css3-background/#the-border-width" target="_blank"><span style="text-decoration: underline;">CSS 3 Background #border-width</span></a></li>
</ul>
</div>
<div id="section_7">
<span id="Browser_compatibility"></span><h3 class="editable">Browser compatibility</h3>
<p>
<script type="text/javascript">/*<![CDATA[*/
        $(function() {
            $('.htab').append($('#compat-desktop'));
            $('.htab').append($('#compat-mobile'));
            var $items = $('.htab>ul>li');
            $items.click(function() {
                $items.removeClass('selected');
                $(this).addClass('selected');

                var index = $items.index($(this));
                $('.htab>div').hide().eq(index).show();
            }).eq(0).click();
        });
    /*]]>*/</script></p>
<div class="htab">
<a name="AutoCompatibilityTable"></a>
<ul>
<li class="selected">Desktop</li> <li>Mobile</li>
</ul>
</div>
<div id="compat-desktop">
<table class="compat-table"><tbody>
<tr>
<th>Feature</th> <th>Firefox (Gecko)</th> <th>Chrome</th> <th>Internet Explorer</th> <th>Opera</th> <th>Safari</th> </tr>
<tr>
<td>Basic support</td> <td>1.0 (1.7 or earlier)
</td> <td>1.0</td> <td>4.0</td> <td>3.5</td> <td>1.0 (85)</td> </tr>
</tbody></table>
</div>
<div id="compat-mobile">
<table class="compat-table"><tbody>
<tr>
<th>Feature</th> <th>Firefox Mobile (Gecko)</th> <th>Android</th> <th>IE Phone</th> <th>Opera Mobile</th> <th>Safari Mobile</th> </tr>
<tr>
<td>Basic support</td> <td>1.0 (1.9.2)
</td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> </tr>
</tbody></table>
</div>
</div>
<div id="section_8">
<span id="See_Also"></span><h3 class="editable">See Also</h3>
<p>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/border">border</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/border-style">border-style</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/border-color">border-color</a></code></p>
<p></p>
</div>