<div class="pageText" id="pageText">
<p><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span> </p>
<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p><code>border-top-width</code> sets the width of the top border of a box.</p>
<p>See the <a title="en/CSS/border-bottom-width" rel="internal" href="https://developer.mozilla.org/en/CSS/border-bottom-width">border-bottom-width</a> property for more information.</p>
<p> </p>
</div>
</div>