
<p><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span> </p>
<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p>The CSS property<code> border-bottom-left-radius </code>sets the rounding of the bottom-left corner of the border. Previous to Gecko 2.0 (Firefox 4.0) this was named <code> -moz-border-radius-bottomleft. </code></p>
<p>See the <code><a rel="custom nofollow" href="../../../../en/CSS/border-top-left-radius">border-top-left-radius</a></code> and <code><a rel="custom nofollow" href="../../../../en/CSS/border-radius">border-radius</a></code> properties for more information.</p>
<p> </p>
<p></p>
</div>