
<p><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span> </p>
<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p>The <code>border-right</code> is a shorthand property for setting the width, style and color of right border of a box. This property can be used to set the values for one or more of: 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/border-right-width">border-right-width</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/border-right-style">border-right-style</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/border-right-color">border-right-color</a></code>. Omitted values are set to their initial values.</p>
<ul>
<li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/initial_value" title="en/CSS/initial_value">Initial value</a>
</span>: see individual properties for details</li> <li>Applies to: all elements</li> <li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/inheritance" title="en/CSS/inheritance">Inherited</a>
</span>: no</li> <li>Percentages: N/A</li> <li>Media: <span class="lang lang-en">
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/Media/Visual">visual</a></code> </span>
</li> <li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/computed_value" title="en/CSS/computed_value">Computed value</a>
</span>: see individual properties</li>
</ul>
</div>
<div id="section_2">
<span id="Syntax"></span><h3 class="editable">Syntax</h3>
<pre class="eval">
border-right: [<em>border-width</em> || <em>border-style</em> || <em>border-color</em> | <em>inherit</em>] ;
</pre>
</div>
<div id="section_3">
<span id="Values"></span><h3 class="editable">Values</h3>
<dl>
<dt>border-width</dt> <dd>See 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/border-width">border-width</a></code>.</dd> <dt>border-style </dt> <dd>See 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/border-style">border-style</a></code>.</dd> <dt>border-color </dt> <dd>See 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/border-color">border-color</a></code>.</dd>
</dl>
</div>
<div id="section_4">
<span id="Examples"></span><h3 class="editable">Examples</h3>
<pre>
element { 
    border-right: 1px solid #000;
}
</pre>
</div>
<div id="section_5">
<span id="Notes"></span><h3 class="editable">Notes</h3>
<p>If the rule does not specify a border color, the border will have the color specified by the 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/color">color</a></code> property.</p>
</div>
<div id="section_6">
<span id="Specifications"></span><h3 class="editable">Specifications</h3>
<ul>
<li><a class="external" rel="external" href="http://www.w3.org/TR/CSS1#border-right" title="http://www.w3.org/TR/CSS1#border-right" target="_blank">CSS 1</a></li> <li><a class="external" rel="external" href="http://www.w3.org/TR/CSS21/box.html#propdef-border-right" title="http://www.w3.org/TR/CSS21/box.html#propdef-border-right" target="_blank">CSS 2.1</a></li> <li><a class="external" rel="external" href="http://www.w3.org/TR/css3-background/#the-border-shorthands" title="http://www.w3.org/TR/css3-background/#the-border-shorthands" target="_blank">CSS 3</a></li>
</ul>
</div>
<div id="section_7">
<span id="Browser_compatibility"></span><h3 class="editable">Browser compatibility</h3>
</div>
<div id="section_8">
<span id="See_also"></span><h3 class="editable">See also</h3>
<p>
<span class="lang lang-*">
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/border">border</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/border-width">border-width</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/border-style">border-style</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/border-color">border-color</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/margin">margin</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/padding">padding</a></code></span></p>
<p>
<span class="lang lang-*">
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/border-right">border-right</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/border-right-color">border-right-color</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/border-right-style">border-right-style</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/border-right-width">border-right-width</a></code></span></p>
<p> </p>
</div>