
<p><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span> </p>
<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p>The<code> border-spacing </code>CSS property specifies the distance between the borders of adjacent cells (only for the <a title="en/CSS/border-collapse" rel="internal" href="https://developer.mozilla.org/en/CSS/border-collapse">separated borders model</a>). This is equivalent to the cellspacing attribute in presentational HTML, but an optional second value can be used to set different horizontal and vertical spacing.</p>
<ul>
<li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/initial_value" title="en/CSS/initial_value">Initial value</a>
</span>: 0<br> Note: In desktop browsers like Firefox the default value for HTML tables is<code> 2px</code>.</li> <li>Applies to: tables and inline-tables</li> <li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/inheritance" title="en/CSS/inheritance">Inherited</a>
</span>: Yes</li> <li>Percentages: n/a</li> <li>Media: <span class="lang lang-en">
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/Media/Visual">visual</a></code> </span>
</li> <li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/computed_value" title="en/CSS/computed_value">Computed value</a>
</span>: two absolute lengths</li>
</ul>
</div>
<div id="section_2">
<span id="Syntax"></span><h3 class="editable">Syntax</h3>
<pre>
border-spacing: &lt;length&gt; &lt;length&gt;? | inherit </pre>
</div>
<div id="section_3">
<span id="Values"></span><h3 class="editable">Values</h3>
<p>Accepts one or two values.</p>
<dl>
<dt>&lt;length&gt;</dt> <dd>A single value is for both horizontal and vertical border spacing. See 

<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/length">&lt;length&gt;</a></code> for possible units.</dd> <dt>&lt;length&gt; &lt;length&gt;</dt> <dd>The first 

<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/length">&lt;length&gt;</a></code> gives the horizontal spacing (space between cells in adjacent columns) and the second length gives the vertical spacing (space between cells in adjacent rows).</dd>
</dl>
</div>
<div id="section_4">
<span id="Examples"></span><h3 class="editable">Examples</h3>
<p>
<a rel="custom" href="http://developer.mozilla.org/samples/cssref/border-spacing.html">View Live Examples</a></p>
<pre>
table { border-spacing: 10px 5px; }
</pre>
</div>
<div id="section_5">
<span id="Notes"></span><h3 class="editable">Notes</h3>
<ul>
<li>This property applies only when 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/border-collapse">border-collapse</a></code> is<code> separate</code>.</li> <li>The border-spacing is also used along the outside edge of the table, where the distance between the table's border and the cells in the first/last column or row is the sum of the relevant (horizontal or vertical) border-spacing and the relevant (top, right, bottom, or left) padding on the table.</li>
</ul>
</div>
<div id="section_6">
<span id="Specifications"></span><h3 class="editable">Specifications</h3>
<ul>
<li><a class="external" rel="external" href="http://www.w3.org/TR/CSS21/tables.html#propdef-border-spacing" title="http://www.w3.org/TR/CSS21/tables.html#propdef-border-spacing" target="_blank">CSS 2.1 Tables #border-spacing</a></li>
</ul>
</div>
<div id="section_7">
<span id="Browser_compatibility"></span><h3 class="editable">Browser compatibility</h3>
<p>
<script type="text/javascript">/*<![CDATA[*/
        $(function() {
            $('.htab').append($('#compat-desktop'));
            $('.htab').append($('#compat-mobile'));
            var $items = $('.htab>ul>li');
            $items.click(function() {
                $items.removeClass('selected');
                $(this).addClass('selected');

                var index = $items.index($(this));
                $('.htab>div').hide().eq(index).show();
            }).eq(0).click();
        });
    /*]]>*/</script></p>
<div class="htab">
<a name="AutoCompatibilityTable"></a>
<ul>
<li class="selected">Desktop</li> <li>Mobile</li>
</ul>
</div>
<div id="compat-desktop">
<table class="compat-table"><tbody>
<tr>
<th>Feature</th> <th>Chrome</th> <th>Firefox (Gecko)</th> <th>Internet Explorer</th> <th>Opera</th> <th>Safari (WebKit)</th> </tr>
<tr>
<td>Basic support</td> <td>1.0</td> <td>1.0 (1.7 or earlier)
</td> <td>8.0</td> <td>4.0</td> <td>1.0 (85)</td> </tr>
</tbody></table>
</div>
<div id="compat-mobile">
<table class="compat-table"><tbody>
<tr>
<th>Feature</th> <th>Android</th> <th>Firefox Mobile (Gecko)</th> <th>IE Phone</th> <th>Opera Mobile</th> <th>Safari Mobile</th> </tr>
<tr>
<td>Basic support</td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> <td>1.0 (1.9.2)
</td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> </tr>
</tbody></table>
</div>
</div>
<div id="section_8">
<span id="See_also"></span><h3 class="editable">See also</h3>
<p>

<span class="lang lang-*">
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/caption-side">caption-side</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/table-layout">table-layout</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/border-collapse">border-collapse</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/border-spacing">border-spacing</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/empty-cells">empty-cells</a></code></span></p>
<p></p>
</div>