<div class="pageText" id="pageText">
<p><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span> </p>
<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p>The<code> border-collapse </code>CSS property selects a table's border model. This has a big influence on the look and style of the table cells.</p>
<p>The <em>separated</em> model is the traditional HTML table border model. Adjacent cells each have their own distinct borders. The distance between them given by the 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/border-spacing">border-spacing</a></code> property.</p>
<p>In the <em>collapsed</em> border model, adjacent table cells share borders.</p>
<ul>
<li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/initial_value" title="en/CSS/initial_value">Initial value</a>
</span>:<code> separate</code>
</li> <li>Applies to:<code> table </code>and<code> inline-table </code>elements</li> <li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/inheritance" title="en/CSS/inheritance">Inherited</a>
</span>: Yes</li> <li>Media: <span class="lang lang-en">
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/Media/Visual">visual</a></code> </span>
</li> <li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/computed_value" title="en/CSS/computed_value">Computed value</a>
</span>: as specified</li>
</ul>
</div>
<div id="section_2">
<span id="Syntax"></span><h3 class="editable">Syntax</h3>
<pre>
border-collapse:  collapse | separate | inherit</pre>
</div>
<div id="section_3">
<span id="Values"></span><h3 class="editable">Values</h3>
<dl>
<dt>separate</dt> <dd>Default, use the "separated borders" rendering model</dd> <dt>collapse</dt> <dd>Use the "collapsed borders" rendering model</dd>
</dl>
</div>
<div id="section_4">
<span id="Examples"></span><h3 class="editable">Examples</h3>
<p>
<a rel="custom" href="http://developer.mozilla.org/samples/cssref/border-collapse.html">View Live Examples</a></p>
<pre>
th, td { border: solid 1px red; }
table { border-collapse: collapse; }
</pre>
<table border="6" style="display: inline-table; margin: 1em;">
<caption><code>&lt;table border=6&gt;</code></caption> <tbody>
<tr>
<th>Browser</th> <th>Layout Engine</th> </tr>
<tr>
<td>Internet Explorer</td> <td>Trident</td> </tr>
<tr>
<td>Firefox</td> <td>Gecko</td> </tr>
<tr>
<td>Opera</td> <td>Presto</td> </tr>
<tr>
<td>Safari</td> <td>WebKit</td> </tr>
</tbody>
</table>
<table border="6" style="display: inline-table; border-collapse: collapse; margin: 1em;">
<caption><code>&lt;table border=6 style=<br> "border-collapse:collapse"&gt;</code></caption> <tbody>
<tr>
<th>Browser</th> <th>Layout Engine</th> </tr>
<tr>
<td>Internet Explorer</td> <td>Trident</td> </tr>
<tr>
<td>Firefox</td> <td>Gecko</td> </tr>
<tr>
<td>Opera</td> <td>Presto</td> </tr>
<tr>
<td>Safari</td> <td>WebKit</td> </tr>
</tbody>
</table>
</div>
<div id="section_5">
<span id="Notes"></span><h3 class="editable">Notes</h3>
<p>In the "collapsed border" rendering model, the 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/border-style">border-style</a></code> value of<code> inset </code>behaves like<code> groove</code>, and<code> outset </code>behaves like<code> ridge</code>.</p>
</div>
<div id="section_6">
<span id="Specifications"></span><h3 class="editable">Specifications</h3>
<ul>
<li><a class="external" title="http://www.w3.org/TR/CSS21/tables.html#borders" rel="external" href="http://www.w3.org/TR/CSS21/tables.html#borders" target="_blank">CSS 2.1 Table #borders</a></li>
</ul>
</div>
<div id="section_7">
<span id="Browser_compatibility"></span><h3 class="editable">Browser compatibility</h3>
<p>
<script type="text/javascript">/*<![CDATA[*/
        $(function() {
            $('.htab').append($('#compat-desktop'));
            $('.htab').append($('#compat-mobile'));
            var $items = $('.htab>ul>li');
            $items.click(function() {
                $items.removeClass('selected');
                $(this).addClass('selected');

                var index = $items.index($(this));
                $('.htab>div').hide().eq(index).show();
            }).eq(0).click();
        });
    /*]]>*/</script></p>
<div class="htab">
<a name="AutoCompatibilityTable"></a>
<ul>
<li class="selected">Desktop</li> <li>Mobile</li>
</ul>
</div>
<div id="compat-desktop">
<table class="compat-table"><tbody>
<tr>
<th>Feature</th> <th>Firefox (Gecko)</th> <th>Chrome</th> <th>Internet Explorer</th> <th>Opera</th> <th>Safari</th> </tr>
<tr>
<td>Basic support</td> <td>1.0 (1.7 or earlier)
</td> <td>1.0</td> <td>5.0</td> <td>4.0</td> <td>1.2 (125)</td> </tr>
</tbody></table>
</div>
<div id="compat-mobile">
<table class="compat-table"><tbody>
<tr>
<th>Feature</th> <th>Firefox Mobile (Gecko)</th> <th>Android</th> <th>IE Phone</th> <th>Opera Mobile</th> <th>Safari Mobile</th> </tr>
<tr>
<td>Basic support</td> <td>1.0 (1.9.2)
</td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> </tr>
</tbody></table>
</div>
</div>
<div id="section_8">
<span id="See_also"></span><h3 class="editable">See also</h3>
<p>

<span class="lang lang-*">
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/caption-side">caption-side</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/table-layout">table-layout</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/border-collapse">border-collapse</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/border-spacing">border-spacing</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/empty-cells">empty-cells</a></code></span></p>
<p></p>
</div>
</div>