
<p><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span> </p>
<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p>The<code> caption-side </code>property positions the content of table-caption at the specified side.</p>
<ul>
<li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/initial_value" title="en/CSS/initial_value">Initial value</a>
</span>: top</li> <li>Applies to: 'table-caption' elements</li> <li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/inheritance" title="en/CSS/inheritance">Inherited</a>
</span>: yes</li> <li>Percentages: n/a</li> <li>Media: <span class="lang lang-en">
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/Media/Visual">visual</a></code> </span>
</li> <li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/computed_value" title="en/CSS/computed_value">Computed value</a>
</span>: as specified</li>
</ul>
</div>
<div id="section_2">
<span id="Syntax"></span><h3 class="editable">Syntax</h3>
<pre class="eval">
caption-side: top | bottom | left | right | inherit
</pre>
</div>
<div id="section_3">
<span id="Values"></span><h3 class="editable">Values</h3>
<dl>
<dt>top</dt> <dd>caption box will be above the table.</dd> <dt>bottom</dt> <dd>caption box will be below the table.</dd> <dt>left</dt> <dd>caption box will be on the left side of the table. This Value is dropped from CSS 2.1 but supported in Gecko (Firefox).</dd> <dt>right</dt> <dd>caption box will be on the right side of the table. This Value is dropped from CSS 2.1 but supported in Gecko (Firefox).</dd>
</dl>
</div>
<div id="section_4">
<span id="Examples"></span><h3 class="editable">Examples</h3>
<p>
<a rel="custom" href="http://developer.mozilla.org/samples/cssref/caption-side.html">View Live Examples</a></p>
<pre class="eval">
.contentbox table-caption {
  caption-side: bottom;
}
</pre>
</div>
<div id="section_5">
<span id="Notes"></span><span id="Specifications"></span><h3 class="editable">Specifications</h3>
<ul>
<li>
<a class="external" rel="external" href="http://www.w3.org/TR/REC-CSS2/tables.html#q6" title="http://www.w3.org/TR/REC-CSS2/tables.html#q6" target="_blank">CSS 2 Table</a>  (out of date)</li> <li><a class="external" rel="external" href="http://www.w3.org/TR/CSS21/tables.html#caption-position" title="http://www.w3.org/TR/CSS21/tables.html#caption-position" target="_blank">CSS 2.1 Table #caption-side</a></li>
</ul>
</div>
<div id="section_6">
<span id="Browser_Compatibility"></span><h3 class="editable">Browser Compatibility</h3>
<p>
<script type="text/javascript">/*<![CDATA[*/
        $(function() {
            $('.htab').append($('#compat-desktop'));
            $('.htab').append($('#compat-mobile'));
            var $items = $('.htab>ul>li');
            $items.click(function() {
                $items.removeClass('selected');
                $(this).addClass('selected');

                var index = $items.index($(this));
                $('.htab>div').hide().eq(index).show();
            }).eq(0).click();
        });
    /*]]>*/</script></p>
<div class="htab">
<a name="AutoCompatibilityTable"></a>
<ul>
<li class="selected">Desktop</li> <li>Mobile</li>
</ul>
</div>
<div id="compat-desktop">
<table class="compat-table"><tbody>
<tr>
<th>Feature</th> <th>Chrome</th> <th>Firefox</th> <th>Internet Explorer</th> <th>Opera</th> <th>Safari</th> </tr>
<tr>
<td>Basic support</td> <td>1.0</td> <td>1.0</td> <td>8.0</td> <td>4.0</td> <td>1.0</td> </tr>
</tbody></table>
</div>
<div id="compat-mobile">
<table class="compat-table"><tbody>
<tr>
<th>Feature</th> <th>Android</th> <th>Firefox Mobile (Gecko)</th> <th>IE Phone</th> <th>Opera Mobile</th> <th>Safari Mobile</th> </tr>
<tr>
<td>Basic support</td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> </tr>
</tbody></table>
</div>
</div>
<div id="section_7">
<span id="See_also"></span><h3 class="editable">See also</h3>
<p>

<span class="lang lang-*">
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/caption-side">caption-side</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/table-layout">table-layout</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/border-collapse">border-collapse</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/border-spacing">border-spacing</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/empty-cells">empty-cells</a></code></span></p>
<p></p>
</div>