
<p><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span> </p>
<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p>Comments are used to add explanatory notes or prevent the browser from interpreting parts of the stylesheet.</p>
</div>
<div id="section_2">
<span id="Syntax"></span><h3 class="editable">Syntax</h3>
<pre class="eval">
/* Comment */</pre>
</div>
<div id="section_3">
<span id="Examples"></span><h3 class="editable">Examples</h3>

          <pre name="code" class="css">/* A single line comment */

/*
A comment
which stretches
over several
lines
*/</pre>
        
</div>
<div id="section_4">
<span id="Notes"></span><h3 class="editable">Notes</h3>
<p>The <code>/* */</code> comment syntax is used for both single and multi line comments. There is no other way to specify comments in external stylesheets. However, when using the <code>&lt;style&gt;</code> element, you may use <code>&lt;!-- --&gt;</code> to hide CSS from older browsers, although this is not recommended. As in most programming languages that use the <code>/* */</code> comment syntax, comments cannot be nested. In other words, the first instance of <code>*/</code> that follows an instance of <code>/*</code> closes the comment.</p>
</div>
<div id="section_5">
<span id="Specifications"></span><h3 class="editable">Specifications</h3>
<ul>
<li><a class="external" rel="external" href="http://www.w3.org/TR/CSS21/syndata.html#comments" title="http://www.w3.org/TR/CSS21/syndata.html#comments" target="_blank">CSS 2.1 Syntax and basic data types #comments</a></li>
</ul>
</div>