<div class="pageText" id="pageText">
<p><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span> </p>
<p><br><a rel="internal" href="https://developer.mozilla.org/Template:Fixall" title="Template:Fixall" class=" new">Template:Fixall</a></p>
<p>also see: <a title="En/CSS Counters" class="internal" rel="internal" href="https://developer.mozilla.org/En/CSS_Counters">CSS Counters</a></p>
<div id="section_1">
<span id="Specifications"></span><h3 class="editable">Specifications</h3>
<p><a class=" external" rel="external" href="http://www.w3.org/TR/CSS21/syndata.html#counter" title="http://www.w3.org/TR/CSS21/syndata.html#counter" target="_blank">http://www.w3.org/TR/CSS21/syndata.html#counter</a></p>
</div>
</div>