
<p><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span> </p>
<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p><code>empty-cells </code>CSS property specifies how user agent should render borders and backgrounds around cells that have no visible content.</p>
<ul>
<li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/initial_value" title="en/CSS/initial_value">Initial value</a>
</span>: show</li> <li>Applies to: 'table-cell' elements</li> <li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/inheritance" title="en/CSS/inheritance">Inherited</a>
</span>: yes</li> <li>Percentages: n/a</li> <li>Media: <span class="lang lang-en">
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/Media/Visual">visual</a></code> </span>
</li> <li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/computed_value" title="en/CSS/computed_value">Computed value</a>
</span>: as specified</li>
</ul>
</div>
<div id="section_2">
<span id="Syntax"></span><h3 class="editable">Syntax</h3>
<pre class="eval">
empty-cells: show | hide | inherit
</pre>
</div>
<div id="section_3">
<span id="Values"></span><h3 class="editable">Values</h3>
<dl>
<dt>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/inherit">inherit</a></code>
</dt> <dt>show</dt> <dd>borders and backgrounds should be drawn like a normal cells</dd> <dt>hide</dt> <dd>no borders or backgrounds should be drawn</dd>
</dl>
</div>
<div id="section_4">
<span id="Examples"></span><h3 class="editable">Examples</h3>
<p>
<a rel="custom" href="http://developer.mozilla.org/samples/cssref/empty-cells.html">View Live Examples</a></p>
<pre class="eval">
.contentbox td {
  empty-cells: show;
}
</pre>
</div>
<div id="section_5">
<span id="Notes"></span><span id="Specification"></span><h3 class="editable">Specification</h3>
<ul>
<li><a title="http://www.w3.org/TR/CSS21/tables.html#empty-cells" class="external" rel="external" href="http://www.w3.org/TR/CSS21/tables.html#empty-cells" target="_blank">CSS 2.1 Tables #empty-cells</a></li>
</ul>
</div>
<div id="section_6">
<span id="Browser_Compatibility"></span><span id="Browser_compatibility"></span><h3 class="editable">Browser compatibility</h3>
<p>
<script type="text/javascript">/*<![CDATA[*/
        $(function() {
            $('.htab').append($('#compat-desktop'));
            $('.htab').append($('#compat-mobile'));
            var $items = $('.htab>ul>li');
            $items.click(function() {
                $items.removeClass('selected');
                $(this).addClass('selected');

                var index = $items.index($(this));
                $('.htab>div').hide().eq(index).show();
            }).eq(0).click();
        });
    /*]]>*/</script></p>
<div class="htab">
<a name="AutoCompatibilityTable"></a>
<ul>
<li class="selected">Desktop</li> <li>Mobile</li>
</ul>
</div>
<div id="compat-desktop"> <table class="compat-table"><tbody>
<tr>
<th>Feature</th> <th>Chrome</th> <th>Firefox (Gecko)</th> <th>Internet Explorer</th> <th>Opera</th> <th>Safari</th> </tr>
<tr>
<td>Basic support</td> <td>1.0</td> <td>1.0 (1.7 or earlier)
</td> <td>8.0</td> <td>4.0</td> <td>1.2</td> </tr>
</tbody></table>
</div>
<div id="compat-mobile"> <table class="compat-table"><tbody>
<tr>
<th>Feature</th> <th>Android</th> <th>Firefox Mobile (Gecko)</th> <th>IE Phone</th> <th>Opera Mobile</th> <th>Safari Mobile</th> </tr>
<tr>
<td>Basic support</td> <td>1</td> <td>1.0 (1.0)
</td> <td>8</td> <td>6</td> <td>3.1</td> </tr>
</tbody></table>
</div>
</div>
<div id="section_7">
<span id="See_also"></span><h3 class="editable">See also</h3>
<p>

<span class="lang lang-*">
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/caption-side">caption-side</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/table-layout">table-layout</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/border-collapse">border-collapse</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/border-spacing">border-spacing</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/empty-cells">empty-cells</a></code></span></p>
<p></p>
</div>