
<p><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span> </p>
<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p>The<code> font-stretch </code>CSS property selects a normal, condensed, or extended face from a font family.</p>
<ul>
<li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/initial_value" title="en/CSS/initial_value">Initial value</a>
</span>: 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/normal">normal</a></code>
</li> <li>Applies to: all elements</li> <li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/inheritance" title="en/CSS/inheritance">Inherited</a>
</span>: Yes</li> <li>Percentages: N/A</li> <li>Media: <span class="lang lang-en">
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/Media/Visual">visual</a></code> </span>
</li> <li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/computed_value" title="en/CSS/computed_value">Computed value</a>
</span>: specified value</li>
</ul>
</div>
<div id="section_2">
<span id="Syntax"></span><h3 class="editable">Syntax</h3>
<pre>
font-stretch:  inherit | 
               ultra-condensed | extra-condensed | condensed | semi-condensed |
               normal | semi-expanded | expanded | extra-expanded | ultra-expanded |
               wider | narrower<br></pre>
</div>
<div id="section_3">
<span id="Values"></span><h3 class="editable">Values</h3>
<dl>
<dt>normal</dt> <dd>Specifies a normal font face.</dd> <dt>semi-condensed, condensed, extra-condensed, ultra-condensed</dt> <dd>Specifies a font face condensed than normal, with ultra-condensed as the most condensed.</dd> <dt>semi-expanded, expanded, extra-expanded, ultra-expanded</dt> <dd>Specifies a font face expanded than normal, with ultra-expanded as the most expanded.</dd> <dt>wider, narrower 
<span class="deprecatedInlineTemplate" style="border: 1px solid #5151FF; background-color: #B9B9FF; font-size: x-small; white-space: nowrap; padding: 2px;" title="">Deprecated since CSS 3</span>
</dt> <dd>Relative values. The <code>wider</code> and <code>narrower</code> keywords indicate values relative to the values of the parent element.  <br>
</dd>
</dl>
</div>
<div id="section_4">
<span id="Examples"></span><h3 class="editable">Examples</h3>
<pre>
h1 { font-stretch: extra-expanded }
p  { font-stretch: condensed }
</pre>
</div>
<div id="section_5">
<span id="Specifications"></span><h3 class="editable">Specifications</h3>
<p><code> font-stretch </code>was defined in CSS 2, but dropped in CSS 2.1 due lack of implementation experience. It's newly drafted in CSS 3.</p>
<p>The relative values<code> wider </code>and<code> narrower </code>have been dropped from the<code> font-stretch </code>property in the <a title="http://www.w3.org/TR/css3-fonts/" class=" external" rel="external" href="http://www.w3.org/TR/css3-fonts/" target="_blank">CSS Fonts Module Level 3 Working Draft (24 March 2011)</a>.</p>
<ul>
<li>
<a class="external" title="http://www.w3.org/TR/1998/REC-CSS2-19980512/fonts.html#font-styling" rel="external" href="http://www.w3.org/TR/1998/REC-CSS2-19980512/fonts.html#font-styling" target="_blank">CSS 2 1998-05-12 Fonts #font-styling</a> Obsolete</li> <li>
<a class="external" title="http://dev.w3.org/csswg/css3-fonts/#font-width-the-font-stretch-property" rel="external" href="http://dev.w3.org/csswg/css3-fonts/#font-width-the-font-stretch-property" target="_blank">CSS 3 Fonts #font-stretch</a> Editor's draft, handle with care! </li>
</ul>
</div>
<div id="section_6">
<span id="Browser_compatibility"></span><h3 class="editable">Browser compatibility</h3>
<p>
<script type="text/javascript">/*<![CDATA[*/
        $(function() {
            $('.htab').append($('#compat-desktop'));
            $('.htab').append($('#compat-mobile'));
            var $items = $('.htab>ul>li');
            $items.click(function() {
                $items.removeClass('selected');
                $(this).addClass('selected');

                var index = $items.index($(this));
                $('.htab>div').hide().eq(index).show();
            }).eq(0).click();
        });
    /*]]>*/</script></p>
<div class="htab">
<a name="AutoCompatibilityTable"></a>
<ul>
<li class="selected">Desktop</li> <li>Mobile</li>
</ul>
</div>
<div id="compat-desktop"> <table class="compat-table"><tbody>
<tr>
<th>Feature</th> <th>Chrome</th> <th>Firefox (Gecko)</th> <th>Internet Explorer</th> <th>Opera</th> <th>Safari (WebKit)</th> </tr>
<tr>
<td>Basic support</td> <td><span style="color: rgb(255, 0, 0);" title="Not supported.">--</span></td> <td>9.0 (9.0)
 <a title="https://bugzilla.mozilla.org/show_bug.cgi?id=3512" class=" link-https" rel="external" href="https://bugzilla.mozilla.org/show_bug.cgi?id=3512" target="_blank">[1]</a> [*]</td> <td>9.0 [*]</td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> <td><span style="color: rgb(255, 0, 0);" title="Not supported.">--</span></td> </tr>
</tbody></table>
</div>
<div id="compat-mobile"> <table class="compat-table"><tbody>
<tr>
<th>Feature</th> <th>Android</th> <th>Firefox Mobile (Gecko)</th> <th>IE Phone</th> <th>Opera Mobile</th> <th>Safari Mobile</th> </tr>
<tr>
<td>Basic support</td> <td><span style="color: rgb(255, 0, 0);" title="Not supported.">--</span></td> <td>9.0 (9.0)
 <a title="https://bugzilla.mozilla.org/show_bug.cgi?id=3512" class=" link-https" rel="external" href="https://bugzilla.mozilla.org/show_bug.cgi?id=3512" target="_blank">[2]</a> [*]</td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> <td><span style="color: rgb(255, 0, 0);" title="Not supported.">--</span></td> </tr>
</tbody></table>
</div>
<p>[*] Implements the CSS Fonts Module Level 3 specification. Hence do not support the deprecated <strong>wider</strong> and <strong>narrower</strong> keywords.</p>
</div>
<div id="section_7">
<span id="See_also"></span><h3 class="editable">See also</h3>
<p>
<span class="lang lang-*">
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/font">font</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/font-family">font-family</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/font-size">font-size</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/font-size-adjust">font-size-adjust</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/font-stretch">font-stretch</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/font-style">font-style</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/font-variant">font-variant</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/font-weight">font-weight</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/@font-face">@font-face</a></code> </span></p>
<p></p>
</div>