
<p><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span> </p>
<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p>The<code> height </code>CSS property specifies the height of the content area of an element. The <a title="en/CSS/Box_model#content" rel="internal" href="https://developer.mozilla.org/en/CSS/Box_model#content">content area</a> is <em>inside</em> the padding, border, and margin of the element.</p>
<ul>
<li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/initial_value" title="en/CSS/initial_value">Initial value</a>
</span>: 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/auto">auto</a></code>
</li> <li>Applies to: block level and replaced elements</li> <li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/inheritance" title="en/CSS/inheritance">Inherited</a>
</span>: no</li> <li>Percentages: refer to the height of the containing block, see below</li> <li>Media: <span class="lang lang-en">
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/Media/Visual">visual</a></code> </span>
</li> <li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/computed_value" title="en/CSS/computed_value">Computed value</a>
</span>: the percentage or <code>auto</code> or the absolute length</li>
</ul>
</div>
<div id="section_2">
<span id="Syntax"></span><h3 class="editable">Syntax</h3>
<pre class="eval">
height:  <a title="en/CSS/length" rel="internal" href="https://developer.mozilla.org/en/CSS/length">&lt;length&gt;</a> | <a title="percentage" rel="internal" href="https://developer.mozilla.org/en/CSS/percentage">&lt;percentage&gt;</a> | auto | inherit
</pre>
</div>
<div id="section_3">
<span id="Values"></span><h3 class="editable">Values</h3>
<dl>
<dt>&lt;length&gt;</dt> <dd>See 

<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/length">&lt;length&gt;</a></code> for possible units.</dd> <dt>&lt;percentage&gt;</dt> <dd>The <span class="lang lang-en">
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/percentage">&lt;percentage&gt;</a></code></span> is calculated with respect to the height of the containing block. If the height of the containing block is not specified explicitly, the value computes to<code> auto</code>. A percentage height on the root element (e.g. <code>&lt;html&gt;</code>) is relative to the viewport.</dd> <dt>auto</dt> <dd>The browser will calculate and select a width for the specified element.</dd>
</dl>
</div>
<div id="section_4">
<span id="Examples"></span><h3 class="editable">Examples</h3>
<p>
<a rel="custom" href="http://developer.mozilla.org/samples/cssref/height.html">View Live Examples</a></p>
<pre class="eval">
table { height: 100%; }

img { height: 200px; }

form { height: auto; }

/* make sure percentage height of body's children works as expected */
html, body { margin: 0; height: 100%; }
</pre>
</div>
<div id="section_5">
<span id="Notes"></span><h3 class="editable">Notes</h3>
<p>The 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/min-height">min-height</a></code> and 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/max-height">max-height</a></code> properties override 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/height">height</a></code>.</p>
</div>
<div id="section_6">
<span id="Specifications"></span><h3 class="editable">Specifications</h3>
<ul>
<li><a class="external" rel="external" href="http://www.w3.org/TR/CSS21/visudet.html#the-height-property" title="http://www.w3.org/TR/CSS21/visudet.html#the-height-property" target="_blank">CSS 2.1 #height</a></li>
</ul>
</div>
<div id="section_7">
<span id="Browser_Compatibility"></span><span id="Browser_compatibility"></span><h3 class="editable">Browser compatibility</h3>
<p>
<script type="text/javascript">/*<![CDATA[*/
        $(function() {
            $('.htab').append($('#compat-desktop'));
            $('.htab').append($('#compat-mobile'));
            var $items = $('.htab>ul>li');
            $items.click(function() {
                $items.removeClass('selected');
                $(this).addClass('selected');

                var index = $items.index($(this));
                $('.htab>div').hide().eq(index).show();
            }).eq(0).click();
        });
    /*]]>*/</script></p>
<div class="htab">
<a name="AutoCompatibilityTable"></a>
<ul>
<li class="selected">Desktop</li> <li>Mobile</li>
</ul>
</div>
<div id="compat-desktop">
<table class="compat-table"><tbody>
<tr>
<th>Feature</th> <th>Chrome</th> <th>Firefox (Gecko)</th> <th>Internet Explorer</th> <th>Opera</th> <th>Safari (WebKit)</th> </tr>
<tr>
<td>Basic support</td> <td>1.0</td> <td>1.0 (1.0)</td> <td>4.0</td> <td>3.5</td> <td>1.0 (85)</td> </tr>
</tbody></table>
</div>
<div id="compat-mobile">
<table class="compat-table"><tbody>
<tr>
<th>Feature</th> <th>Android</th> <th>Firefox Mobile (Gecko)</th> <th>IE Phone</th> <th>Opera Mobile</th> <th>Safari Mobile</th> </tr>
<tr>
<td>Basic support</td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> </tr>
</tbody></table>
</div>
</div>
<div id="section_8">
<span id="See_also"></span><h3 class="editable">See also</h3>
<p><a title="en/CSS/box_model" rel="internal" href="https://developer.mozilla.org/en/CSS/box_model">box model</a>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/width">width</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/box-sizing">box-sizing</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/min-height">min-height</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/max-height">max-height</a></code></p>
<p></p>
</div>