<div class="pageText" id="pageText">
<p><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span> </p>
<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p>The<code> max-width </code>CSS property is used to set the maximum width of a given element. It prevents the used value of the 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/width">width</a></code> property from becoming larger than the value specified for<code> max-width</code>.</p>
<ul>
<li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/initial_value" title="en/CSS/initial_value">Initial value</a>
</span>: 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/none">none</a></code>
</li> <li>Applies to: block level and replaced elements, for <code>&lt;table&gt;</code> see <a rel="custom" href="https://developer.mozilla.org/en/CSS/max-width#Browser_compatibility">Browser compatibility</a> below</li> <li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/inheritance" title="en/CSS/inheritance">Inherited</a>
</span>: no</li> <li>Percentages: refer to the width of the containing block</li> <li>Media: <span class="lang lang-en">
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/Media/Visual">visual</a></code> </span>
</li> <li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/computed_value" title="en/CSS/computed_value">Computed value</a>
</span>: the percentage as specified or the absolute length or <code>none</code>
</li>
</ul>
</div>
<div id="section_2">
<span id="Syntax"></span><h3 class="editable">Syntax</h3>
<pre>
max-width:  &lt;length&gt; | &lt;percentage&gt; | none | -moz-max-content | -moz-min-content | -moz-fit-content | -moz-available
</pre>
</div>
<div id="section_3">
<span id="Values"></span><h3 class="editable">Values</h3>
<dl>
<dt>none</dt> <dd>The width has no maximum value.</dd> <dt>length</dt> <dd>See 

<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/length">&lt;length&gt;</a></code> for possible units.</dd> <dt>percentage</dt> <dd>Specified as a <span class="lang lang-en">
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/percentage">&lt;percentage&gt;</a></code></span> of containing block's width.</dd>
</dl>
<div id="section_4">
<span id="Mozilla_Extensions"></span><h4 class="editable">Mozilla Extensions</h4>
<dl>
<dt>-moz-max-content</dt> <dd>
<span style="border: 1px solid rgb(129, 129, 81); background-color: rgb(255, 255, 225); font-size: x-small; white-space: nowrap; padding:0px 2px;">New in <a rel="custom" href="https://developer.mozilla.org/en/Firefox_3_for_developers">Firefox 3</a></span>
 The intrinsic preferred width.</dd> <dt>-moz-min-content</dt> <dd>
<span style="border: 1px solid rgb(129, 129, 81); background-color: rgb(255, 255, 225); font-size: x-small; white-space: nowrap; padding:0px 2px;">New in <a rel="custom" href="https://developer.mozilla.org/en/Firefox_3_for_developers">Firefox 3</a></span>
 The intrinsic minimum width.</dd> <dt>-moz-available</dt> <dd>
<span style="border: 1px solid rgb(129, 129, 81); background-color: rgb(255, 255, 225); font-size: x-small; white-space: nowrap; padding:0px 2px;">New in <a rel="custom" href="https://developer.mozilla.org/en/Firefox_3_for_developers">Firefox 3</a></span>
 The containing block width minus horizontal margin, border and padding.</dd> <dt>-moz-fit-content</dt> <dd>
<span style="border: 1px solid rgb(129, 129, 81); background-color: rgb(255, 255, 225); font-size: x-small; white-space: nowrap; padding:0px 2px;">New in <a rel="custom" href="https://developer.mozilla.org/en/Firefox_3_for_developers">Firefox 3</a></span>
 The same as <code>-moz-max-content.</code>
</dd>
</dl>
</div>
</div>
<div id="section_5">
<span id="Examples"></span><h3 class="editable">Examples</h3>
<pre>
body  { max-width: 40em; }

table { max-width: 75%; }

form  { max-width: none; }
</pre>
<pre>
p { background: gold }
</pre>
<p style="background:gold">The Mozilla community produces a lot of great software.</p>
<pre>
p { background: lightgreen;
    max-width:  intrinsic;         /* Safari/WebKit */
    max-width:  -moz-max-content;  /* Firefox/Gecko */
  }
</pre>
<p style="background:lightgreen; max-width:intrinsic; max-width:-moz-max-content">The Mozilla community produces a lot of great software.</p>
<pre>
p { background: lightblue;  max-width: -moz-min-content; }
</pre>
<p style="background:lightblue; max-width:-moz-min-content">The Mozilla community produces a lot of great software.</p>
</div>
<div id="section_6">
<span id="Notes"></span><h3 class="editable">Notes</h3>
<p>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/max-width">max-width</a></code> overrides width, but 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/min-width">min-width</a></code> overrides 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/max-width">max-width</a></code>.</p>
</div>
<div id="section_7">
<span id="Specifications"></span><h3 class="editable">Specifications</h3>
<ul>
<li><a title="http://www.w3.org/TR/CSS21/visudet.html#min-max-widths" class="external" rel="external" href="http://www.w3.org/TR/CSS21/visudet.html#min-max-widths" target="_blank">CSS 2.1 #min-max-widths</a></li>
</ul>
</div>
<div id="section_8">
<span id="Browser_Compatibility"></span><span id="Browser_compatibility"></span><h3 class="editable">Browser compatibility</h3>
<p>
<script type="text/javascript">/*<![CDATA[*/
        $(function() {
            $('.htab').append($('#compat-desktop'));
            $('.htab').append($('#compat-mobile'));
            var $items = $('.htab>ul>li');
            $items.click(function() {
                $items.removeClass('selected');
                $(this).addClass('selected');

                var index = $items.index($(this));
                $('.htab>div').hide().eq(index).show();
            }).eq(0).click();
        });
    /*]]>*/</script></p>
<div class="htab">
<a name="AutoCompatibilityTable"></a>
<ul>
<li class="selected">Desktop</li> <li>Mobile</li>
</ul>
</div>
<div id="compat-desktop">
<table class="compat-table"><tbody>
<tr>
<th>Feature</th> <th>Chrome</th> <th>Firefox (Gecko)</th> <th>Internet Explorer</th> <th>Opera</th> <th>Safari (WebKit)</th> </tr>
<tr>
<td>Basic support</td> <td> 1.0</td> <td>1.0 (1.0)</td> <td>7.0</td> <td>4.0</td> <td>2.0.2 (416), <br> buggy before</td> </tr>
<tr>
<td>applies to <code>&lt;table&gt;</code>
</td> <td> no</td> <td>yes</td> <td>no</td> <td>yes</td> <td>no</td> </tr>
<tr>
<td rowspan="2">intrinsic width</td> <td> 1.0</td> <td>3.0 (1.9)</td> <td rowspan="2"><span style="color: rgb(255, 0, 0);" title="Not supported.">--</span></td> <td rowspan="2"><span style="color: rgb(255, 0, 0);" title="Not supported.">--</span></td> <td>2.0 (412) ?</td> </tr>
<tr>
<td> <code>intrinsic</code>
</td> <td><code>-moz-max-content</code></td> <td><code>intrinsic</code></td> </tr>
<tr>
<td rowspan="2">intrinsic minimum width</td> <td rowspan="2"> <span style="color: rgb(255, 0, 0);" title="Not supported.">--</span>
</td> <td>3.0 (1.9)</td> <td rowspan="2"><span style="color: rgb(255, 0, 0);" title="Not supported.">--</span></td> <td rowspan="2"><span style="color: rgb(255, 0, 0);" title="Not supported.">--</span></td> <td rowspan="2"><span style="color: rgb(255, 0, 0);" title="Not supported.">--</span></td> </tr>
<tr>
<td><code>-moz-min-content</code></td> </tr>
</tbody></table>
</div>
<div id="compat-mobile">
<table class="compat-table"><tbody>
<tr>
<th>Feature</th> <th>Android</th> <th>Firefox Mobile (Gecko)</th> <th>IE Phone</th> <th>Opera Mobile</th> <th>Safari Mobile</th> </tr>
<tr>
<td>Basic support</td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> </tr>
</tbody></table>
</div>
</div>
<div id="section_9">
<span id="See_also"></span><h3 class="editable">See also</h3>
<ul>
<li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/width">width</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/min-width">min-width</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/max-height">max-height</a></code>
</li> <li>
<a title="en/CSS/box_model" rel="internal" href="https://developer.mozilla.org/en/CSS/box_model">box model</a>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/box-sizing">box-sizing</a></code>
</li>
</ul>
<p></p>
</div>
</div>