<div class="pageText" id="pageText">
<p><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span> </p>
<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p><strong>none</strong> is a common value for most CSS properties. It is often the default value, but can always be considered as a sort of "standard" value. It is comparable to the value 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/normal">normal</a></code> , used in a similar manner for other properties.</p>
</div>
<div id="section_2">
<span id="Used_in"></span><h3 class="editable">Used in</h3>
<dl>
<dt>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/float">float</a></code>
</dt> <dd>The element doesn't float.</dd> <dt>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/text-decoration">text-decoration</a></code>
</dt> <dd>Doesn't decorate the element.</dd> <dt>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/max-height">max-height</a></code> / 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/max-width">max-width</a></code>
</dt> <dd>Doesn't bound the height / width with a particular value.</dd>
</dl>
<ul>
<li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/background-image">background-image</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/border-style">border-style</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/clear">clear</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/content">content</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/counter-increment">counter-increment</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/counter-reset">counter-reset</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/display">display</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/list-style-type">list-style-type</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/quotes">quotes</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/text-transform">text-transform</a></code>
</li>
</ul>
<p></p>

</div>
</div>