
<p><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span> </p>
<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p><strong>normal</strong> is a common value for some CSS properties. It is often the default value, but can always be considered as a sort of "standard" value. It is comparable to the value 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/none">none</a></code>, used in a similar manner for other properties.</p>
</div>
<div id="section_2">
<span id="Used_in"></span><h3 class="editable">Used in</h3>
<dl>
<dt><strong> 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/font-weight">font-weight</a></code></strong></dt> <dd>Gives the font standard weight (400). That is, the text is not noticeably bold or light.</dd> <dt>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/font-style">font-style</a></code>
</dt> <dd>Does not apply any italic or oblique to the font.</dd> <dt>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/word-spacing">word-spacing</a></code>
</dt> <dd>Uses the standard spacing between words, specified by the font.</dd>
</dl>
<p>Also used in:</p>
<ul>
<li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/font-variant">font-variant</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/letter-spacing">letter-spacing</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/white-space">white-space</a></code>
</li> <li>
<code><a rel="internal" href="https://developer.mozilla.org/en/CSS/speak" class="new">speak</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/unicode-bidi">unicode-bidi</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/line-height">line-height</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/content">content</a></code>
</li>
</ul>
</div>