<div class="pageText" id="pageText">
<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p>The <code>orphans</code> property refers to the <em>minimum</em> number of lines in a block container that must be left at the bottom of the page.  This property is normally used to control how page breaks occur.</p>
</div>
<div id="section_2">
<span id="Syntax"></span><h3 class="editable">Syntax</h3>
<pre>
orphans: &lt;integer&gt; | inherit
</pre>
</div>
<div id="section_3">
<span id="Values"></span><h3 class="editable">Values</h3>
<p>Only positive values are allowed.</p>
</div>
<div id="section_4">
<span id="Examples"></span><h3 class="editable">Examples</h3>
<p> </p>
</div>
<div id="section_5">
<span id="See_also"></span><span id="Browser_Compatibility"></span><h3 class="editable">Browser Compatibility</h3>
<table class="standard-table"><tbody>
<tr>
<th>Browser</th> <th>Lowest version</th> </tr>
<tr>
<td>Internet Explorer</td> <td>IE 8</td> </tr>
<tr>
<td>Firefox (Gecko)</td> <td>--</td> </tr>
<tr>
<td>Opera</td> <td>9.2</td> </tr>
<tr>
<td> <p>Safari | Chrome | WebKit</p> </td> <td> <p>--</p> </td> </tr>
</tbody></table>
</div>
<div id="section_6">
<span id="See_Also"></span><h3 class="editable">See Also</h3>
<ul>
<li><a title="http://www.w3.org/TR/CSS21/page.html#break-inside" class=" external" rel="external" href="http://www.w3.org/TR/CSS21/page.html#break-inside" target="_blank">CSS 2.1 Specification</a></li> <li><a title="http://www.sohtanaka.com/web-design/css-overflow-property-quick-tip/" class=" external" rel="external" href="http://www.sohtanaka.com/web-design/css-overflow-property-quick-tip/" target="_blank">Tip: Correcting Orphans with Overflow</a></li>
</ul>
</div>
</div>