
<p><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span> </p>
<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p><code>overflow-x </code>specifies whether to clip content, render a scroll bar or display overflow content of a block-level element, when it overflows at the left and right edges.</p>
<ul>
<li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/initial_value" title="en/CSS/initial_value">Initial value</a>
</span>: 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/visible">visible</a></code>
</li> <li>Applies to: (non-replaced) block and inline-block elements</li> <li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/inheritance" title="en/CSS/inheritance">Inherited</a>
</span>: no</li> <li>Percentages: n/a</li> <li>Media: <span class="lang lang-en">
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/Media/Visual">visual</a></code> </span>
</li> <li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/computed_value" title="en/CSS/computed_value">Computed value</a>
</span>: as specified, except ‘visible’</li>
</ul>
</div>
<div id="section_2">
<span id="Syntax"></span><h3 class="editable">Syntax</h3>
<pre class="eval">
overflow-x:  visible | hidden | scroll | auto
</pre>
</div>
<div id="section_3">
<span id="Values"></span><h3 class="editable">Values</h3>
<dl>
<dt>visible</dt> <dd>Content is not clipped, it may be rendered outside the content box.</dd> <dt>hidden</dt> <dd>The content is clipped and no scrollbars are provided.</dd> <dt>scroll</dt> <dd>The content is clipped and desktop browsers use scrollbars, whether or not any content is clipped. This avoids any problem with scrollbars appearing and disappearing in a dynamic environment. Printers may print overflowing content.</dd> <dt>auto</dt> <dd>Depends on the user agent. Desktop browsers like Firefox provide scrollbars if content overflows.</dd>
</dl>
</div>
<div id="section_4">
<span id="Examples"></span><h3 class="editable">Examples</h3>
<p>
<a rel="custom" href="http://developer.mozilla.org/samples/cssref/PROPERTYNAME.html">View Live Examples</a> <span class="lang lang-en">(not available, please check later)
</span></p>
<pre class="eval">
[fixme]
</pre>
</div>
<div id="section_5">
<span id="Notes"></span><h3 class="editable">Notes</h3>
<p> </p>
</div>
<div id="section_6">
<span id="Specifications"></span><h3 class="editable">Specifications</h3>
<ul>
<li><a class="external" title="http://www.w3.org/TR/css3-box/#overflow" rel="external" href="http://www.w3.org/TR/css3-box/#overflow" target="_blank">CSS3 Box Model #overflow</a></li>
</ul>
</div>
<div id="section_7">
<span id="Browser_compatibility"></span><h3 class="editable">Browser compatibility</h3>
<table class="standard-table"><tbody>
<tr>
<th>Browser</th> <th>Lowest Version</th> </tr>
<tr>
<td>Internet Explorer</td> <td>
<strong>5.0</strong> (*)<strong><br></strong>
</td> </tr>
<tr>
<td>Firefox</td> <td><strong>1.5</strong></td> </tr>
<tr>
<td>Opera</td> <td><strong>9.5</strong></td> </tr>
<tr>
<td>Safari</td> <td><strong>3.0</strong></td> </tr>
</tbody></table>
<p>(*) IE8 introduced<code> -ms-overflow-x </code>as a  synonym for<code> overflow-x</code>. Don't use the <code>-ms-</code> prefix.</p>
</div>
<div id="section_8">
<span id="See_also"></span><h3 class="editable">See also</h3>
<ul>
<li>Related CSS properties: 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/text-overflow">text-overflow</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/white-space">white-space</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/overflow">overflow</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/overflow-y">overflow-y</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/clip">clip</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/display">display</a></code>
</li>
</ul>
<p> </p>
<p></p>
</div>