<div id="section_1">
<span id="Summary"></span><h2 class="editable">Summary</h2>
<p>The <code>tab-size</code> CSS property is used to customize the width of a tab (<code>U+0009</code>) character.</p>
<ul>
<li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/initial_value" title="en/CSS/initial_value">Initial value</a>
</span>: 8</li> <li>Applies to: all elements</li> <li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/inheritance" title="en/CSS/inheritance">Inherited</a>
</span>: yes</li> <li>Media: <span class="lang lang-en">
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/Media/Visual">visual</a></code> </span>
</li> <li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/computed_value" title="en/CSS/computed_value">Computed value</a>
</span>: as specified</li>
</ul>
</div>
<div id="section_2">
<span id="Syntax"></span><h2 class="editable">Syntax</h2>
<pre>tab-size: &lt;integer&gt; | inherit
</pre>
<div id="section_3">
<span id="Values"></span><h3 class="editable">Values</h3>
<dl>
<dt><span class="lang lang-en">
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/integer">&lt;integer&gt;</a></code> </span></dt> <dd>The number of spaces in a tab. Must be positive.</dd> <dt>inherit</dt> <dd>Inherits from the parent element.</dd>
</dl>
</div>
<div id="section_4">
<span id="Examples"></span><h3 class="editable">Examples</h3>
<pre>pre {
  tab-size: 99; /* Don't use tabs! */
}
</pre>
</div>
</div>
<div id="section_5">
<span id="Specifications"></span><h2 class="editable">Specifications</h2>
<ul>
<li>
<a class="external" rel="external" href="http://dev.w3.org/csswg/css3-text/#tab-size" title="http://dev.w3.org/csswg/css3-text/#tab-size" target="_blank"><cite>CSS Text Level 3 ― The "tab-size" property</cite></a> W3C Editor's Draft</li>
</ul>
</div>
<div id="section_6">
<span id="Browser_compatibility"></span><h2 class="editable">Browser compatibility</h2>
<table class="standard-table"><tbody>
<tr>
<th>Browser</th> <th>Lowest Version</th> <th>Support of</th> </tr>
<tr>
<td>Internet Explorer</td> <td>---</td> <td>---</td> </tr>
<tr>
<td>Firefox</td> <td>4.0 (Gecko 2.0)</td> <td><code>-moz-tab-size</code></td> </tr>
<tr>
<td>Opera</td> <td>10.60</td> <td><code>-o-tab-size</code></td> </tr>
<tr>
<td>Safari (WebKit)</td> <td>---</td> <td>---</td> </tr>
</tbody></table>
</div>
<div id="section_7">
<span id="See_also"></span><h2 class="editable">See also</h2>
<ul>
<li><a title="CSS Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a></li> <li>
<a class="external" title="http://lists.w3.org/Archives/Public/www-style/2008Dec/0009.html" rel="external" href="http://lists.w3.org/Archives/Public/www-style/2008Dec/0009.html" target="_blank"><cite>Controlling size of a tab character (U+0009)</cite></a>, an email by Anne van Kesteren (Opera) to the CSSWG.</li>
</ul>
</div>