<div class="pageText" id="pageText">
<p><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span> </p>
<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p>The<code> text-transform </code>CSS property specifies capitalization and lowercase effects of an element's text should be rendered.</p>
<ul>
<li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/initial_value" title="en/CSS/initial_value">Initial value</a>
</span>: 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/none">none</a></code>
</li> <li>Applies to: all elements</li> <li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/inheritance" title="en/CSS/inheritance">Inherited</a>
</span>: yes</li> <li>Percentages: n/a</li> <li>Media: <span class="lang lang-en">
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/Media/Visual">visual</a></code> </span>
</li> <li>
<span class="lang lang-en"><a rel="internal" href="https://developer.mozilla.org/en/CSS/computed_value" title="en/CSS/computed_value">Computed value</a>
</span>: as specified</li>
</ul>
</div>
<div id="section_2">
<span id="Syntax"></span><h3 class="editable">Syntax</h3>
<pre class="eval">
text-transform:  capitalize | uppercase | lowercase | none | 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/inherit">inherit</a></code>
</pre>
</div>
<div id="section_3">
<span id="Values"></span><h3 class="editable">Values</h3>
<dl>
<dt>capitalize</dt> <dd>First letter on each word is uppercase and other letter unaffected.</dd> <dt>uppercase</dt> <dd>All letters are converted to uppercase. </dd> <dt>lowercase</dt> <dd>All letters are converted to lowercase. </dd> <dt>none</dt> <dd>No case change effects. </dd>
</dl>
</div>
<div id="section_4">
<span id="Examples"></span><h3 class="editable">Examples</h3>
<pre>
p:first-line { text-transform: uppercase; }
</pre>
<div id="section_5">
<span id="Live_Examples"></span><h4 class="editable">Live Examples</h4>
<ul>
<li>
<code><strong>none</strong> </code>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li> <li style="text-transform:capitalize">
<code><strong>capitalize</strong> </code>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li> <li style="text-transform:uppercase">
<code><strong>uppercase</strong> </code>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li> <li style="text-transform:lowercase">
<code><strong>lowercase</strong> </code>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
</ul>
</div>
</div>
<div id="section_6">
<span id="Browser_compatibility"></span><h3 class="editable">Browser compatibility</h3>
<table class="standard-table"><tbody>
<tr>
<th>Browser</th> <th>Lowest version</th> </tr>
<tr>
<td>Internet Explorer</td> <td>4.0</td> </tr>
<tr>
<td>Firefox (Gecko)</td> <td>1.0 (1.0)</td> </tr>
<tr>
<td>Opera</td> <td>3.5</td> </tr>
<tr>
<td>Safari (WebKit)</td> <td>1.0 (85)</td> </tr>
</tbody></table>
</div>
<div id="section_7">
<span id="Specifications"></span><h3 class="editable">Specifications</h3>
<ul>
<li><a class="external" rel="external" href="http://www.w3.org/TR/CSS21/text.html#caps-prop" title="http://www.w3.org/TR/CSS21/text.html#caps-prop" target="_blank">CSS 2.1 Text #text-transform</a></li>
</ul>
</div>
<div id="section_8">
<span id="See_also"></span><h3 class="editable">See also</h3>
<ul>
<li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/font-variant">font-variant</a></code>
</li> <li>
<ul>
<li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/text-align">text-align</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/text-indent">text-indent</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/text-decoration">text-decoration</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/text-decoration-color">text-decoration-color</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/text-decoration-line">text-decoration-line</a></code>,
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/text-decoration-style">text-decoration-style</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/letter-spacing">letter-spacing</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/word-spacing">word-spacing</a></code>,
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/white-space">white-space</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/text-transform">text-transform</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/text-rendering">text-rendering</a></code>, 
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/text-shadow">text-shadow</a></code>
</li>
</ul>
</li>
</ul>
</div>
</div>