<div class="pageText" id="pageText">
<p>In printing, a "widow" is the last line of a paragraph appearing alone at the top of a page, such as the line seen inside the red box in the illustration below.The <code>widows</code> property avoids widows by specifying the minimum number of lines of a paragraph that appear at the top of a page when a Web page is printed.</p>
<p>Example : <code>p {widows: 3}</code></p>
<p>Default value will be :2</p>
<p>Minimum number of lines of a paragraph that must appear at the top of a page.</p>
<p>Inherit : Use the same computed value as the parent element for this property.</p>
<p>Apples to - Block level elements</p>
<div id="section_1">
<span id="See_also"></span><span id="Browser_Compatibility"></span><h3 class="editable">Browser Compatibility</h3>
<table class="standard-table"><tbody>
<tr>
<th>Browser</th> <th>Lowest version</th> </tr>
<tr>
<td>Internet Explorer</td> <td>IE 8</td> </tr>
<tr>
<td>Firefox (Gecko)</td> <td>--</td> </tr>
<tr>
<td>Opera</td> <td>9.2</td> </tr>
<tr>
<td> <p>Safari | Chrome | WebKit</p> </td> <td> <p>--</p> </td> </tr>
</tbody></table>
<p> </p>
</div>
<div id="section_2">
<span id="See_Also"></span><h3 class="editable">See Also</h3>
<ul style="margin-top: 0px; margin-right: 0px; margin-bottom: 1.286em; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; list-style-type: none; list-style-position: initial; list-style-image: initial; ">
<li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/orphans">orphans</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/Paged_Media">Paged Media</a></code>
</li>
</ul>
</div>
</div>