<div class="pageText" id="pageText">
<p><span class="lang lang-en"><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span>  « <a title="en/CSS_Reference/Mozilla_Extensions" rel="internal" href="https://developer.mozilla.org/en/CSS_Reference/Mozilla_Extensions">CSS Reference:Mozilla Extensions</a></span></p>
<p>


</p>
<div class="lang lang-en" style="border:solid 1px maroon; overflow:hidden; margin: 10px 0px; padding: 0px 10px; background-color: rgb(254, 244, 156); font-weight: bold; text-align: center;">
<p style="margin: 4px 0px;">Introduced in Gecko 1.9.1</p>
(Firefox 3.5 / Thunderbird 3.0 / SeaMonkey 2.0)
</div>










<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p><code>:-moz-system-metric(mac-graphite-theme)</code> will match an element if the user has chosen the "Graphite" appearance in the "Appearance" prefpane of the Mac OS X System Preferences.</p>
<p>This selector is intended for use mainly by theme developers.</p>
</div>
<div id="section_2">
<span id="Examples"></span><h3 class="editable">Examples</h3>
<p><a class="link-https" rel="external" href="https://bugzilla.mozilla.org/attachment.cgi?id=332586" title="https://bugzilla.mozilla.org/attachment.cgi?id=332586" target="_blank">Demo</a></p>
</div>
<div id="section_3">
<span id="Bugzilla"></span><h3 class="editable">Bugzilla</h3>
<p>
<a rel="external" href="https://bugzilla.mozilla.org/show_bug.cgi?id=448767" class="external" title="VERIFIED FIXED - [Mac] Allow themes to differentiate between Blue and Graphite system appearance color / Add -moz-system-metric(mac-graphite-theme)">
bug 448767</a>
</p>
</div>
</div>