<div class="pageText" id="pageText">
<p> <span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span> 
</p>
<div id="section_1">
<span id="Summary"></span><h3 class="editable"> Summary </h3>
<p>The <code>:-moz-only-whitespace</code> pseudo-class matches an element that has no child nodes at all or empty text nodes or text nodes that have only white-space in them. Only when there are element nodes or text nodes with one or more characters inside the element, the element doesn't match this pseudo-class anymore.
</p>
</div>
<div id="section_2">
<span id="Syntax"></span><h3 class="editable"> Syntax </h3>
<pre class="eval">span:-moz-only-whitespace { <i>style properties</i> }
</pre>
</div>
<div id="section_3">
<span id="Examples"></span><h3 class="editable"> Examples </h3>
<pre>
span:-moz-only-whitespace::before
{
    background-color: lime;
}
</pre>
<p>...where...
</p>
<pre>
  &lt;span&gt; &lt;/span&gt;
</pre>
</div>
<div id="section_4">
<span id="Notes"></span><h3 class="editable"> Notes </h3>


</div>
</div>