<div class="pageText" id="pageText">
<p><span class="lang lang-en"><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span>  « <a title="en/CSS_Reference/Mozilla_Extensions" rel="internal" href="https://developer.mozilla.org/en/CSS_Reference/Mozilla_Extensions">CSS Reference:Mozilla Extensions</a></span></p>
<p>Activated by the 'properties' attribute.</p>
<div id="section_1">
<span id="Associated_Elements"></span><h3 class="editable">Associated Elements</h3>
<ul>
<li>treecell</li>
</ul>
</div>
<div id="section_2">
<span id="Style_Properties"></span><h3 class="editable">Style Properties</h3>
<ul>
<li>background</li> <li>border</li> <li>margin</li> <li>outline</li> <li>padding</li> <li>visibility</li>
</ul>
</div>
<div id="section_3">
<span id="External_Links"></span><span id="See_also"></span><h3 class="editable">See also</h3>
<ul>
<li><a title="https://developer.mozilla.org/editor/fckeditor/core/editor/en/XUL_Tutorial/Styling_a_Tree" rel="internal" href="https://developer.mozilla.org/en/XUL_Tutorial/Styling_a_Tree">Styling a Tree</a></li>
</ul>
<p></p>
</div>
</div>