<div class="pageText" id="pageText">
<p><span class="lang lang-en"><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span>  « <a title="en/CSS_Reference/Mozilla_Extensions" rel="internal" href="https://developer.mozilla.org/en/CSS_Reference/Mozilla_Extensions">CSS Reference:Mozilla Extensions</a></span></p>
<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p>The <code>::-moz-list-bullet</code> pseudo-class is used to edit the bullet of a list element.</p>
</div>
<div id="section_2">
<span id="Syntax"></span><h3 class="editable">Syntax</h3>
<pre class="eval">li::-moz-list-bullet { <em>style properties</em> }
</pre>
</div>
<div id="section_3">
<span id="Examples"></span><h3 class="editable">Examples</h3>
<pre>.liste li::-moz-list-bullet{ font-size:36px }
</pre>
<p>...where...</p>
<pre>&lt;ul&gt;
&lt;li&gt;Number 1&lt;/li&gt;
&lt;li&gt;Number 2&lt;/li&gt;
&lt;li&gt;Number 3&lt;/li&gt;
&lt;/ul&gt;
&lt;ul class="liste"&gt;
&lt;li&gt;Number 1&lt;/li&gt;
&lt;li&gt;Number 2&lt;/li&gt;
&lt;li&gt;Number 3&lt;/li&gt;
&lt;/ul&gt;
</pre>
<p>...result...</p>
<p><img class=" internal" alt="Image:liug3.jpg" src="https://developer.mozilla.org/@api/deki/files/745/=Liug3.jpg"></p>

<p></p>
</div>
</div>