<div class="pageText" id="pageText">
<p><span class="lang lang-en"><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span>  « <a title="en/CSS_Reference/Mozilla_Extensions" rel="internal" href="https://developer.mozilla.org/en/CSS_Reference/Mozilla_Extensions">CSS Reference:Mozilla Extensions</a></span></p>
<p>


</p>
<div class="lang lang-en" style="border:solid 1px maroon; overflow:hidden; margin: 10px 0px; padding: 0px 10px; background-color: rgb(254, 244, 156); font-weight: bold; text-align: center;">
<p style="margin: 4px 0px;">Introduced in Gecko 2.0</p>
(Firefox 4 / Thunderbird 3.3 / SeaMonkey 2.1)
</div>










<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p><code>:-moz-handler-crashed</code> matches elements that cannot be displayed because the plugin responsible for drawing them has crashed.</p>
<p>This is primarily useful for theme developers.</p>
</div>
<div id="section_2">
<span id="See_also"></span><h3 class="editable">See also</h3>
<ul>
<li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/%3A-moz-handler-blocked">:-moz-handler-blocked</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/%3A-moz-handler-disabled">:-moz-handler-disabled</a></code>
</li>
</ul>
</div>
</div>