<div class="pageText" id="pageText">
<p><span class="lang lang-en"><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span>  « <a title="en/CSS_Reference/Mozilla_Extensions" rel="internal" href="https://developer.mozilla.org/en/CSS_Reference/Mozilla_Extensions">CSS Reference:Mozilla Extensions</a></span></p>
<p>


</p>
<div class="lang lang-en" style="border:solid 1px maroon; overflow:hidden; margin: 10px 0px; padding: 0px 10px; background-color: rgb(254, 244, 156); font-weight: bold; text-align: center;">
<p style="margin: 4px 0px;">Introduced in Gecko 1.9</p>
(Firefox 3)
</div>










<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p><code>:-moz-broken</code> matches elements representing broken image links.</p>
<p>This selector is intended for use mainly by theme developers.</p>
</div>
<div id="section_2">
<span id="Bugzilla"></span><h3 class="editable">Bugzilla</h3>
<p>
<a rel="external" href="https://bugzilla.mozilla.org/show_bug.cgi?id=11011" class="external" title="RESOLVED FIXED - Need pseudo-classes for when alt text is shown (:-moz-alt-text, :-moz-placeholder, :-moz-broken)">
bug 11011</a>
</p>
</div>
<div id="section_3">
<span id="SeeAlso"></span><span id="See_also"></span><h3 class="editable">See also</h3>
<ul>
<li>
<code><a rel="internal" href="https://developer.mozilla.org/en/CSS/-moz-alt-content" class="new">-moz-alt-content</a></code>
</li>
</ul>
<p></p>
</div>
</div>