<div class="pageText" id="pageText">
<p><span class="lang lang-en"><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span>  « <a title="en/CSS_Reference/Mozilla_Extensions" rel="internal" href="https://developer.mozilla.org/en/CSS_Reference/Mozilla_Extensions">CSS Reference:Mozilla Extensions</a></span></p>
<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p><code>-moz-tree-row</code> is used to select rows and apply style to tree rows.</p>
<div id="section_2">
<span id="Associated_Elements"></span><h4 class="editable">Associated Elements</h4>
<ul>
<li>treerow</li>
</ul>
</div>
</div>
<div id="section_3">
<span id="Syntax"></span><h3 class="editable">Syntax</h3>
<pre class="eval">
treechildren::-moz-tree-row { <em>style properties</em> }
</pre>
<div id="section_4">
<span id="Style_Properties"></span><h4 class="editable">Style Properties</h4>
<ul>
<li>background</li> <li>border</li> <li>margin</li> <li>outline</li> <li>padding</li> <li>display</li> <li>-moz-appearance</li>
</ul>
</div>
</div>
<div id="section_5">
<span id="Examples"></span><h3 class="editable">Examples</h3>
<pre>
treechildren::-moz-tree-row( foo bar )
{
    margin: 2%;
}
</pre>
<p>...where...</p>
<pre>
  &lt;treerow properties="foo"&gt;...&lt;/treerow&gt;
</pre>
</div>
<div id="section_6">
<span id="Notes"></span><h3 class="editable">Notes</h3>
<br><p></p>
</div>
</div>