<div class="pageText" id="pageText">
<p><span class="lang lang-en"><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span>  « <a title="en/CSS_Reference/Mozilla_Extensions" rel="internal" href="https://developer.mozilla.org/en/CSS_Reference/Mozilla_Extensions">CSS Reference:Mozilla Extensions</a></span>


</p>
<div class="lang lang-en" style="border:solid 1px maroon; overflow:hidden; margin: 10px 0px; padding: 0px 10px; background-color: rgb(254, 244, 156); font-weight: bold; text-align: center;">
<p style="margin: 4px 0px;">Introduced in Gecko 2.0</p>
(Firefox 4 / Thunderbird 3.3 / SeaMonkey 2.1)
</div>










<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p>The <code>:-moz-submit-invalid</code> CSS <a title="Pseudo-classes" rel="internal" href="https://developer.mozilla.org/en/CSS/Pseudo-classes">pseudo-class</a> represents any submit button on forms whose contents aren't valid based on their <a title="en/HTML/HTML5/Forms in HTML5#Constraint Validation" rel="internal" href="https://developer.mozilla.org/en/HTML/Forms_in_HTML#Constraint_Validation">validation constraints</a>.</p>
<p>By default, no style is applied. You can use this style to customize the appearance of the submit button when there are invalid form fields.</p>
</div>
<div id="section_2">
<span id="Browser_compatibility"></span><h3 class="editable">Browser compatibility</h3>
<table class="standard-table"><tbody>
<tr>
<th>Browser</th> <th>Lowest version</th> </tr>
<tr>
<td>Internet Explorer</td> <td>---</td> </tr>
<tr>
<td>Firefox (Gecko)</td> <td>4.0 (2.0)</td> </tr>
<tr>
<td>Opera</td> <td>?</td> </tr>
<tr>
<td>Safari (WebKit)</td> <td>?</td> </tr>
</tbody></table>
</div>
<div id="section_3">
<span id="See_also"></span><h3 class="editable">See also</h3>
<ul>
<li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/%3Avalid">:valid</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/%3Ainvalid">:invalid</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/%3Arequired">:required</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/%3Aoptional">:optional</a></code>
</li>
</ul>
</div>
</div>