<div class="pageText" id="pageText">
<p><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span> 


</p>
<div class="lang lang-en" style="border:solid 1px maroon; overflow:hidden; margin: 10px 0px; padding: 0px 10px; background-color: rgb(254, 244, 156); font-weight: bold; text-align: center;">
<p style="margin: 4px 0px;">Introduced in Gecko 2</p>
(Firefox 4 / Thunderbird 3.3 / SeaMonkey 2.1)
</div>










<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p>The <code>:-moz-window-inactive</code> pseudo-class matches any element while it's in an inactive window.</p>
<div class="note">
<strong>Note:</strong> Prior to the addition of this attribute, giving different styles to background windows was achieved by setting an attribute (active="true") on the top level XUL chrome window. This attribute is no longer used.</div>
<p><code>:-moz-window-inactive</code> works in content HTML documents, too.</p>
</div>
<div id="section_2">
<span id="Example"></span><h3 class="editable">Example</h3>
<p>This example alters the appearance of a box's background depending on whether its window is active or not.</p>

          <pre name="code" class="xml">&lt;style type="text/css"&gt;
    #mybox {
      background: -moz-linear-gradient(top, blue, cyan);
    }
    #mybox:-moz-window-inactive {
      background: cyan;
    }
  &lt;/style&gt;

  &lt;div id="mybox" style="width:200px; height:200px;"&gt;
    &lt;p&gt;This is a box!&lt;/p&gt;
  &lt;/div&gt;</pre>
        
<p>You can view this as a <a title="https://developer.mozilla.org/samples/cssref/moz-window-inactive.html" rel="internal" href="https://developer.mozilla.org/samples/cssref/moz-window-inactive.html" class="new ">live sample here</a>.</p>
<p>This was implemented in <a class=" link-https" rel="external" href="https://bugzilla.mozilla.org/show_bug.cgi?id=508482" title="https://bugzilla.mozilla.org/show_bug.cgi?id=508482" target="_blank">bug 508482</a>.</p>
</div>
</div>