<div class="pageText" id="pageText">
<p>
<span class="lang lang-en"><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span>  « <a title="en/CSS_Reference/Mozilla_Extensions" rel="internal" href="https://developer.mozilla.org/en/CSS_Reference/Mozilla_Extensions">CSS Reference:Mozilla Extensions</a></span>
</p>
<p>
</p>
<div style="overflow:hidden; margin: 10px 0px; padding: 0px 10px; background-color: rgb(254, 244, 156); font-weight: bold; text-align: center;"><p style="margin: 4px 0px;">This content covers features introduced in <a rel="custom" href="https://developer.mozilla.org/en/Firefox_3_for_developers">Firefox 3</a>.</p></div>

<div id="section_1">
<span id="Summary"></span><h3 class="editable"> Summary </h3>
<p><code>:-moz-system-metric(windows-default-theme)</code> will match an element if the user is currently using one of the following themes in Windows: Luna, Royale, Zune, or Aero (i.e., Vista Basic, Vista Standard, or Aero Glass). This will exclude Windows Classic themes as well as third-party themes.
</p>
<p>This selector is intended for use mainly by theme developers.
</p>
</div>
<div id="section_2">
<span id="Examples"></span><h3 class="editable"> Examples </h3>
<p><a class="link-https" rel="external" href="https://bugzilla.mozilla.org/attachment.cgi?id=315815" title="https://bugzilla.mozilla.org/attachment.cgi?id=315815" target="_blank">Demo</a>
</p>
</div>
<div id="section_3">
<span id="Bugzilla"></span><h3 class="editable"> Bugzilla </h3>
<p>
<a rel="external" href="https://bugzilla.mozilla.org/show_bug.cgi?id=426660" class="external" title="VERIFIED FIXED - Allow Firefox themes to change based on the OS theme">
bug 426660</a>


<a rel="external" href="https://bugzilla.mozilla.org/show_bug.cgi?id=429176" class="external" title="VERIFIED FIXED - :-moz-system-metric(windows-default-theme) should treat Royale and Zune the same as Luna">
bug 429176</a>

</p>
</div>
</div>