<div class="pageText" id="pageText">
<p><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span> </p>
<p>

</p>
<div style="overflow:hidden; border: 1px solid #FFB752; background-color: #FEE3BC; font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;"><p style="margin: 4px 0px 4px 0px;">Non-standard</p></div>
<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p>The<code> :-moz-full-screen </code>CSS <a title="en/CSS/Pseudo-classes" rel="internal" href="https://developer.mozilla.org/en/CSS/Pseudo-classes">pseudo-class</a> applies to any element that's currently being displayed in full-screen mode. See <a title="en/DOM/Using full-screen mode" rel="internal" href="https://developer.mozilla.org/en/DOM/Using_full-screen_mode">Using full-screen mode</a> for details.</p>
</div>
<div id="section_2">
<span id="Examples"></span><h3 class="editable">Examples</h3>
<p>Needs example.</p>
</div>
<div id="section_3">
<span id="Specification"></span><span id="Browser_compatibility"></span><h3 class="editable">Browser compatibility</h3>
<p>
<script type="text/javascript">/*<![CDATA[*/
        $(function() {
            $('.htab').append($('#compat-desktop'));
            $('.htab').append($('#compat-mobile'));
            var $items = $('.htab>ul>li');
            $items.click(function() {
                $items.removeClass('selected');
                $(this).addClass('selected');

                var index = $items.index($(this));
                $('.htab>div').hide().eq(index).show();
            }).eq(0).click();
        });
    /*]]>*/</script></p>
<div class="htab">
<a name="AutoCompatibilityTable"></a>
<ul>
<li class="selected">Desktop</li> <li>Mobile</li>
</ul>
</div>
<div id="compat-desktop"> <table class="compat-table"><tbody>
<tr>
<th>Feature</th> <th>Chrome</th> <th>Firefox (Gecko)</th> <th>Internet Explorer</th> <th>Opera</th> <th>Safari</th> </tr>
<tr>
<td>Basic support</td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> <td>9.0 (9.0)
</td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> </tr>
</tbody></table>
</div>
<div id="compat-mobile"> <table class="compat-table"><tbody>
<tr>
<th>Feature</th> <th>Android</th> <th>Firefox Mobile (Gecko)</th> <th>IE Mobile</th> <th>Opera Mobile</th> <th>Safari Mobile</th> </tr>
<tr>
<td>Basic support</td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> <td>9.0 (9.0)
</td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> </tr>
</tbody></table>
</div>
</div>
<div id="section_4">
<span id="Specification"></span><h3 class="editable">Specification</h3>
<p>Not part of any specification.</p>
</div>
<div id="section_5">
<span id="See_also"></span><h3 class="editable">See also</h3>
<ul>
<li><a title="en/DOM/Using full-screen mode" rel="internal" href="https://developer.mozilla.org/en/DOM/Using_full-screen_mode">Using full-screen mode</a></li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/DOM/element.mozRequestFullScreen">element.mozRequestFullScreen()</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/DOM/document.mozCancelFullScreen">document.mozCancelFullScreen()</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/DOM/document.mozFullScreen">document.mozFullScreen</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/DOM/document.mozFullScreenElement">document.mozFullScreenElement</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/DOM/document.mozFullScreenEnabled">document.mozFullScreenEnabled</a></code>
</li> <li>

<code><a rel="custom" href="https://developer.mozilla.org/en/HTML/Element/iframe#attr-mozallowfullscreen">mozallowfullscreen</a></code>
</li>
</ul>
</div>
</div>