<div class="pageText" id="pageText">
<p><span class="lang lang-en"><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span>  « <a title="en/CSS_Reference/Mozilla_Extensions" rel="internal" href="https://developer.mozilla.org/en/CSS_Reference/Mozilla_Extensions">CSS Reference:Mozilla Extensions</a></span></p>
<p>

</p>
<div style="overflow:hidden; border: 1px solid #FFB752; background-color: #FEE3BC; font-weight: bold; text-align: center; padding: 0px 10px 0px 10px; margin: 10px 0px 10px 0px;"><p style="margin: 4px 0px 4px 0px;">Non-standard</p></div>
<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p>The <code>::-moz-list-number</code> pseudo-class lets you customize the appearance of numbers on list items (
<code><a rel="custom" href="https://developer.mozilla.org/en/HTML/Element/li">&lt;li&gt;</a></code>) occurring in ordered lists (
<code><a rel="custom" href="https://developer.mozilla.org/en/HTML/Element/ol">&lt;ol&gt;</a></code>).</p>
</div>
<div id="section_2">
<span id="Syntax"></span><h3 class="editable">Syntax</h3>
<pre class="eval">
li::-moz-list-number { <em>style properties</em> }
</pre>
</div>
<div id="section_3">
<span id="Examples"></span><h3 class="editable">Examples</h3>

          <pre name="code" class="xml">&lt;style type="text/css"&gt;
    li::-moz-list-number {
      font-style: italic;
      font-weight: bold;
    }
  &lt;/style&gt;

  &lt;ol&gt;
    &lt;li&gt;First item&lt;/li&gt;
    &lt;li&gt;Second item&lt;/li&gt;
    &lt;li&gt;Third item&lt;/li&gt;
  &lt;/ol&gt;</pre>
        
<p>Gives the following result:</p>
<p><img alt="moz-list-number.png" class="internal default" src="https://developer.mozilla.org/@api/deki/files/4668/=moz-list-number.png"><br><a rel="internal" href="https://developer.mozilla.org/samples/cssref/moz-list-number.html" title="samples/cssref/moz-list-number.html" class=" new"><span style="cursor:pointer; padding: 2px; border: solid 2px #333333; color: black; -moz-box-shadow:2px 2px 2px #191919; -webkit-box-shadow:2px 2px 2px #191919; -o-box-shadow:2px 2px 2px #191919; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; background:-moz-linear-gradient(76% 26% 142deg, #DCE3FF, #FFFFFF 47%);">View the live example</span></a>
</p>
</div>
</div>