<div class="pageText" id="pageText">
<p> <span class="lang lang-en"><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span>  « <a title="en/CSS_Reference/Mozilla_Extensions" rel="internal" href="https://developer.mozilla.org/en/CSS_Reference/Mozilla_Extensions">CSS Reference:Mozilla Extensions</a></span>
</p>
<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p>The <code>:-moz-drag-over</code> <a title="Pseudo-classes" rel="internal" href="https://developer.mozilla.org/en/CSS/Pseudo-classes">pseudo-class</a> is used to edit an element when a drag-over event is called on it.</p>
</div>
<div id="section_2">
<span id="Syntax"></span><h3 class="editable"> Syntax </h3>
<pre class="eval">element:-moz-drag-over { <i>style properties</i> }
</pre>
</div>
<div id="section_3">
<span id="Examples"></span><h3 class="editable"> Examples </h3>
<pre>
td:-moz-drag-over { color:red; }
</pre>
<p>...where...
</p>
<pre>
&lt;table border="1"&gt;
  &lt;tr&gt;
    &lt;td width="100px" height="100px"&gt;Drag Over&lt;/td&gt;
  &lt;/tr&gt;
&lt;/table&gt;
</pre>
<p>...result...
</p>
<p><img alt="Image:draga.jpg" src="https://developer.mozilla.org/@api/deki/files/672/=Draga.jpg" class=" internal">...<img alt="Image:dragb.jpg" src="https://developer.mozilla.org/@api/deki/files/673/=Dragb.jpg" class=" internal"></p>


</div>
</div>