<div class="pageText" id="pageText">
<p><span class="lang lang-en"><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span>  « <a title="en/CSS_Reference/Mozilla_Extensions" rel="internal" href="https://developer.mozilla.org/en/CSS_Reference/Mozilla_Extensions">CSS Reference:Mozilla Extensions</a></span></p>
<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p>The <code>:-moz-lwtheme</code> <a title="Pseudo-classes" rel="internal" href="https://developer.mozilla.org/en/CSS/Pseudo-classes">pseudo-class</a> matches in chrome documents when the root element's 
<code><span id="a-lightweightthemes"><a rel="custom" href="https://developer.mozilla.org/en/XUL/Attribute/lightweightthemes">lightweightthemes</a></span></code> attribute is <code>true</code> and a theme is selected.</p>
</div>
<div id="section_2">
<span id="See_also"></span><h3 class="editable">See also</h3>
<ul>
<li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/%3A-moz-lwtheme-darktext">:-moz-lwtheme-darktext</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/%3A-moz-lwtheme-brighttext">:-moz-lwtheme-brighttext</a></code>
</li> <li><a title="en/Themes/Lightweight themes" rel="internal" href="https://developer.mozilla.org/en/Themes/Lightweight_themes">Lightweight themes</a></li>
</ul>
</div>
</div>