<div class="pageText" id="pageText">
<p><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span> </p>
<p>The <code>:active</code> <a title="Pseudo-classes" rel="internal" href="https://developer.mozilla.org/en/CSS/Pseudo-classes">pseudo-class</a> matches when an element is being activated by the user. It allows the page to give a feedback that the activation has been detected by the browser. When interacting with a mouse, this is typically the time between the user presses the mouse button and releases it. It is often used on 
<code><a rel="custom" href="https://developer.mozilla.org/en/HTML/Element/a">&lt;a&gt;</a></code> and 
<code><a rel="custom" href="https://developer.mozilla.org/en/HTML/Element/button">&lt;button&gt;</a></code> HTML elements.</p>
<div class="note">
<strong>Note:</strong> on system with mice having several buttons, CSS 3 specifies that the <code>:active</code> pseudo-class must only apply to the primary button, typically the left-most button on mice for right-handed.</div>
<div id="section_1">
<span id="Specifications"></span><h3 class="editable"><span>Specifications</span></h3>
<ul>
<li><a class="external" href="http://www.w3.org/TR/CSS21/selector.html#dynamic-pseudo-classes" rel="external nofollow" target="_blank" title="http://www.w3.org/TR/CSS21/selector.html#dynamic-pseudo-classes">CSS 2.1 Selectors #dynamic-pseudo-classes</a></li> <li><a class="external" href="http://www.w3.org/TR/css3-selectors/#useraction-pseudos" rel="external nofollow" target="_blank" title="http://www.w3.org/TR/css3-selectors/#useraction-pseudos">CSS 3 Selectors #useraction-pseudos</a></li>
</ul>
</div>
<div id="section_2">
<span id="Browser_compatibility"></span><h3 class="editable">Browser compatibility</h3>
<table class="standard-table"><tbody>
<tr>
<th>Browser</th> <th>Lowest Version</th> </tr>
<tr>
<td>Internet Explorer</td> <td>4.0  (only for <code>&lt;a&gt;</code>)</td> </tr>
<tr>
<td>Firefox</td> <td><strong>1.0</strong></td> </tr>
<tr>
<td>Opera</td> <td>5.0  (only for <code>&lt;a&gt;</code>)<br><strong>7.0</strong>
</td> </tr>
<tr>
<td>Safari</td> <td><strong>1.0</strong></td> </tr>
</tbody></table>
</div>
</div>