<div class="pageText" id="pageText">
<p><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span> </p>
<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p>The<code> :first-letter </code>CSS pseudo-element selects the first letter of the first line of a block, if it is not preceded by any other content (such as images or inline tables) on its line.</p>
</div>
<div id="section_2">
<span id="Examples"></span><h3 class="editable">Examples</h3>
<pre>/* make the first letter of every paragraph red and big */

p:first-letter  { color: red;  font-size: 130%; }</pre>
</div>
<div id="section_3">
<span id="Specifications"></span><h3 class="editable">Specifications</h3>
<ul>
<li><a class="external" title="http://www.w3.org/TR/CSS21/selector.html#first-letter" rel="external" href="http://www.w3.org/TR/CSS21/selector.html#first-letter" target="_blank">CSS 2.1 Selectors #first-letter</a></li> <li>
<a class="external" title="http://www.w3.org/TR/css3-selectors/#first-letter" target="_blank" rel="external" href="http://www.w3.org/TR/css3-selectors/#first-letter">CSS 3 Selectors #first-letter</a> Working draft</li>
</ul>
</div>
<div id="section_4">
<span id="Browser_compatibility"></span><h3 class="editable">Browser compatibility</h3>
<p>CSS 3 introduced the<code> ::first-letter </code>notation in order to establish a discrimination between pseudo-classes and pseudo-elements. Don't use the double colon notation yet for compatibility with Internet Explorer.</p>
<table class="standard-table"><tbody>
<tr>
<th>Browser</th> <th>Lowest Version</th> <th>Support of</th> </tr>
<tr>
<td>Internet Explorer</td> <td>5.5</td> <td><code>:first-letter</code></td> </tr>
<tr style="border-top: 2px solid silver;">
<td rowspan="2">Firefox (Gecko)</td> <td>1.0 (1.0)</td> <td><code>:first-letter</code></td> </tr>
<tr>
<td>1.0 (1.5)</td> <td><code>:first-letter | ::first-letter</code></td> </tr>
<tr style="border-top: 2px solid silver;">
<td rowspan="2">Opera</td> <td>3.5</td> <td><code>:first-letter</code></td> </tr>
<tr>
<td>7.0</td> <td><code>:first-letter | ::first-letter</code></td> </tr>
<tr style="border-top: 2px solid silver;">
<td>Safari (WebKit)</td> <td>1.0</td> <td><code>:first-letter | ::first-letter</code></td> </tr>
</tbody></table>
<p> </p>
</div>
</div>