<div class="pageText" id="pageText">
<p><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span> </p>
<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p>The<code> :first-line </code>CSS pseudo-element applies styles to the first line of a element. However, the selector<code> :first-line </code>does not match any real HTML element.</p>
</div>
<div id="section_2">
<span id="Examples"></span><h3 class="editable">Examples</h3>
<pre>
/* change the letters of the first line of every paragraph to uppercase */

p:first-line { text-transform: uppercase }
</pre>
</div>
<div id="section_3">
<span id="Browser_compatibility"></span><h3 class="editable">Browser compatibility</h3>
<table class="standard-table"><tbody>
<tr>
<th>Browser</th> <th>Lowest version</th> <th>Support of</th> </tr>
<tr>
<td>Internet Explorer</td> <td>5.5</td> <td><code>:first-line</code></td> </tr>
<tr>
<td rowspan="2">Firefox (Gecko)</td> <td>1.0 (1.0)</td> <td><code>:first-line</code></td> </tr>
<tr>
<td>1.0 (1.5)</td> <td><code>:first-line | ::first-line</code></td> </tr>
<tr>
<td rowspan="2">Opera</td> <td>3.5</td> <td><code>:first-line</code></td> </tr>
<tr>
<td>7.0</td> <td><code>:first-line | ::first-line</code></td> </tr>
<tr>
<td>Safari (WebKit)</td> <td>1.0 (85)</td> <td><code>:first-line | ::first-line</code></td> </tr>
</tbody></table>
<p>For compatibility with IE 5.5-8 avoid CSS3 notation<code> ::first-line </code>(use CSS2 notation<code> :first-line</code>).</p>
</div>
<div id="section_4">
<span id="Specifications"></span><h3 class="editable">Specifications</h3>
<ul>
<li><a title="http://www.w3.org/TR/CSS21/selector.html#first-line-pseudo" class="external" rel="external" href="http://www.w3.org/TR/CSS21/selector.html#first-line-pseudo" target="_blank">CSS 2.1 Selectors #first-line</a></li> <li>
<a title="http://www.w3.org/TR/css3-selectors/#first-line" class="external" rel="external" href="http://www.w3.org/TR/css3-selectors/#first-line" target="_blank">CSS 3 Selectors #first-line</a> Working draft</li>
</ul>
</div>
</div>