
<p><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span> </p>
<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p>The <code>:first-child</code> <a title="Pseudo-classes" rel="internal" href="https://developer.mozilla.org/en/CSS/Pseudo-classes">pseudo-class </a>represents any element that is the first child element of its parent.</p>
</div>
<div id="section_2">
<span id="Syntax"></span><h3 class="editable">Syntax</h3>
<pre class="eval">
element:first-child { <em>style properties</em> }
</pre>
</div>
<div id="section_3">
<span id="Examples"></span><h3 class="editable">Examples</h3>

          <pre name="code" class="css">span:first-child
{
    background-color: lime;
}</pre>
        
<p>...where...</p>

          <pre name="code" class="xml">&lt;div&gt;
    &lt;span&gt;This span is limed!&lt;/span&gt;
    &lt;span&gt;This span is not. :(&lt;/span&gt;
  &lt;/div&gt;</pre>
        
<p>... should look like ... <br><span style="background-color: lime;">This span is limed!</span> <span>This span is not. :(</span></p>
</div>
<div id="section_4">
<span id="Notes"></span><span id="Specifications"></span><h3 class="editable">Specifications</h3>
<ul>
<li><a class="external" rel="external" href="http://www.w3.org/TR/css3-selectors/#first-child-pseudo" title="http://www.w3.org/TR/css3-selectors/#first-child-pseudo" target="_blank">Selectors Level 3</a></li>
</ul>
</div>
<div id="section_5">
<span id="Browser_compatibility"></span><h3 class="editable"><span>Browser compatibility</span></h3>
<p>
<script type="text/javascript">/*<![CDATA[*/
        $(function() {
            $('.htab').append($('#compat-desktop'));
            $('.htab').append($('#compat-mobile'));
            var $items = $('.htab>ul>li');
            $items.click(function() {
                $items.removeClass('selected');
                $(this).addClass('selected');

                var index = $items.index($(this));
                $('.htab>div').hide().eq(index).show();
            }).eq(0).click();
        });
    /*]]>*/</script></p>
<div class="htab">
<a name="AutoCompatibilityTable"></a>
<ul>
<li class="selected">Desktop</li> <li>Mobile</li>
</ul>
</div>
<div id="compat-desktop">
<table class="compat-table"><tbody>
<tr>
<th>Feature</th> <th>Chrome</th> <th>Firefox (Gecko)</th> <th>Internet Explorer</th> <th>Opera</th> <th>Safari</th> </tr>
<tr>
<td>Basic support</td> <td>4.0</td> <td>3.0 (1.9)
</td> <td>7</td> <td>9.5</td> <td>4</td> </tr>
</tbody></table>
</div>
<div id="compat-mobile">
<table class="compat-table"><tbody>
<tr>
<th>Feature</th> <th>Android</th> <th>Firefox Mobile (Gecko)</th> <th>IE Mobile</th> <th>Opera Mobile</th> <th>Safari Mobile</th> </tr>
<tr>
<td>Basic support</td> <td>1.0</td> <td>1.0 (1.9.1)
</td> <td>7</td> <td>10.0</td> <td>3.1</td> </tr>
</tbody></table>
</div>
</div>
<div id="section_6">
<span id="Notes"></span><h3 class="editable">Notes</h3>
<ul>
<li>In Internet Explorer 8, if a element is inserted dynamically by clicking on a link the first-child style isn't applied until the link loses focus.</li>
</ul>
<p></p>
</div>