<div class="pageText" id="pageText">
<p><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span> </p>
<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p>The<code> :hover </code>CSS <a title="Pseudo-classes" rel="internal" href="https://developer.mozilla.org/en/CSS/Pseudo-classes">pseudo-class</a> matches when the user designates an element with a pointing device, but does not necessarily activate it.</p>
<p>Visual user agents, like Firefox, Internet Explorer, Safari, Opera or Chrome, apply the associated style when the cursor (mouse pointer) hovers over an element.</p>
<div class="note">
<strong>Usage Note</strong> : on touch screens there are no hover possible. The <code>:hover</code> pseudo-class never matches. As touchscreen devices are very common, it is important for web developer not to have content accessible only when hovering over it, as this content would be hidden for users of such devices.</div>
</div>
<div id="section_2">
<span id="Examples"></span><h3 class="editable">Examples</h3>
<pre>:link:hover { outline: dotted red; }

.foo:hover { background: gold; }</pre>
</div>
<div id="section_3">
<span id="Specifications"></span><h3 class="editable">Specifications</h3>
<ul>
<li><a class="external" title="http://www.w3.org/TR/CSS21/selector.html#dynamic-pseudo-classes" rel="external" href="http://www.w3.org/TR/CSS21/selector.html#dynamic-pseudo-classes" target="_blank">CSS 2.1 Selectors #dynamic-pseudo-classes</a></li>
</ul>
</div>
<div id="section_4">
<span id="Browser_compatibility"></span><h3 class="editable">Browser compatibility</h3>
<table class="standard-table"><tbody>
<tr>
<th>Browser</th> <th>Lowest Version</th> </tr>
<tr>
<td rowspan="2">Internet Explorer</td> <td>4.0  (only for <code>&lt;a&gt;</code>)</td> </tr>
<tr>
<td><strong>7.0</strong></td> </tr>
<tr>
<td>Firefox (Gecko)</td> <td>
<strong>1.0</strong> (1.0)</td> </tr>
<tr>
<td rowspan="2">Opera</td> <td>4.0  (only for <code>&lt;a&gt;</code>)</td> </tr>
<tr>
<td><strong>7.0</strong></td> </tr>
<tr>
<td>Safari (WebKit)</td> <td>
<strong>2.0.4</strong> (419)<br><span style="font-size: small;">various bugs before</span>
</td> </tr>
</tbody></table>
</div>
</div>