
<p><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span> </p>
<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p>The<code> :indeterminate </code>CSS <a title="en/CSS/Pseudo-classes" rel="internal" href="https://developer.mozilla.org/en/CSS/Pseudo-classes">pseudo-class</a> represents any<code> &lt;input type="checkbox"&gt; </code>element whose<code> indeterminate </code>DOM property is set to<code> true </code>by JavaScript. In addition, in some browsers, it can be used to match to 
<code><a rel="custom" href="https://developer.mozilla.org/en/HTML/Element/progress">&lt;progress&gt;</a></code> elements in an indeterminate state.</p>
</div>
<div id="section_2">
<span id="Examples"></span><h3 class="editable">Examples</h3>
<p><a class="external" title="http://www.w3.org/Style/CSS/Test/CSS3/Selectors/current/html/full/flat/css3-modsel-d5.html" rel="external" href="http://www.w3.org/Style/CSS/Test/CSS3/Selectors/current/html/full/flat/css3-modsel-d5.html" target="_blank">W3C CSS3 Selectors test#177</a></p>
<pre>
&lt;style&gt;
       input, span { background: red }
       :indeterminate, :indeterminate + span { background: limegreen }
&lt;/style&gt;

&lt;p&gt;&lt;input type=checkbox&gt; &lt;span&gt;Everything in this paragraph should have a green background.&lt;/span&gt;&lt;/p&gt;

&lt;script&gt; document.getElementsByTagName("input")[0].indeterminate = true; &lt;/script&gt;
</pre>
</div>
<div id="section_3">
<span id="Browser_compatibility"></span><h3 class="editable">Browser compatibility</h3>
<p>
<script type="text/javascript">/*<![CDATA[*/
        $(function() {
            $('.htab').append($('#compat-desktop'));
            $('.htab').append($('#compat-mobile'));
            var $items = $('.htab>ul>li');
            $items.click(function() {
                $items.removeClass('selected');
                $(this).addClass('selected');

                var index = $items.index($(this));
                $('.htab>div').hide().eq(index).show();
            }).eq(0).click();
        });
    /*]]>*/</script></p>
<div class="htab">
<a name="AutoCompatibilityTable"></a>
<ul>
<li class="selected">Desktop</li> <li>Mobile</li>
</ul>
</div>
<div id="compat-desktop">
<table class="compat-table"><tbody>
<tr>
<th>Feature</th> <th>Chrome</th> <th>Firefox (Gecko)</th> <th>Internet Explorer</th> <th>Opera</th> <th>Safari</th> </tr>
<tr>
<td>Checkboxes</td> <td><span title="Please update this with the earliest version of support." style="color: #888">(Supported)</span></td> <td>3.6 (1.9.2)
</td> <td>9.0</td> <td>10.60 (2.6)</td> <td>3.0</td> </tr>
<tr>
<td>
<code><a rel="custom" href="https://developer.mozilla.org/en/HTML/Element/progress">&lt;progress&gt;</a></code>
</td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> <td>6.0 (6.0)
</td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> </tr>
</tbody></table>
</div>
<div id="compat-mobile">
<table class="compat-table"><tbody>
<tr>
<th>Feature</th> <th>Android</th> <th>Firefox Mobile (Gecko)</th> <th>IE Mobile</th> <th>Opera Mobile</th> <th>Safari Mobile</th> </tr>
<tr>
<td>Checkboxes</td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> <td>1.0 (1.9.2)
</td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> </tr>
<tr>
<td>
<code><a rel="custom" href="https://developer.mozilla.org/en/HTML/Element/progress">&lt;progress&gt;</a></code>
</td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> <td>6.0 (6.0)
</td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> <td><span title="Compatibility unknown; please update this." style="color: rgb(255, 153, 0);">?</span></td> </tr>
</tbody></table>
</div>
</div>
<div id="section_4">
<span id="Specifications"></span><h3 class="editable">Specifications</h3>
<ul>
<li>
<a href="http://www.w3.org/TR/css3-selectors/#indeterminate" class="external" title="http://www.w3.org/TR/css3-selectors/#indeterminate" rel="external
    nofollow" target="_blank">CSS 3 Selectors #indeterminate</a> Working draft</li> <li><a class="external" title="http://www.w3.org/TR/html5/interactive-elements.html#selector-indeterminate" rel="external" href="http://www.w3.org/TR/html5/interactive-elements.html#selector-indeterminate" target="_blank">HTML 5 Interactive elements #selector-indeterminate</a></li> <li><a class="external" title="http://www.w3.org/TR/html5/forms.html#checkbox-state" rel="external" href="http://www.w3.org/TR/html5/forms.html#checkbox-state" target="_blank">HTML 5 Forms #checkbox-state</a></li>
</ul>
</div>
<div id="section_5">
<span id="See_also"></span><h3 class="editable">See also</h3>
<ul>
<li><a title="web-tech/2009/02/05/a-new-checkbox-type" rel="internal" href="https://developer.mozilla.org/web-tech/2009/02/05/a-new-checkbox-type" class="new internal">Web Tech Blog - A new checkbox type</a></li>
</ul>
</div>