<div class="pageText" id="pageText">
<p><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span> </p>
<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p>The <code>:last-child</code> <a title="Pseudo-classes" rel="internal" href="https://developer.mozilla.org/en/CSS/Pseudo-classes">pseudo-class</a> represents any element that is the last child element of its parent.</p>
</div>
<div id="section_2">
<span id="Syntax"></span><h3 class="editable">Syntax</h3>
<pre class="eval">element:last-child { <em>style properties</em> }
</pre>
<p>  </p>
</div>
<div id="section_3">
<span id="Examples"></span><h3 class="editable">Examples</h3>

          <pre name="code" class="css">span:last-child
{
    background-color: lime;
}</pre>
        
<p>...where...</p>

          <pre name="code" class="xml">&lt;div&gt;
    &lt;span&gt;This span is not limed.&lt;/span&gt;
    &lt;span&gt;This span is! :)&lt;/span&gt;
  &lt;/div&gt;</pre>
        
<p>... should look like ... <br><span>This span is not limed.</span> <span style="background-color: lime;">This span is! :)</span></p>
</div>
<div id="section_4">
<span id="Notes"></span><h3 class="editable">Notes</h3>
<p></p>
</div>
</div>