
<p><span class="lang lang-en">« <a title="en/CSS" rel="internal" href="https://developer.mozilla.org/en/CSS">CSS</a> « <a title="en/CSS_Reference" rel="internal" href="https://developer.mozilla.org/en/CSS/CSS_Reference">CSS Reference</a> </span> </p>
<div id="section_1">
<span id="Summary"></span><h3 class="editable">Summary</h3>
<p>The <code>:right</code> <a title="@page" rel="internal" href="https://developer.mozilla.org/en/CSS/@page">page</a> <a title="Pseudo-classes" rel="internal" href="https://developer.mozilla.org/en/CSS/Pseudo-classes">pseudo-class</a> matches any right page when printing a page. It allows to describe the styling of right-side page.</p>
<p>Whether the page is left or right is decided by the major writing direction of the document. For example, if the first page has a major writing direction of left-to-right then it will be a :right page and if it has a major writing direction of right-to-left then it will be a <code>:left</code> page.</p>
<div class="note">
<strong>Note:</strong> You can't change all CSS properties. You can only change the the margin, padding, border, and background properties of the page box. All other CSS properties will be ignored, and only the page box, not the document content on the page, will be affected.</div>
</div>
<div id="section_2">
<span id="Examples"></span><h3 class="editable">Examples</h3>

          <pre name="code" class="css">@page :right {
  margin: 2in 3in;
}</pre>
        
</div>
<div id="section_3">
<span id="Specifications"></span><h3 class="editable">Specifications</h3>
<p><a title="http://www.w3.org/TR/CSS21/page.html#page-selectors" class=" external" rel="external" href="http://www.w3.org/TR/CSS21/page.html#page-selectors" target="_blank">CSS 2.1 Paged media #page-selectors</a></p>
</div>
<div id="section_4">
<span id="Browser_compatibility"></span><h3 class="editable">Browser compatibility</h3>
<table class="standard-table"><tbody>
<tr>
<th>Browser</th> <th>Lowest Version</th> </tr>
<tr>
<td rowspan="2">Internet Explorer</td> </tr>
<tr>
<td><strong>8.0</strong></td> </tr>
<tr>
<td>Firefox (Gecko)</td> <td><strong>---</strong></td> </tr>
<tr>
<td rowspan="2">Opera</td> </tr>
<tr>
<td><strong>9.2</strong></td> </tr>
<tr>
<td>Safari (WebKit)</td> <td><strong>---</strong></td> </tr>
</tbody></table>
</div>
<div id="section_5">
<span id="See_also"></span><h3 class="editable">See also</h3>
<ul>
<li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/@page">@page</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/%3Afirst">:first</a></code>
</li> <li>
<code><a rel="custom" href="https://developer.mozilla.org/en/CSS/%3Aleft">:left</a></code>
</li>
</ul>
</div>