body {
  background:#eee;
  font-family:arial;
  font-size:12px;
  overflow-y:scroll;
}

hr {
  opacity:.3;
  margin:1em;
}

ul, ul li {
  margin:.05em;
  padding:.5em;
}

h1 {
  display:inline-block;
}

.sidepane {
  width:180px;
}

.results {
  width:74%;
}

.root {
  padding:1em;
  margin:0 auto;
}

.root > * {
  min-height:2em;
  padding:.5em 1em;
  margin:5px; 
  vertical-align:top;
  display:inline-block;
}

a, a:visited {
  color:inherit;
  text-decoration:none;
  opacity:.8;
}

a:hover {
  opacity:10;
}

.results .exact {
  margin:0.5em;
  background:white;
}


li {
  display:block;
  margin:1em;
}

.links a {
  text-align:right;
  margin:1em;
  background-repeat:no-repeat;
  background-position-left:0px;
  background-position-top:0px;
  background-size:14px;
  padding-left:1.7em;
}

.approximate {
  width:200px;
}

.history li, .approximate li {
  cursor:pointer;
}

.history li:hover {
  background:#ddd;
}

.approximate li:hover {
  background:#eee;
}

.history li.selected {
  color:green;
}

.header {
  border-bottom:1px solid #ccc;
  display:block;
  vertical-align:middle;
}

.header > * {
  margin:0em .5em;
}

.header .links {
  float:right;
  margin:1em 0em
}

noscript a {
  color:blue;
}
noscript a:visited {
  color:purple;
}

.links .github { background-image:url(../images/github.png); }
.links .mdn { background-image:url(../images/mdn.png); }
.links .source { background-image:url(../images/page.png); }